openapi: 3.2.0
info:
  title: Amazon Lightsail Container Services API
  description: Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers who need to build websites or web applications.
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Container Services
paths:
  /ls/api/2016-11-28/container-api-metadata:
    get:
      operationId: GetContainerAPIMetadata
      summary: Returns information about Amazon Lightsail containers, such as the current…
      description: Returns information about Amazon Lightsail containers, such as the current version of the Lightsail Control (lightsailctl) plugin.
      tags:
      - Container Services
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetContainerAPIMetadataResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerAPIMetadata
  /ls/api/2016-11-28/container-registry-login:
    post:
      operationId: CreateContainerServiceRegistryLogin
      summary: Creates a temporary set of log in credentials that you can use to log in to the…
      description: Creates a temporary set of log in credentials that you can use to log in to the Docker process on your local machine. After you're logged in, you can use the native Docker commands to push your local container images to the container image registry of your Amazon Lightsail account so that you can use them with your Lightsail container service. The log in credentials expire 12 hours after they are created, at which point you will need to create a new set of log in credentials. You can only push container images to the container service registry of your Lightsail account. You cannot pull container images or perform any other container image management actions on the container service registry. After you push your container images to the container image registry of your Lightsail account, use the RegisterContainerImage action to register the pushed images to a specific Lightsail container service. This action is not required if you install and use the Lightsail Control (lightsailctl) plugin to push container images to your Lightsail container service. For more information, see Pushing and managing container images on your Amazon Lightsail container services in the Amazon Lightsail Developer Guide .
      tags:
      - Container Services
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateContainerServiceRegistryLoginResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateContainerServiceRegistryLogin
  /ls/api/2016-11-28/container-service-powers:
    get:
      operationId: GetContainerServicePowers
      summary: Returns the list of powers that can be specified for your Amazon Lightsail…
      description: Returns the list of powers that can be specified for your Amazon Lightsail container services. The power specifies the amount of memory, the number of vCPUs, and the base price of the container service.
      tags:
      - Container Services
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetContainerServicePowersResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerServicePowers
  /ls/api/2016-11-28/container-services:
    post:
      operationId: CreateContainerService
      summary: Creates an Amazon Lightsail container service
      description: Creates an Amazon Lightsail container service. A Lightsail container service is a compute resource to which you can deploy containers. For more information, see Container services in Amazon Lightsail in the Lightsail Dev Guide .
      tags:
      - Container Services
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateContainerServiceRequest'
      responses:
        '201':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateContainerServiceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateContainerService
    get:
      operationId: GetContainerServices
      summary: Returns information about one or more of your Amazon Lightsail container…
      description: Returns information about one or more of your Amazon Lightsail container services.
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to return information. When omitted, the response includes all of your container services in the Amazon Web Services Region where the request is made.
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ContainerServicesListResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerServices
  /ls/api/2016-11-28/container-services/{serviceName}:
    delete:
      operationId: DeleteContainerService
      summary: Deletes your Amazon Lightsail container service
      description: Deletes your Amazon Lightsail container service.
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service to delete.
      responses:
        '204':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteContainerServiceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteContainerService
    patch:
      operationId: UpdateContainerService
      summary: Updates the configuration of your Amazon Lightsail container service, such as…
      description: Updates the configuration of your Amazon Lightsail container service, such as its power, scale, and public domain names.
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service to update.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                power:
                  $ref: '#/components/schemas/ContainerServicePowerName'
                scale:
                  $ref: '#/components/schemas/ContainerServiceScale'
                isDisabled:
                  $ref: '#/components/schemas/boolean'
                publicDomainNames:
                  $ref: '#/components/schemas/ContainerServicePublicDomains'
                privateRegistryAccess:
                  $ref: '#/components/schemas/PrivateRegistryAccessRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UpdateContainerServiceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.UpdateContainerService
  /ls/api/2016-11-28/container-services/{serviceName}/containers/{containerName}/log:
    get:
      operationId: GetContainerLog
      summary: Returns the log events of a container of your Amazon Lightsail container service
      description: Returns the log events of a container of your Amazon Lightsail container service. If your container service has more than one node (i.e., a scale greater than 1), then the log events that are returned for the specified container are merged from all nodes on your container service. Container logs are retained for a certain amount of time. For more information, see Amazon Lightsail endpoints and quotas in the Amazon Web Services General Reference .
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to get a container log.
      - name: containerName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/string'
        description: The name of the container that is either running or previously ran on the container service for which to return a log.
      - name: startTime
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/IsoDate'
        description: 'The start of the time interval for which to get log data. Constraints: Specified in Coordinated Universal Time (UTC). Specified in the Unix time format. For example, if you wish to use a start time of October 1, 2018, at 8 PM UTC, specify 1538424000 as the start time. You can convert a human-friendly time to Unix time format using a converter like Epoch converter .'
      - name: endTime
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/IsoDate'
        description: 'The end of the time interval for which to get log data. Constraints: Specified in Coordinated Universal Time (UTC). Specified in the Unix time format. For example, if you wish to use an end time of October 1, 2018, at 9 PM UTC, specify 1538427600 as the end time. You can convert a human-friendly time to Unix time format using a converter like Epoch converter .'
      - name: filterPattern
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/string'
        description: 'The pattern to use to filter the returned log events to a specific term. The following are a few examples of filter patterns that you can specify: To return all log events, specify a filter pattern of "" . To exclude log events that contain the ERROR term, and return all other log events, specify a filter pattern of "-ERROR" . To return log events that contain the ERROR term, specify a filter pattern of "ERROR" . To return log events that contain both the ERROR and Exception terms, specify a filter pattern of "ERROR Exception" . To return log events that contain the ERROR or the Exception term, specify a filter pattern of "?ERROR ?Exception" .'
      - name: pageToken
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/string'
        description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetContainerLog request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetContainerLogResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerLog
  /ls/api/2016-11-28/container-services/{serviceName}/deployments:
    post:
      operationId: CreateContainerServiceDeployment
      summary: Creates a deployment for your Amazon Lightsail container service
      description: Creates a deployment for your Amazon Lightsail container service. A deployment specifies the containers that will be launched on the container service and their settings, such as the ports to open, the environment variables to apply, and the launch command to run. It also specifies the container that will serve as the public endpoint of the deployment and its settings, such as the HTTP or HTTPS port to use, and the health check configuration. You can deploy containers to your container service using container images from a public registry such as Amazon ECR Public, or from your local machine. For more information, see Creating container images for your Amazon Lightsail container services in the Amazon Lightsail Developer Guide .
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to create the deployment.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                containers:
                  $ref: '#/components/schemas/ContainerMap'
                publicEndpoint:
                  $ref: '#/components/schemas/EndpointRequest'
      responses:
        '201':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateContainerServiceDeploymentResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateContainerServiceDeployment
    get:
      operationId: GetContainerServiceDeployments
      summary: Returns the deployments for your Amazon Lightsail container service A…
      description: Returns the deployments for your Amazon Lightsail container service A deployment specifies the settings, such as the ports and launch command, of containers that are deployed to your container service. The deployments are ordered by version in ascending order. The newest version is listed at the top of the response. A set number of deployments are kept before the oldest one is replaced with the newest one. For more information, see Amazon Lightsail endpoints and quotas in the Amazon Web Services General Reference .
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to return deployments.
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetContainerServiceDeploymentsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerServiceDeployments
  /ls/api/2016-11-28/container-services/{serviceName}/images:
    get:
      operationId: GetContainerImages
      summary: Returns the container images that are registered to your Amazon Lightsail…
      description: Returns the container images that are registered to your Amazon Lightsail container service. If you created a deployment on your Lightsail container service that uses container images from a public registry like Docker Hub, those images are not returned as part of this action. Those images are not registered to your Lightsail container service.
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to return registered container images.
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetContainerImagesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerImages
    post:
      operationId: RegisterContainerImage
      summary: Registers a container image to your Amazon Lightsail container service
      description: Registers a container image to your Amazon Lightsail container service. This action is not required if you install and use the Lightsail Control (lightsailctl) plugin to push container images to your Lightsail container service. For more information, see Pushing and managing container images on your Amazon Lightsail container services in the Amazon Lightsail Developer Guide .
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to register a container image.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                label:
                  $ref: '#/components/schemas/ContainerLabel'
                digest:
                  $ref: '#/components/schemas/string'
              required:
              - label
              - digest
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegisterContainerImageResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.RegisterContainerImage
  /ls/api/2016-11-28/container-services/{serviceName}/images/{image}:
    delete:
      operationId: DeleteContainerImage
      summary: Deletes a container image that is registered to your Amazon Lightsail container…
      description: Deletes a container image that is registered to your Amazon Lightsail container service.
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to delete a registered container image.
      - name: image
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/string'
        description: 'The name of the container image to delete from the container service. Use the GetContainerImages action to get the name of the container images that are registered to a container service. Container images sourced from your Lightsail container service, that are registered and stored on your service, start with a colon ( : ). For example, :container-service-1.mystaticwebsite.1 . Container images sourced from a public registry like Docker Hub don''t start with a colon. For example, nginx:latest or nginx .'
      responses:
        '204':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteContainerImageResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteContainerImage
  /ls/api/2016-11-28/container-services/{serviceName}/metrics:
    get:
      operationId: GetContainerServiceMetricData
      summary: Returns the data points of a specific metric of your Amazon Lightsail container…
      description: Returns the data points of a specific metric of your Amazon Lightsail container service. Metrics report the utilization of your resources. Monitor and collect metric data regularly to maintain the reliability, availability, and performance of your resources.
      tags:
      - Container Services
      parameters:
      - name: serviceName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceName'
        description: The name of the container service for which to get metric data.
      - name: metricName
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ContainerServiceMetricName'
        description: 'The metric for which you want to return information. Valid container service metric names are listed below, along with the most useful statistics to include in your request, and the published unit value. CPUUtilization - The average percentage of compute units that are currently in use across all nodes of the container service. This metric identifies the processing power required to run containers on each node of the container service. Statistics: The most useful statistics are Maximum and Average . Unit: The published unit is Percent . MemoryUtilization - The average percentage of available memory that is currently in use across all nodes of the container service. This metric identifies the memory required to run containers on each node of the container service. Statistics: The most useful statistics are Maximum and Average . Unit: The published unit is Percent .'
      - name: startTime
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/IsoDate'
        description: The start time of the time period.
      - name: endTime
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/IsoDate'
        description: The end time of the time period.
      - name: period
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/MetricPeriod'
        description: The granularity, in seconds, of the returned data points. All container service metric data is available in 5-minute (300 seconds) granularity.
      - name: statistics
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/MetricStatisticList'
        description: 'The statistic for the metric. The following statistics are available: Minimum - The lowest value observed during the specified period. Use this value to determine low volumes of activity for your application. Maximum - The highest value observed during the specified period. Use this value to determine high volumes of activity for your application. Sum - All values submitted for the matching metric added together. You can use this statistic to determine the total volume of a metric. Average - The value of Sum / SampleCount during the specified period. By comparing this statistic with the Minimum and Maximum values, you can determine the full scope of a metric and how close the average use is to the Minimum and Maximum values. This comparison helps you to know when to increase or decrease your resources. SampleCount - The count, or number, of data points used for the statistical calculation.'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetContainerServiceMetricDataResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetContainerServiceMetricData
components:
  schemas:
    TagValue:
      type: string
    MetricUnit:
      type: string
      enum:
      - Seconds
      - Microseconds
      - Milliseconds
      - Bytes
      - Kilobytes
      - Megabytes
      - Gigabytes
      - Terabytes
      - Bits
      - Kilobits
      - Megabits
      - Gigabits
      - Terabits
      - Percent
      - Count
      - Bytes/Second
      - Kilobytes/Second
      - Megabytes/Second
      - Gigabytes/Second
      - Terabytes/Second
      - Bits/Second
      - Kilobits/Second
      - Megabits/Second
      - Gigabits/Second
      - Terabits/Second
      - Count/Second
      - None
    RegionSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Regions and Availability Zones for Lightsail
        message:
          $ref: '#/components/schemas/string'
        tip:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Opt-in Regions typically take a few minutes to finish setting up before you can work with them. Wait a few minutes and try again.
      description: Lightsail throws this exception when an operation is performed on resources in an opt-in Region that is currently being set up.
    double:
      type: number
    ContainerMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/Container'
    ContainerServiceLogEventList:
      type: array
      items:
        $ref: '#/components/schemas/ContainerServiceLogEvent'
    IsoDate:
      type: string
      format: date-time
    ContainerServicePowerList:
      type: array
      items:
        $ref: '#/components/schemas/ContainerServicePower'
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    GetContainerImagesResult:
      type: object
      properties:
        containerImages:
          allOf:
          - $ref: '#/components/schemas/ContainerImageList'
          description: An array of objects that describe container images that are registered to the container service.
    ContainerServiceScale:
      type: integer
      minimum: 1
      maximum: 20
    StringList:
      type: array
      items:
        $ref: '#/components/schemas/string'
    ContainerServiceStateDetail:
      type: object
      properties:
        code:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceStateDetailCode'
          description: 'The state code of the container service. The following state codes are possible: The following state codes are possible if your container service is in a DEPLOYING or UPDATING state: CREATING_SYSTEM_RESOURCES - The system resources for your container service are being created. CREATING_NETWORK_INFRASTRUCTURE - The network infrastructure for your container service are being created. PROVISIONING_CERTIFICATE - The SSL/TLS certificate for your container service is being created. PROVISIONING_SERVICE - Your container service is being provisioned. CREATING_DEPLOYMENT - Your deployment is being created on your container service. EVALUATING_HEALTH_CHECK - The health of your deployment is being evaluated. ACTIVATING_DEPLOYMENT - Your deployment is being activated. The following state codes are possible if your container service is in a PENDING state: CERTIFICATE_LIMIT_EXCEEDED - The SSL/TLS certificate required for your container service exceeds the maximum number of certificates allowed for your account. UNKNOWN_ERROR - An error was experienced when your container service was being created.'
        message:
          allOf:
          - $ref: '#/components/schemas/string'
          description: A message that provides more information for the state code. The state detail is populated only when a container service is in a PENDING , DEPLOYING , or UPDATING state.
      description: Describes the current state of a container service.
    ContainerLabel:
      type: string
      pattern: ^[a-z0-9]{1,2}|[a-z0-9][a-z0-9-]+[a-z0-9]$
      minLength: 1
      maxLength: 53
    ContainerServiceMetadataEntryList:
      type: array
      items:
        $ref: '#/components/schemas/ContainerServiceMetadataEntry'
    ContainerServiceName:
      type: string
      pattern: ^[a-z0-9]{1,2}|[a-z0-9][a-z0-9-]+[a-z0-9]$
      minLength: 1
      maxLength: 63
    NonEmptyString:
      type: string
      pattern: \S
    ContainerServiceRegistryLogin:
      type: object
      properties:
        username:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The container service registry username to use to push container images to the container image registry of a Lightsail account.
        password:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The container service registry password to use to push container images to the container image registry of a Lightsail account
        expiresAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp of when the container image registry sign-in credentials expire. The log in credentials expire 12 hours after they are created, at which point you will need to create a new set of log in credentials using the CreateContainerServiceRegistryLogin action.
        registry:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The address to use to push container images to the container image registry of a Lightsail account.
      description: Describes the sign-in credentials for the container image registry of an Amazon Lightsail account.
    ResourceType:
      type: string
      enum:
      - ContainerService
      - Instance
      - StaticIp
      - KeyPair
      - InstanceSnapshot
      - Domain
      - PeeredVpc
      - LoadBalancer
      - LoadBalancerTlsCertificate
      - Disk
      - DiskSnapshot
      - RelationalDatabase
      - RelationalDatabaseSnapshot
      - ExportSnapshotRecord
      - CloudFormationStackRecord
      - Alarm
      - ContactMethod
      - Distribution
      - Certificate
      - Bucket
    PrivateRegistryAccessRequest:
      type: object
      properties:
        ecrImagePullerRole:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceECRImagePullerRoleRequest'
          description: An object to describe a request to activate or deactivate the role that you can use to grant an Amazon Lightsail container service access to Amazon Elastic Container Registry (Amazon ECR) private repositories.
      description: Describes a request to configure an Amazon Lightsail container service to access private container image repositories, such as Amazon Elastic Container Registry (Amazon ECR) private repositories. For more information, see Configuring access to an Amazon ECR private repository for an Amazon Lightsail container service in the Amazon Lightsail Developer Guide .
    ContainerServiceMetadataEntry:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/string'
    MetricDatapointList:
      type: array
      items:
        $ref: '#/components/schemas/MetricDatapoint'
    MetricStatistic:
      type: string
      enum:
      - Minimum
      - Maximum
      - Sum
      - Average
      - SampleCount
    Tag:
      type: object
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/TagKey'
          description: 'The key of the tag. Constraints: Tag keys accept a maximum of 128 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
        value:
          allOf:
          - $ref: '#/components/schemas/TagValue'
          description: 'The value of the tag. Constraints: Tag values accept a maximum of 256 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
      description: Describes a tag key and optional value assigned to an Amazon Lightsail resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
    MetricDatapoint:
      type: object
      properties:
        average:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The average.
        maximum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The maximum.
        minimum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The minimum.
        sampleCount:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The sample count.
        sum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The sum.
        timestamp:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          description: The timestamp ( 1479816991.349 ).
        unit:
          allOf:
          - $ref: '#/components/schemas/MetricUnit'
          description: The unit.
      description: Describes the metric data point.
    PrivateRegistryAccess:
      type: object
      properties:
        ecrImagePullerRole:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceECRImagePullerRole'
          description: An object that describes the activation status of the role that you can use to grant a Lightsail container service access to Amazon ECR private repositories. If the role is activated, the Amazon Resource Name (ARN) of the role is also listed.
      description: Describes the configuration for an Amazon Lightsail container service to access private container image repositories, such as Amazon Elastic Container Registry (Amazon ECR) private repositories. For more information, see Configuring access to an Amazon ECR private repository for an Amazon Lightsail container service in the Amazon Lightsail Developer Guide .
    ServiceException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: A general service exception.
    ContainerServiceDeploymentList:
      type: array
      items:
        $ref: '#/components/schemas/ContainerServiceDeployment'
    DeleteContainerImageResult:
      type: object
    ContainerServiceDeploymentState:
      type: string
      enum:
      - ACTIVATING
      - ACTIVE
      - INACTIVE
      - FAILED
    ContainerServiceDeploymentRequest:
      type: object
      properties:
        containers:
          allOf:
          - $ref: '#/components/schemas/ContainerMap'
          description: An object that describes the configuration for the containers of the deployment.
        publicEndpoint:
          allOf:
          - $ref: '#/components/schemas/EndpointRequest'
          description: An object that describes the endpoint of the deployment.
      description: Describes a container deployment configuration of an Amazon Lightsail container service. A deployment specifies the settings, such as the ports and launch command, of containers that are deployed to your container service.
    MetricStatisticList:
      type: array
      items:
        $ref: '#/components/schemas/MetricStatistic'
    ContainerServicePublicDomains:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ContainerServicePublicDomainsList'
    UpdateContainerServiceResult:
      type: object
      properties:
        containerService:
          allOf:
          - $ref: '#/components/schemas/ContainerService'
          description: An object that describes a container service.
    ContainerServiceStateDetailCode:
      type: string
      enum:
      - CREATING_SYSTEM_RESOURCES
      - CREATING_NETWORK_INFRASTRUCTURE
      - PROVISIONING_CERTIFICATE
      - PROVISIONING_SERVICE
      - CREATING_DEPLOYMENT
      - EVALUATING_HEALTH_CHECK
      - ACTIVATING_DEPLOYMENT
      - CERTIFICATE_LIMIT_EXCEEDED
      - UNKNOWN_ERROR
    ContainerServiceMetricName:
      type: string
      enum:
      - CPUUtilization
      - MemoryUtilization
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    ContainerServiceHealthCheckConfig:
      type: object
      properties:
        healthyThreshold:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The number of consecutive health checks successes required before moving the container to the Healthy state. The default value is 2 .
        unhealthyThreshold:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The number of consecutive health check failures required before moving the container to the Unhealthy state. The default value is 2 .
        timeoutSeconds:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The amount of time, in seconds, during which no response means a failed health check. You can specify between 2 and 60 seconds. The default value is 2 .
        intervalSeconds:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The approximate interval, in seconds, between health checks of an individual container. You can specify between 5 and 300 seconds. The default value is 5 .
        path:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The path on the container on which to perform the health check. The default value is / .
        successCodes:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The HTTP codes to use when checking for a successful response from a container. You can specify values between 200 and 499 . You can specify multiple values (for example, 200,202 ) or a range of values (for example, 200-299 ).
      description: Describes the health check configuration of an Amazon Lightsail container service.
    ContainerImage:
      type: object
      properties:
        image:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the container image.
        digest:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The digest of the container image.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the container image was created.
      description: Describes a container image that is registered to an Amazon Lightsail container service.
    boolean:
      type: boolean
    GetContainerServicePowersResult:
      type: object
      properties:
        powers:
          allOf:
          - $ref: '#/components/schemas/ContainerServicePowerList'
          description: An array of objects that describe the powers that can be specified for a container service.
    ContainerServiceLogEvent:
      type: object
      properties:
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the container service log event was created.
        message:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The message of the container service log event.
      description: Describes the log events of a container of an Amazon Lightsail container service.
    GetContainerServiceMetricDataResult:
      type: object
      properties:
        metricName:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceMetricName'
          description: The name of the metric returned.
        metricData:
          allOf:
          - $ref: '#/components/schemas/MetricDatapointList'
          description: An array of objects that describe the metric data returned.
    ContainerImageList:
      type: array
      items:
        $ref: '#/components/schemas/ContainerImage'
    ContainerServiceECRImagePullerRole:
      type: object
      properties:
        isActive:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value that indicates whether the role is activated.
        principalArn:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Amazon Resource Name (ARN) of the role, if it is activated.
      description: Describes the activation status of the role that you can use to grant an Amazon Lightsail container service access to Amazon Elastic Container Registry (Amazon ECR) private repositories. When activated, Lightsail creates an Identity and Access Management (IAM) role for the specified Lightsail container service. You can use the ARN of the role to create a trust relationship between your Lightsail container service and an Amazon ECR private repository in your Amazon Web Services account. This allows your container service to pull images from Amazon ECR private repositories. For more information, see Configuring access to an Amazon ECR private repository for an Amazon Lightsail container service in the Amazon Lightsail Developer Guide .
    ContainerServicePublicDomainsList:
      type: array
      items:
        $ref: '#/components/schemas/string'
    RegionName:
      type: string
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-north-1
      - eu-south-2
      - ca-central-1
      - ap-east-1
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-3
      - ap-southeast-5
      - sa-east-1
    ContainerServiceECRImagePullerRoleRequest:
      type: object
      properties:
        isActive:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value that indicates whether to activate the role.
      description: Describes a request to activate or deactivate the role that you can use to grant an Amazon Lightsail container service access to Amazon Elastic Container Registry (Amazon ECR) private repositories. When activated, Lightsail creates an Identity and Access Management (IAM) role for the specified Lightsail container service. You can use the ARN of the role to create a trust relationship between your Lightsail container service and an Amazon ECR private repository in your Amazon Web Services account. This allows your container service to pull images from Amazon ECR private repositories. For more information, see Configuring access to an Amazon ECR private repository for an Amazon Lightsail container service in the Amazon Lightsail Developer Guide .
    ContainerServiceState:
      type: string
      enum:
      - PENDING
      - READY
      - RUNNING
      - UPDATING
      - DELETING
      - DISABLED
      - DEPLOYING
    DeleteContainerServiceResult:
      type: object
    timestamp:
      type: string
      format: date-time
    GetContainerAPIMetadataResult:
      type: object
      properties:
        metadata:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceMetadataEntryList'
          description: Metadata about Lightsail containers, such as the current version of the Lightsail Control (lightsailctl) plugin.
    GetContainerServiceDeploymentsResult:
      type: object
      properties:
        deployments:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceDeploymentList'
          description: An array of objects that describe deployments for a container service.
    integer:
      type: integer
    ContainerServiceProtocol:
      type: string
      enum:
      - HTTP
      - HTTPS
      - TCP
      - UDP
    EndpointRequest:
      type: object
      properties:
        containerName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the container for the endpoint.
        containerPort:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The port of the container to which traffic is forwarded to.
        healthCheck:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceHealthCheckConfig'
          description: An object that describes the health check configuration of the container.
      required:
      - containerName
      - containerPort
      description: Describes the settings of a public endpoint for an Amazon Lightsail container service.
    ContainerService:
      type: object
      properties:
        containerServiceName:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceName'
          description: The name of the container service.
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the container service.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the container service was created.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: An object that describes the location of the container service, such as the Amazon Web Services Region and Availability Zone.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The Lightsail resource type of the container service.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        power:
          allOf:
          - $ref: '#/components/schemas/ContainerServicePowerName'
          description: The power specification of the container service. The power specifies the amount of RAM, the number of vCPUs, and the base price of the container service.
        powerId:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The ID of the power of the container service.
        state:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceState'
          description: 'The current state of the container service. The following container service states are possible: PENDING - The container service is being created. READY - The container service is running but it does not have an active container deployment. DEPLOYING - The container service is launching a container deployment. RUNNING - The container service is running and it has an active container deployment. UPDATING - The container service capacity or its custom domains are being updated. DELETING - The container service is being deleted. DISABLED - The container service is disabled, and its active deployment and containers, if any, are shut down.'
        stateDetail:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceStateDetail'
          description: An object that describes the current state of the container service. The state detail is populated only when a container service is in a PENDING , DEPLOYING , or UPDATING state.
        scale:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceScale'
          description: The scale specification of the container service. The scale specifies the allocated compute nodes of the container service.
        currentDeployment:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceDeployment'
          description: An object that describes the current container deployment of the container service.
        nextDeployment:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceDeployment'
          description: An object that describes the next deployment of the container service. This value is null when there is no deployment in a pending state.
        isDisabled:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the container service is disabled.
        principalArn:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The principal ARN of the container service. The principal ARN can be used to create a trust relationship between your standard Amazon Web Services account and your Lightsail container service. This allows you to give your service permission to access resources in your standard Amazon Web Services account.
        privateDomainName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The private domain name of the container service. The private domain name is accessible only by other resources within the default virtual private cloud (VPC) of your Lightsail account.
        publicDomainNames:
          allOf:
          - $ref: '#/components/schemas/ContainerServicePublicDomains'
          description: The public domain name of the container service, such as example.com and www.example.com . You can specify up to four public domain names for a container service. The domain names that you specify are used when you create a deployment with a container configured as the public endpoint of your container service. If you don't specify public domain names, then you can use the default domain of the container service. You must create and validate an SSL/TLS certificate before you can use public domain names with your container service. Use the CreateCertificate action to create a certificate for the public domain names you want to use with your container service. See CreateContainerService or UpdateContainerService for information about how to specify public domain names for your Lightsail container service.
        url:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The publicly accessible URL of the container service. If no public endpoint is specified in the currentDeployment , this URL returns a 404 response.
        privateRegistryAccess:
          allOf:
          - $ref: '#/components/schemas/PrivateRegistryAccess'
          description: An object that describes the configuration for the container service to access private container image repositories, such as Amazon Elastic Container Registry (Amazon ECR) private repositories. For more information, see Configuring access to an Amazon ECR private repository for an Amazon Lightsail container service in the Amazon Lightsail Developer Guide .
      description: Describes an Amazon Lightsail container service.
    TagKey:
      type: string
    GetContainerLogResult:
      type: object
      properties:
        logEvents:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceLogEventList'
          description: An array of objects that describe the log events of a container.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetContainerLog request and specify the next page token using the pageToken parameter.
    Environment:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/string'
    string:
      type: string
    ContainerServiceList:
      type: array
      items:
        $ref: '#/components/schemas/ContainerService'
    CreateContainerServiceResult:
      type: object
      properties:
        containerService:
          allOf:
          - $ref: '#/components/schemas/ContainerService'
          description: An object that describes a container service.
    float:
      type: number
    ContainerServicePowerName:
      type: string
      enum:
      - nano
      - micro
      - small
      - medium
      - large
      - xlarge
    PortMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ContainerServiceProtocol'
    ContainerServiceDeployment:
      type: object
      properties:
        version:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The version number of the deployment.
        state:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceDeploymentState'
          description: 'The state of the deployment. A deployment can be in one of the following states: ACTIVATING - The deployment is being created. ACTIVE - The deployment was successfully created, and it''s currently running on the container service. The container service can have only one deployment in an active state at a time. INACTIVE - The deployment was previously successfully created, but it is not currently running on the container service. FAILED - The deployment failed. Use the GetContainerLog action to view the log events for the containers in the deployment to try to determine the reason for the failure.'
        containers:
          allOf:
          - $ref: '#/components/schemas/ContainerMap'
          description: An object that describes the configuration for the containers of the deployment.
        publicEndpoint:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceEndpoint'
          description: An object that describes the endpoint of the deployment.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the deployment was created.
      description: Describes a container deployment configuration of an Amazon Lightsail container service. A deployment specifies the settings, such as the ports and launch command, of containers that are deployed to your container service.
    ContainerServiceEndpoint:
      type: object
      properties:
        containerName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the container entry of the deployment that the endpoint configuration applies to.
        containerPort:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The port of the specified container to which traffic is forwarded to.
        healthCheck:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceHealthCheckConfig'
          description: An object that describes the health check configuration of the container.
      description: Describes the public endpoint configuration of a deployment of an Amazon Lightsail container service.
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    RegisterContainerImageResult:
      type: object
      properties:
        containerImage:
          allOf:
          - $ref: '#/components/schemas/ContainerImage'
          description: An object that describes a container image that is registered to a Lightsail container service
    MetricPeriod:
      type: integer
      minimum: 60
      maximum: 86400
    ContainerServicesListResult:
      type: object
      properties:
        containerServices:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceList'
          description: An array of objects that describe one or more container services.
    CreateContainerServiceRequest:
      type: object
      properties:
        serviceName:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceName'
          description: 'The name for the container service. The name that you specify for your container service will make up part of its default domain. The default domain of a container service is typically https:// . . .cs.amazonlightsail.com . If the name of your container service is container-service-1 , and it''s located in the US East (Ohio) Amazon Web Services Region ( us-east-2 ), then the domain for your container service will be like the following example: https://container-service-1.ur4EXAMPLE2uq.us-east-2.cs.amazonlightsail.com The following are the requirements for container service names: Must be unique within each Amazon Web Services Region in your Lightsail account. Must contain 1 to 63 characters. Must contain only alphanumeric characters and hyphens. A hyphen (-) can separate words but cannot be at the start or end of the name.'
        power:
          allOf:
          - $ref: '#/components/schemas/ContainerServicePowerName'
          description: The power specification for the container service. The power specifies the amount of memory, vCPUs, and base monthly cost of each node of the container service. The power and scale of a container service makes up its configured capacity. To determine the monthly price of your container service, multiply the base price of the power with the scale (the number of nodes) of the service. Use the GetContainerServicePowers action to get a list of power options that you can specify using this parameter, and their base monthly cost.
        scale:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceScale'
          description: The scale specification for the container service. The scale specifies the allocated compute nodes of the container service. The power and scale of a container service makes up its configured capacity. To determine the monthly price of your container service, multiply the base price of the power with the scale (the number of nodes) of the service.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the container service during create. Use the TagResource action to tag a resource after it's created. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        publicDomainNames:
          allOf:
          - $ref: '#/components/schemas/ContainerServicePublicDomains'
          description: The public domain names to use with the container service, such as example.com and www.example.com . You can specify up to four public domain names for a container service. The domain names that you specify are used when you create a deployment with a container configured as the public endpoint of your container service. If you don't specify public domain names, then you can use the default domain of the container service. You must create and validate an SSL/TLS certificate before you can use public domain names with your container service. Use the CreateCertificate action to create a certificate for the public domain names you want to use with your container service. You can specify public domain names using a string to array map as shown in the example later on this page.
        deployment:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceDeploymentRequest'
          description: An object that describes a deployment for the container service. A deployment specifies the containers that will be launched on the container service and their settings, such as the ports to open, the environment variables to apply, and the launch command to run. It also specifies the container that will serve as the public endpoint of the deployment and its settings, such as the HTTP or HTTPS port to use, and the health check configuration.
        privateRegistryAccess:
          allOf:
          - $ref: '#/components/schemas/PrivateRegistryAccessRequest'
          description: An object to describe the configuration for the container service to access private container image repositories, such as Amazon Elastic Container Registry (Amazon ECR) private repositories. For more information, see Configuring access to an Amazon ECR private repository for an Amazon Lightsail container service in the Amazon Lightsail Developer Guide .
      required:
      - serviceName
      - power
      - scale
    ContainerServicePower:
      type: object
      properties:
        powerId:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The ID of the power ( nano-1 ).
        price:
          allOf:
          - $ref: '#/components/schemas/float'
          description: The monthly price of the power in USD.
        cpuCount:
          allOf:
          - $ref: '#/components/schemas/float'
          description: The number of vCPUs included in the power.
        ramSizeInGb:
          allOf:
          - $ref: '#/components/schemas/float'
          description: The amount of RAM (in GB) of the power.
        name:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The friendly name of the power ( nano ).
        isActive:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the power is active and can be specified for container services.
      description: Describes the powers that can be specified for an Amazon Lightsail container service. The power specifies the amount of RAM, the number of vCPUs, and the base price of the container service.
    Container:
      type: object
      properties:
        image:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The name of the image used for the container. Container images sourced from your Lightsail container service, that are registered and stored on your service, start with a colon ( : ). For example, if your container service name is container-service-1 , the container image label is mystaticsite , and you want to use the third ( 3 ) version of the registered container image, then you should specify :container-service-1.mystaticsite.3 . To use the latest version of a container image, specify latest instead of a version number (for example, :container-service-1.mystaticsite.latest ). Lightsail will automatically use the highest numbered version of the registered container image. Container images sourced from a public registry like Docker Hub don''t start with a colon. For example, nginx:latest or nginx .'
        command:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The launch command for the container.
        environment:
          allOf:
          - $ref: '#/components/schemas/Environment'
          description: The environment variables of the container.
        ports:
          allOf:
          - $ref: '#/components/schemas/PortMap'
          description: The open firewall ports of the container.
      description: Describes the settings of a container that will be launched, or that is launched, to an Amazon Lightsail container service.
    CreateContainerServiceDeploymentResult:
      type: object
      properties:
        containerService:
          allOf:
          - $ref: '#/components/schemas/ContainerService'
          description: An object that describes a container service.
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
    CreateContainerServiceRegistryLoginResult:
      type: object
      properties:
        registryLogin:
          allOf:
          - $ref: '#/components/schemas/ContainerServiceRegistryLogin'
          description: An object that describes the log in information for the container service registry of your Lightsail account.
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4. Sign each request with IAM credentials for service name "lightsail"; the Authorization header carries the AWS4-HMAC-SHA256 credential scope, signed headers and signature. Temporary STS credentials additionally require X-Amz-Security-Token. See https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/CommonParameters.html
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
