openapi: 3.2.0
info:
  title: Amazon Lightsail Certificates API
  description: Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers who need to build websites or web applications.
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Certificates
paths:
  /ls/api/2016-11-28/AttachLoadBalancerTlsCertificate:
    post:
      operationId: AttachLoadBalancerTlsCertificate
      summary: Attaches a Transport Layer Security (TLS) certificate to your load balancer
      description: Attaches a Transport Layer Security (TLS) certificate to your load balancer. TLS is just an updated, more secure version of Secure Socket Layer (SSL). Once you create and validate your certificate, you can attach it to your load balancer. You can also use this API to rotate the certificates on your account. Use the AttachLoadBalancerTlsCertificate action with the non-attached certificate, and it will replace the existing one and become the attached certificate. The AttachLoadBalancerTlsCertificate operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachLoadBalancerTlsCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachLoadBalancerTlsCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachLoadBalancerTlsCertificate
  /ls/api/2016-11-28/CreateCertificate:
    post:
      operationId: CreateCertificate
      summary: Creates an SSL/TLS certificate for an Amazon Lightsail content delivery network…
      description: Creates an SSL/TLS certificate for an Amazon Lightsail content delivery network (CDN) distribution and a container service. After the certificate is valid, use the AttachCertificateToDistribution action to use the certificate and its domains with your distribution. Or use the UpdateContainerService action to use the certificate and its domains with your container service. Only certificates created in the us-east-1 Amazon Web Services Region can be attached to Lightsail distributions. Lightsail distributions are global resources that can reference an origin in any Amazon Web Services Region, and distribute its content globally. However, all distributions are located in the us-east-1 Region.
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateCertificate
  /ls/api/2016-11-28/CreateLoadBalancerTlsCertificate:
    post:
      operationId: CreateLoadBalancerTlsCertificate
      summary: Creates an SSL/TLS certificate for an Amazon Lightsail load balancer
      description: Creates an SSL/TLS certificate for an Amazon Lightsail load balancer. TLS is just an updated, more secure version of Secure Socket Layer (SSL). The CreateLoadBalancerTlsCertificate operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateLoadBalancerTlsCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateLoadBalancerTlsCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateLoadBalancerTlsCertificate
  /ls/api/2016-11-28/DeleteCertificate:
    post:
      operationId: DeleteCertificate
      summary: Deletes an SSL/TLS certificate for your Amazon Lightsail content delivery…
      description: Deletes an SSL/TLS certificate for your Amazon Lightsail content delivery network (CDN) distribution. Certificates that are currently attached to a distribution cannot be deleted. Use the DetachCertificateFromDistribution action to detach a certificate from a distribution.
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteCertificate
  /ls/api/2016-11-28/DeleteLoadBalancerTlsCertificate:
    post:
      operationId: DeleteLoadBalancerTlsCertificate
      summary: Deletes an SSL/TLS certificate associated with a Lightsail load balancer
      description: Deletes an SSL/TLS certificate associated with a Lightsail load balancer. The DeleteLoadBalancerTlsCertificate operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteLoadBalancerTlsCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteLoadBalancerTlsCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteLoadBalancerTlsCertificate
  /ls/api/2016-11-28/GetCertificates:
    post:
      operationId: GetCertificates
      summary: Returns information about one or more Amazon Lightsail SSL/TLS certificates
      description: Returns information about one or more Amazon Lightsail SSL/TLS certificates. To get a summary of a certificate, omit includeCertificateDetails from your request. The response will include only the certificate Amazon Resource Name (ARN), certificate name, domain name, and tags.
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetCertificatesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetCertificatesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetCertificates
  /ls/api/2016-11-28/GetLoadBalancerTlsCertificates:
    post:
      operationId: GetLoadBalancerTlsCertificates
      summary: Returns information about the TLS certificates that are associated with the…
      description: Returns information about the TLS certificates that are associated with the specified Lightsail load balancer. TLS is just an updated, more secure version of Secure Socket Layer (SSL). You can have a maximum of 2 certificates associated with a Lightsail load balancer. One is active and the other is inactive.
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetLoadBalancerTlsCertificatesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetLoadBalancerTlsCertificatesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetLoadBalancerTlsCertificates
components:
  schemas:
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
    LoadBalancerTlsCertificateDomainValidationOption:
      type: object
      properties:
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The fully qualified domain name in the certificate request.
        validationStatus:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateDomainStatus'
          description: The status of the domain validation. Valid values are listed below.
      description: Contains information about the domain names on an SSL/TLS certificate that you will use to validate domain ownership.
    DnsRecordCreationStateCode:
      type: string
      enum:
      - SUCCEEDED
      - STARTED
      - FAILED
    CertificateStatus:
      type: string
      enum:
      - PENDING_VALIDATION
      - ISSUED
      - INACTIVE
      - EXPIRED
      - VALIDATION_TIMED_OUT
      - REVOKED
      - FAILED
    OperationFailureException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an operation fails to execute.
    ResourceRecord:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the record.
        type:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The DNS record type.
        value:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The value for the DNS record.
      description: Describes the domain name system (DNS) records to add to your domain's DNS to validate it for an Amazon Lightsail certificate.
    LoadBalancerTlsCertificateDomainValidationRecord:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: A fully qualified domain name in the certificate. For example, example.com .
        type:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The type of validation record. For example, CNAME for domain validation.
        value:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The value for that type.
        validationStatus:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateDomainStatus'
          description: The validation status. Valid values are listed below.
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name against which your SSL/TLS certificate was validated.
        dnsRecordCreationState:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateDnsRecordCreationState'
          description: An object that describes the state of the canonical name (CNAME) records that are automatically added by Lightsail to the DNS of a domain to validate domain ownership.
      description: Describes the validation record of each domain name in the SSL/TLS certificate.
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    DeleteCertificateResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    InUseResourceCount:
      type: integer
    DomainValidationRecordList:
      type: array
      items:
        $ref: '#/components/schemas/DomainValidationRecord'
    CertificateSummary:
      type: object
      properties:
        certificateArn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the certificate.
        certificateName:
          allOf:
          - $ref: '#/components/schemas/CertificateName'
          description: The name of the certificate.
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name of the certificate.
        certificateDetail:
          allOf:
          - $ref: '#/components/schemas/Certificate'
          description: An object that describes a certificate in detail.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
      description: Describes an Amazon Lightsail SSL/TLS certificate.
    GetLoadBalancerTlsCertificatesRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer you associated with your SSL/TLS certificate.
      required:
      - loadBalancerName
    CertificateDomainValidationStatus:
      type: string
      enum:
      - PENDING_VALIDATION
      - FAILED
      - SUCCESS
    OperationType:
      type: string
      enum:
      - DeleteKnownHostKeys
      - DeleteInstance
      - CreateInstance
      - StopInstance
      - StartInstance
      - RebootInstance
      - OpenInstancePublicPorts
      - PutInstancePublicPorts
      - CloseInstancePublicPorts
      - AllocateStaticIp
      - ReleaseStaticIp
      - AttachStaticIp
      - DetachStaticIp
      - UpdateDomainEntry
      - DeleteDomainEntry
      - CreateDomain
      - DeleteDomain
      - CreateInstanceSnapshot
      - DeleteInstanceSnapshot
      - CreateInstancesFromSnapshot
      - CreateLoadBalancer
      - DeleteLoadBalancer
      - AttachInstancesToLoadBalancer
      - DetachInstancesFromLoadBalancer
      - UpdateLoadBalancerAttribute
      - CreateLoadBalancerTlsCertificate
      - DeleteLoadBalancerTlsCertificate
      - AttachLoadBalancerTlsCertificate
      - CreateDisk
      - DeleteDisk
      - AttachDisk
      - DetachDisk
      - CreateDiskSnapshot
      - DeleteDiskSnapshot
      - CreateDiskFromSnapshot
      - CreateRelationalDatabase
      - UpdateRelationalDatabase
      - DeleteRelationalDatabase
      - CreateRelationalDatabaseFromSnapshot
      - CreateRelationalDatabaseSnapshot
      - DeleteRelationalDatabaseSnapshot
      - UpdateRelationalDatabaseParameters
      - StartRelationalDatabase
      - RebootRelationalDatabase
      - StopRelationalDatabase
      - EnableAddOn
      - DisableAddOn
      - PutAlarm
      - GetAlarms
      - DeleteAlarm
      - TestAlarm
      - CreateContactMethod
      - GetContactMethods
      - SendContactMethodVerification
      - DeleteContactMethod
      - CreateDistribution
      - UpdateDistribution
      - DeleteDistribution
      - ResetDistributionCache
      - AttachCertificateToDistribution
      - DetachCertificateFromDistribution
      - UpdateDistributionBundle
      - SetIpAddressType
      - CreateCertificate
      - DeleteCertificate
      - CreateContainerService
      - UpdateContainerService
      - DeleteContainerService
      - CreateContainerServiceDeployment
      - CreateContainerServiceRegistryLogin
      - RegisterContainerImage
      - DeleteContainerImage
      - CreateBucket
      - DeleteBucket
      - CreateBucketAccessKey
      - DeleteBucketAccessKey
      - UpdateBucketBundle
      - UpdateBucket
      - SetResourceAccessForBucket
      - UpdateInstanceMetadataOptions
      - StartGUISession
      - StopGUISession
      - SetupInstanceHttps
      - GetProfile
    LoadBalancerTlsCertificate:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the SSL/TLS certificate ( my-certificate ).
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the SSL/TLS certificate.
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about your Lightsail load balancer or SSL/TLS certificate. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The time when you created your SSL/TLS certificate.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone where you created your certificate.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type ( LoadBalancerTlsCertificate ). Instance - A Lightsail instance (a virtual private server) StaticIp - A static IP address KeyPair - The key pair used to connect to a Lightsail instance InstanceSnapshot - A Lightsail instance snapshot Domain - A DNS zone PeeredVpc - A peered VPC LoadBalancer - A Lightsail load balancer LoadBalancerTlsCertificate - An SSL/TLS certificate associated with a Lightsail load balancer Disk - A Lightsail block storage disk DiskSnapshot - A block storage disk snapshot
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The load balancer name where your SSL/TLS certificate is attached.
        isAttached:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: When true , the SSL/TLS certificate is attached to the Lightsail load balancer.
        status:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateStatus'
          description: The validation status of the SSL/TLS certificate. Valid values are below.
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name for your SSL/TLS certificate.
        domainValidationRecords:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateDomainValidationRecordList'
          description: An array of LoadBalancerTlsCertificateDomainValidationRecord objects describing the records.
        failureReason:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateFailureReason'
          description: 'The validation failure reason, if any, of the certificate. The following failure reasons are possible: NO_AVAILABLE_CONTACTS - This failure applies to email validation, which is not available for Lightsail certificates. ADDITIONAL_VERIFICATION_REQUIRED - Lightsail requires additional information to process this certificate request. This can happen as a fraud-protection measure, such as when the domain ranks within the Alexa top 1000 websites. To provide the required information, use the AWS Support Center to contact AWS Support. You cannot request a certificate for Amazon-owned domain names such as those ending in amazonaws.com, cloudfront.net, or elasticbeanstalk.com. DOMAIN_NOT_ALLOWED - One or more of the domain names in the certificate request was reported as an unsafe domain by VirusTotal . To correct the problem, search for your domain name on the VirusTotal website. If your domain is reported as suspicious, see Google Help for Hacked Websites to learn what you can do. If you believe that the result is a false positive, notify the organization that is reporting the domain. VirusTotal is an aggregate of several antivirus and URL scanners and cannot remove your domain from a block list itself. After you correct the problem and the VirusTotal registry has been updated, request a new certificate. If you see this error and your domain is not included in the VirusTotal list, visit the AWS Support Center and create a case. INVALID_PUBLIC_DOMAIN - One or more of the domain names in the certificate request is not valid. Typically, this is because a domain name in the request is not a valid top-level domain. Try to request a certificate again, correcting any spelling errors or typos that were in the failed request, and ensure that all domain names in the request are for valid top-level domains. For example, you cannot request a certificate for example.invalidpublicdomain because invalidpublicdomain is not a valid top-level domain. OTHER - Typically, this failure occurs when there is a typographical error in one or more of the domain names in the certificate request. Try to request a certificate again, correcting any spelling errors or typos that were in the failed request.'
        issuedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The time when the SSL/TLS certificate was issued.
        issuer:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The issuer of the certificate.
        keyAlgorithm:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The algorithm used to generate the key pair (the public and private key).
        notAfter:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the SSL/TLS certificate expires.
        notBefore:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the SSL/TLS certificate is first valid.
        renewalSummary:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateRenewalSummary'
          description: An object that describes the status of the certificate renewal managed by Lightsail.
        revocationReason:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateRevocationReason'
          description: The reason the certificate was revoked. This value is present only when the certificate status is REVOKED .
        revokedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate was revoked. This value is present only when the certificate status is REVOKED .
        serial:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The serial number of the certificate.
        signatureAlgorithm:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The algorithm that was used to sign the certificate.
        subject:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The name of the entity that is associated with the public key contained in the certificate.
        subjectAlternativeNames:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: An array of strings that specify the alternate domains ( example2.com ) and subdomains ( blog.example.com ) for the certificate.
      description: Describes a load balancer SSL/TLS certificate. TLS is just an updated, more secure version of Secure Socket Layer (SSL).
    EligibleToRenew:
      type: string
    AttachLoadBalancerTlsCertificateResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request. These SSL/TLS certificates are only usable by Lightsail load balancers. You can't get the certificate and use it for another purpose.
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
    OperationList:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    StringList:
      type: array
      items:
        $ref: '#/components/schemas/string'
    LoadBalancerTlsCertificateFailureReason:
      type: string
      enum:
      - NO_AVAILABLE_CONTACTS
      - ADDITIONAL_VERIFICATION_REQUIRED
      - DOMAIN_NOT_ALLOWED
      - INVALID_PUBLIC_DOMAIN
      - OTHER
    TagKey:
      type: string
    LoadBalancerTlsCertificateDomainStatus:
      type: string
      enum:
      - PENDING_VALIDATION
      - FAILED
      - SUCCESS
    AccountSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an account is still in the setup in progress state.
    GetLoadBalancerTlsCertificatesResult:
      type: object
      properties:
        tlsCertificates:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateList'
          description: An array of LoadBalancerTlsCertificate objects describing your SSL/TLS certificates.
    LoadBalancerTlsCertificateDnsRecordCreationState:
      type: object
      properties:
        code:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateDnsRecordCreationStateCode'
          description: 'The status code for the automated DNS record creation. Following are the possible values: SUCCEEDED - The validation records were successfully added. STARTED - The automatic DNS record creation has started. FAILED - The validation record addition failed.'
        message:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The message that describes the reason for the status code.
      description: An object that describes the state of the canonical name (CNAME) records that are automatically added by Lightsail to the DNS of the domain to validate domain ownership.
    RenewalSummary:
      type: object
      properties:
        domainValidationRecords:
          allOf:
          - $ref: '#/components/schemas/DomainValidationRecordList'
          description: An array of objects that describe the domain validation records of the certificate.
        renewalStatus:
          allOf:
          - $ref: '#/components/schemas/RenewalStatus'
          description: 'The renewal status of the certificate. The following renewal status are possible: PendingAutoRenewal - Lightsail is attempting to automatically validate the domain names of the certificate. No further action is required. PendingValidation - Lightsail couldn''t automatically validate one or more domain names of the certificate. You must take action to validate these domain names or the certificate won''t be renewed. Check to make sure your certificate''s domain validation records exist in your domain''s DNS, and that your certificate remains in use. Success - All domain names in the certificate are validated, and Lightsail renewed the certificate. No further action is required. Failed - One or more domain names were not validated before the certificate expired, and Lightsail did not renew the certificate. You can request a new certificate using the CreateCertificate action.'
        renewalStatusReason:
          allOf:
          - $ref: '#/components/schemas/RenewalStatusReason'
          description: The reason for the renewal status of the certificate.
        updatedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate was last updated.
      description: Describes the status of a SSL/TLS certificate renewal managed by Amazon Lightsail.
    DeleteLoadBalancerTlsCertificateRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The load balancer name.
        certificateName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The SSL/TLS certificate name.
        force:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: 'When true , forces the deletion of an SSL/TLS certificate. There can be two certificates associated with a Lightsail load balancer: the primary and the backup. The force parameter is required when the primary SSL/TLS certificate is in use by an instance attached to the load balancer.'
      required:
      - loadBalancerName
      - certificateName
    Tag:
      type: object
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/TagKey'
          description: 'The key of the tag. Constraints: Tag keys accept a maximum of 128 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
        value:
          allOf:
          - $ref: '#/components/schemas/TagValue'
          description: 'The value of the tag. Constraints: Tag values accept a maximum of 256 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
      description: Describes a tag key and optional value assigned to an Amazon Lightsail resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
    LoadBalancerTlsCertificateDomainValidationRecordList:
      type: array
      items:
        $ref: '#/components/schemas/LoadBalancerTlsCertificateDomainValidationRecord'
    OperationStatus:
      type: string
      enum:
      - NotStarted
      - Started
      - Failed
      - Completed
      - Succeeded
    DeleteCertificateRequest:
      type: object
      properties:
        certificateName:
          allOf:
          - $ref: '#/components/schemas/CertificateName'
          description: The name of the certificate to delete. Use the GetCertificates action to get a list of certificate names that you can specify.
      required:
      - certificateName
    RenewalStatus:
      type: string
      enum:
      - PendingAutoRenewal
      - PendingValidation
      - Success
      - Failed
    LoadBalancerTlsCertificateRenewalStatus:
      type: string
      enum:
      - PENDING_AUTO_RENEWAL
      - PENDING_VALIDATION
      - SUCCESS
      - FAILED
    RequestFailureReason:
      type: string
    CreateCertificateRequest:
      type: object
      properties:
        certificateName:
          allOf:
          - $ref: '#/components/schemas/CertificateName'
          description: The name for the certificate.
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name ( example.com ) for the certificate.
        subjectAlternativeNames:
          allOf:
          - $ref: '#/components/schemas/SubjectAlternativeNameList'
          description: An array of strings that specify the alternate domains ( example2.com ) and subdomains ( blog.example.com ) for the certificate. You can specify a maximum of nine alternate domains (in addition to the primary domain name). Wildcard domain entries ( *.example.com ) are not supported.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the certificate during create. Use the TagResource action to tag a resource after it's created.
      required:
      - certificateName
      - domainName
    GetCertificatesRequest:
      type: object
      properties:
        certificateStatuses:
          allOf:
          - $ref: '#/components/schemas/CertificateStatusList'
          description: The status of the certificates for which to return information. For example, specify ISSUED to return only certificates with an ISSUED status. When omitted, the response includes all of your certificates in the Amazon Web Services Region where the request is made, regardless of their current status.
        includeCertificateDetails:
          allOf:
          - $ref: '#/components/schemas/IncludeCertificateDetails'
          description: Indicates whether to include detailed information about the certificates in the response. When omitted, the response includes only the certificate names, Amazon Resource Names (ARNs), domain names, and tags.
        certificateName:
          allOf:
          - $ref: '#/components/schemas/CertificateName'
          description: The name for the certificate for which to return information. When omitted, the response includes all of your certificates in the Amazon Web Services Region where the request is made.
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetCertificates request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    CertificateStatusList:
      type: array
      items:
        $ref: '#/components/schemas/CertificateStatus'
    LoadBalancerTlsCertificateDnsRecordCreationStateCode:
      type: string
      enum:
      - SUCCEEDED
      - STARTED
      - FAILED
    DomainNameList:
      type: array
      items:
        $ref: '#/components/schemas/DomainName'
    Operation:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the operation.
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resource name.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the operation was initialized ( 1479816991.349 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone.
        isTerminal:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the operation is terminal.
        operationDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Details about the operation ( Debian-1GB-Ohio-1 ).
        operationType:
          allOf:
          - $ref: '#/components/schemas/OperationType'
          description: The type of operation.
        status:
          allOf:
          - $ref: '#/components/schemas/OperationStatus'
          description: The status of the operation.
        statusChangedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the status was changed ( 1479816991.349 ).
        errorCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error code.
        errorDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error details.
      description: Describes the API operation.
    RevocationReason:
      type: string
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    TagValue:
      type: string
    DomainName:
      type: string
    CreateLoadBalancerTlsCertificateResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    AttachLoadBalancerTlsCertificateRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer to which you want to associate the SSL/TLS certificate.
        certificateName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of your SSL/TLS certificate.
      required:
      - loadBalancerName
      - certificateName
    NonEmptyString:
      type: string
      pattern: \S
    SubjectAlternativeNameList:
      type: array
      items:
        $ref: '#/components/schemas/DomainName'
    DomainValidationRecord:
      type: object
      properties:
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name of the certificate validation record. For example, example.com or www.example.com .
        resourceRecord:
          allOf:
          - $ref: '#/components/schemas/ResourceRecord'
          description: An object that describes the DNS records to add to your domain's DNS to validate it for the certificate.
        dnsRecordCreationState:
          allOf:
          - $ref: '#/components/schemas/DnsRecordCreationState'
          description: An object that describes the state of the canonical name (CNAME) records that are automatically added by Lightsail to the DNS of the domain to validate domain ownership.
        validationStatus:
          allOf:
          - $ref: '#/components/schemas/CertificateDomainValidationStatus'
          description: The validation status of the record.
      description: Describes the domain name system (DNS) records that you must add to the DNS of your registered domain to validate ownership for an Amazon Lightsail SSL/TLS certificate.
    GetCertificatesResult:
      type: object
      properties:
        certificates:
          allOf:
          - $ref: '#/components/schemas/CertificateSummaryList'
          description: An object that describes certificates.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: If NextPageToken is returned there are more results available. The value of NextPageToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged.
    SerialNumber:
      type: string
    DnsRecordCreationState:
      type: object
      properties:
        code:
          allOf:
          - $ref: '#/components/schemas/DnsRecordCreationStateCode'
          description: 'The status code for the automated DNS record creation. Following are the possible values: SUCCEEDED - The validation records were successfully added to the domain. STARTED - The automatic DNS record creation has started. FAILED - The validation records failed to be added to the domain.'
        message:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The message that describes the reason for the status code.
      description: Describes the creation state of the canonical name (CNAME) records that are automatically added by Amazon Lightsail to the DNS of a domain to validate domain ownership for an SSL/TLS certificate. When you create an SSL/TLS certificate for a Lightsail resource, you must add a set of CNAME records to the DNS of the domains for the certificate to validate that you own the domains. Lightsail can automatically add the CNAME records to the DNS of the domain if the DNS zone for the domain exists within your Lightsail account. If automatic record addition fails, or if you manage the DNS of your domain using a third-party service, then you must manually add the CNAME records to the DNS of your domain. For more information, see Verify an SSL/TLS certificate in Amazon Lightsail in the Amazon Lightsail Developer Guide .
    ServiceException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: A general service exception.
    DeleteLoadBalancerTlsCertificateResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    KeyAlgorithm:
      type: string
    CertificateName:
      type: string
    ResourceName:
      type: string
      pattern: ^\w[\w\-]*\w$
    LoadBalancerTlsCertificateRevocationReason:
      type: string
      enum:
      - UNSPECIFIED
      - KEY_COMPROMISE
      - CA_COMPROMISE
      - AFFILIATION_CHANGED
      - SUPERCEDED
      - CESSATION_OF_OPERATION
      - CERTIFICATE_HOLD
      - REMOVE_FROM_CRL
      - PRIVILEGE_WITHDRAWN
      - A_A_COMPROMISE
    IsoDate:
      type: string
      format: date-time
    IssuerCA:
      type: string
    RegionSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Regions and Availability Zones for Lightsail
        message:
          $ref: '#/components/schemas/string'
        tip:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Opt-in Regions typically take a few minutes to finish setting up before you can work with them. Wait a few minutes and try again.
      description: Lightsail throws this exception when an operation is performed on resources in an opt-in Region that is currently being set up.
    LoadBalancerTlsCertificateList:
      type: array
      items:
        $ref: '#/components/schemas/LoadBalancerTlsCertificate'
    LoadBalancerTlsCertificateDomainValidationOptionList:
      type: array
      items:
        $ref: '#/components/schemas/LoadBalancerTlsCertificateDomainValidationOption'
    CreateCertificateResult:
      type: object
      properties:
        certificate:
          allOf:
          - $ref: '#/components/schemas/CertificateSummary'
          description: An object that describes the certificate created.
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    IncludeCertificateDetails:
      type: boolean
    RegionName:
      type: string
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-north-1
      - eu-south-2
      - ca-central-1
      - ap-east-1
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-3
      - ap-southeast-5
      - sa-east-1
    CreateLoadBalancerTlsCertificateRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The load balancer name where you want to create the SSL/TLS certificate.
        certificateName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The SSL/TLS certificate name. You can have up to 10 certificates in your account at one time. Each Lightsail load balancer can have up to 2 certificates associated with it at one time. There is also an overall limit to the number of certificates that can be issue in a 365-day period. For more information, see Limits .
        certificateDomainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name ( example.com ) for your SSL/TLS certificate.
        certificateAlternativeNames:
          allOf:
          - $ref: '#/components/schemas/DomainNameList'
          description: An array of strings listing alternative domains and subdomains for your SSL/TLS certificate. Lightsail will de-dupe the names for you. You can have a maximum of 9 alternative names (in addition to the 1 primary domain). We do not support wildcards ( *.example.com ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the resource during create. Use the TagResource action to tag a resource after it's created.
      required:
      - loadBalancerName
      - certificateName
      - certificateDomainName
    ResourceType:
      type: string
      enum:
      - ContainerService
      - Instance
      - StaticIp
      - KeyPair
      - InstanceSnapshot
      - Domain
      - PeeredVpc
      - LoadBalancer
      - LoadBalancerTlsCertificate
      - Disk
      - DiskSnapshot
      - RelationalDatabase
      - RelationalDatabaseSnapshot
      - ExportSnapshotRecord
      - CloudFormationStackRecord
      - Alarm
      - ContactMethod
      - Distribution
      - Certificate
      - Bucket
    LoadBalancerTlsCertificateStatus:
      type: string
      enum:
      - PENDING_VALIDATION
      - ISSUED
      - INACTIVE
      - EXPIRED
      - VALIDATION_TIMED_OUT
      - REVOKED
      - FAILED
      - UNKNOWN
    RenewalStatusReason:
      type: string
    string:
      type: string
    boolean:
      type: boolean
    CertificateSummaryList:
      type: array
      items:
        $ref: '#/components/schemas/CertificateSummary'
    Certificate:
      type: object
      properties:
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the certificate.
        name:
          allOf:
          - $ref: '#/components/schemas/CertificateName'
          description: The name of the certificate ( my-certificate ).
        domainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name of the certificate.
        status:
          allOf:
          - $ref: '#/components/schemas/CertificateStatus'
          description: The validation status of the certificate.
        serialNumber:
          allOf:
          - $ref: '#/components/schemas/SerialNumber'
          description: The serial number of the certificate.
        subjectAlternativeNames:
          allOf:
          - $ref: '#/components/schemas/SubjectAlternativeNameList'
          description: An array of strings that specify the alternate domains ( example2.com ) and subdomains ( blog.example.com ) of the certificate.
        domainValidationRecords:
          allOf:
          - $ref: '#/components/schemas/DomainValidationRecordList'
          description: An array of objects that describe the domain validation records of the certificate.
        requestFailureReason:
          allOf:
          - $ref: '#/components/schemas/RequestFailureReason'
          description: 'The validation failure reason, if any, of the certificate. The following failure reasons are possible: NO_AVAILABLE_CONTACTS - This failure applies to email validation, which is not available for Lightsail certificates. ADDITIONAL_VERIFICATION_REQUIRED - Lightsail requires additional information to process this certificate request. This can happen as a fraud-protection measure, such as when the domain ranks within the Alexa top 1000 websites. To provide the required information, use the Amazon Web Services Support Center to contact Amazon Web Services Support. You cannot request a certificate for Amazon-owned domain names such as those ending in amazonaws.com, cloudfront.net, or elasticbeanstalk.com. DOMAIN_NOT_ALLOWED - One or more of the domain names in the certificate request was reported as an unsafe domain by VirusTotal . To correct the problem, search for your domain name on the VirusTotal website. If your domain is reported as suspicious, see Google Help for Hacked Websites to learn what you can do. If you believe that the result is a false positive, notify the organization that is reporting the domain. VirusTotal is an aggregate of several antivirus and URL scanners and cannot remove your domain from a block list itself. After you correct the problem and the VirusTotal registry has been updated, request a new certificate. If you see this error and your domain is not included in the VirusTotal list, visit the Amazon Web Services Support Center and create a case. INVALID_PUBLIC_DOMAIN - One or more of the domain names in the certificate request is not valid. Typically, this is because a domain name in the request is not a valid top-level domain. Try to request a certificate again, correcting any spelling errors or typos that were in the failed request, and ensure that all domain names in the request are for valid top-level domains. For example, you cannot request a certificate for example.invalidpublicdomain because invalidpublicdomain is not a valid top-level domain. OTHER - Typically, this failure occurs when there is a typographical error in one or more of the domain names in the certificate request. Try to request a certificate again, correcting any spelling errors or typos that were in the failed request.'
        inUseResourceCount:
          allOf:
          - $ref: '#/components/schemas/InUseResourceCount'
          description: The number of Lightsail resources that the certificate is attached to.
        keyAlgorithm:
          allOf:
          - $ref: '#/components/schemas/KeyAlgorithm'
          description: The algorithm used to generate the key pair (the public and private key) of the certificate.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate was created.
        issuedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate was issued.
        issuerCA:
          allOf:
          - $ref: '#/components/schemas/IssuerCA'
          description: The certificate authority that issued the certificate.
        notBefore:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate is first valid.
        notAfter:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate expires.
        eligibleToRenew:
          allOf:
          - $ref: '#/components/schemas/EligibleToRenew'
          description: The renewal eligibility of the certificate.
        renewalSummary:
          allOf:
          - $ref: '#/components/schemas/RenewalSummary'
          description: An object that describes the status of the certificate renewal managed by Lightsail.
        revokedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the certificate was revoked. This value is present only when the certificate status is REVOKED .
        revocationReason:
          allOf:
          - $ref: '#/components/schemas/RevocationReason'
          description: The reason the certificate was revoked. This value is present only when the certificate status is REVOKED .
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about your Lightsail certificate. This code enables our support team to look up your Lightsail information more easily.
      description: Describes the full details of an Amazon Lightsail SSL/TLS certificate. To get a summary of a certificate, use the GetCertificates action and omit includeCertificateDetails from your request. The response will include only the certificate Amazon Resource Name (ARN), certificate name, domain name, and tags.
    LoadBalancerTlsCertificateRenewalSummary:
      type: object
      properties:
        renewalStatus:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateRenewalStatus'
          description: 'The renewal status of the certificate. The following renewal status are possible: PendingAutoRenewal - Lightsail is attempting to automatically validate the domain names of the certificate. No further action is required. PendingValidation - Lightsail couldn''t automatically validate one or more domain names of the certificate. You must take action to validate these domain names or the certificate won''t be renewed. Check to make sure your certificate''s domain validation records exist in your domain''s DNS, and that your certificate remains in use. Success - All domain names in the certificate are validated, and Lightsail renewed the certificate. No further action is required. Failed - One or more domain names were not validated before the certificate expired, and Lightsail did not renew the certificate. You can request a new certificate using the CreateCertificate action.'
        domainValidationOptions:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateDomainValidationOptionList'
          description: Contains information about the validation of each domain name in the certificate, as it pertains to Lightsail's managed renewal. This is different from the initial validation that occurs as a result of the RequestCertificate request.
      description: 'Contains information about the status of Lightsail''s managed renewal for the certificate. The renewal status of the certificate. The following renewal status are possible: PendingAutoRenewal - Lightsail is attempting to automatically validate the domain names in the certificate. No further action is required. PendingValidation - Lightsail couldn''t automatically validate one or more domain names in the certificate. You must take action to validate these domain names or the certificate won''t be renewed. If you used DNS validation, check to make sure your certificate''s domain validation records exist in your domain''s DNS, and that your certificate remains in use. Success - All domain names in the certificate are validated, and Lightsail renewed the certificate. No further action is required. Failed - One or more domain names were not validated before the certificate expired, and Lightsail did not renew the certificate. You can request a new certificate using the CreateCertificate action.'
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4. Sign each request with IAM credentials for service name "lightsail"; the Authorization header carries the AWS4-HMAC-SHA256 credential scope, signed headers and signature. Temporary STS credentials additionally require X-Amz-Security-Token. See https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/CommonParameters.html
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
