openapi: 3.2.0
info:
  title: Amazon Lightsail Tags API
  description: Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers who need to build websites or web applications.
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Tags
paths:
  /ls/api/2016-11-28/TagResource:
    post:
      operationId: TagResource
      summary: Adds one or more tags to the specified Amazon Lightsail resource
      description: Adds one or more tags to the specified Amazon Lightsail resource. Each resource can have a maximum of 50 tags. Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see the Amazon Lightsail Developer Guide . The tag resource operation supports tag-based access control via request tags and resource tags applied to the resource identified by resource name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/TagResourceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/TagResourceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.TagResource
  /ls/api/2016-11-28/UntagResource:
    post:
      operationId: UntagResource
      summary: Deletes the specified set of tag keys and their values from the specified…
      description: Deletes the specified set of tag keys and their values from the specified Amazon Lightsail resource. The untag resource operation supports tag-based access control via request tags and resource tags applied to the resource identified by resource name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/UntagResourceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UntagResourceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.UntagResource
components:
  schemas:
    TagValue:
      type: string
    OperationStatus:
      type: string
      enum:
      - NotStarted
      - Started
      - Failed
      - Completed
      - Succeeded
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    ResourceName:
      type: string
      pattern: ^\w[\w\-]*\w$
    RegionName:
      type: string
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-north-1
      - eu-south-2
      - ca-central-1
      - ap-east-1
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-3
      - ap-southeast-5
      - sa-east-1
    OperationType:
      type: string
      enum:
      - DeleteKnownHostKeys
      - DeleteInstance
      - CreateInstance
      - StopInstance
      - StartInstance
      - RebootInstance
      - OpenInstancePublicPorts
      - PutInstancePublicPorts
      - CloseInstancePublicPorts
      - AllocateStaticIp
      - ReleaseStaticIp
      - AttachStaticIp
      - DetachStaticIp
      - UpdateDomainEntry
      - DeleteDomainEntry
      - CreateDomain
      - DeleteDomain
      - CreateInstanceSnapshot
      - DeleteInstanceSnapshot
      - CreateInstancesFromSnapshot
      - CreateLoadBalancer
      - DeleteLoadBalancer
      - AttachInstancesToLoadBalancer
      - DetachInstancesFromLoadBalancer
      - UpdateLoadBalancerAttribute
      - CreateLoadBalancerTlsCertificate
      - DeleteLoadBalancerTlsCertificate
      - AttachLoadBalancerTlsCertificate
      - CreateDisk
      - DeleteDisk
      - AttachDisk
      - DetachDisk
      - CreateDiskSnapshot
      - DeleteDiskSnapshot
      - CreateDiskFromSnapshot
      - CreateRelationalDatabase
      - UpdateRelationalDatabase
      - DeleteRelationalDatabase
      - CreateRelationalDatabaseFromSnapshot
      - CreateRelationalDatabaseSnapshot
      - DeleteRelationalDatabaseSnapshot
      - UpdateRelationalDatabaseParameters
      - StartRelationalDatabase
      - RebootRelationalDatabase
      - StopRelationalDatabase
      - EnableAddOn
      - DisableAddOn
      - PutAlarm
      - GetAlarms
      - DeleteAlarm
      - TestAlarm
      - CreateContactMethod
      - GetContactMethods
      - SendContactMethodVerification
      - DeleteContactMethod
      - CreateDistribution
      - UpdateDistribution
      - DeleteDistribution
      - ResetDistributionCache
      - AttachCertificateToDistribution
      - DetachCertificateFromDistribution
      - UpdateDistributionBundle
      - SetIpAddressType
      - CreateCertificate
      - DeleteCertificate
      - CreateContainerService
      - UpdateContainerService
      - DeleteContainerService
      - CreateContainerServiceDeployment
      - CreateContainerServiceRegistryLogin
      - RegisterContainerImage
      - DeleteContainerImage
      - CreateBucket
      - DeleteBucket
      - CreateBucketAccessKey
      - DeleteBucketAccessKey
      - UpdateBucketBundle
      - UpdateBucket
      - SetResourceAccessForBucket
      - UpdateInstanceMetadataOptions
      - StartGUISession
      - StopGUISession
      - SetupInstanceHttps
      - GetProfile
    OperationFailureException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an operation fails to execute.
    TagKey:
      type: string
    TagResourceRequest:
      type: object
      properties:
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the resource to which you are adding tags.
        resourceArn:
          allOf:
          - $ref: '#/components/schemas/ResourceArn'
          description: The Amazon Resource Name (ARN) of the resource to which you want to add a tag.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag key and optional value.
      required:
      - resourceName
      - tags
    TagKeyList:
      type: array
      items:
        $ref: '#/components/schemas/TagKey'
    boolean:
      type: boolean
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    ServiceException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: A general service exception.
    ResourceArn:
      type: string
      pattern: ^arn:(aws[^:]*):([a-zA-Z0-9-]+):([a-z0-9-]+):([0-9]+):([a-zA-Z]+)/([a-zA-Z0-9-]+)$
    Operation:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the operation.
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resource name.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the operation was initialized ( 1479816991.349 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone.
        isTerminal:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the operation is terminal.
        operationDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Details about the operation ( Debian-1GB-Ohio-1 ).
        operationType:
          allOf:
          - $ref: '#/components/schemas/OperationType'
          description: The type of operation.
        status:
          allOf:
          - $ref: '#/components/schemas/OperationStatus'
          description: The status of the operation.
        statusChangedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the status was changed ( 1479816991.349 ).
        errorCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error code.
        errorDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error details.
      description: Describes the API operation.
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    TagResourceResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
    RegionSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Regions and Availability Zones for Lightsail
        message:
          $ref: '#/components/schemas/string'
        tip:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Opt-in Regions typically take a few minutes to finish setting up before you can work with them. Wait a few minutes and try again.
      description: Lightsail throws this exception when an operation is performed on resources in an opt-in Region that is currently being set up.
    IsoDate:
      type: string
      format: date-time
    Tag:
      type: object
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/TagKey'
          description: 'The key of the tag. Constraints: Tag keys accept a maximum of 128 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
        value:
          allOf:
          - $ref: '#/components/schemas/TagValue'
          description: 'The value of the tag. Constraints: Tag values accept a maximum of 256 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
      description: Describes a tag key and optional value assigned to an Amazon Lightsail resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
    UntagResourceResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    string:
      type: string
    ResourceType:
      type: string
      enum:
      - ContainerService
      - Instance
      - StaticIp
      - KeyPair
      - InstanceSnapshot
      - Domain
      - PeeredVpc
      - LoadBalancer
      - LoadBalancerTlsCertificate
      - Disk
      - DiskSnapshot
      - RelationalDatabase
      - RelationalDatabaseSnapshot
      - ExportSnapshotRecord
      - CloudFormationStackRecord
      - Alarm
      - ContactMethod
      - Distribution
      - Certificate
      - Bucket
    NonEmptyString:
      type: string
      pattern: \S
    OperationList:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    UntagResourceRequest:
      type: object
      properties:
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the resource from which you are removing a tag.
        resourceArn:
          allOf:
          - $ref: '#/components/schemas/ResourceArn'
          description: The Amazon Resource Name (ARN) of the resource from which you want to remove a tag.
        tagKeys:
          allOf:
          - $ref: '#/components/schemas/TagKeyList'
          description: The tag keys to delete from the specified resource.
      required:
      - resourceName
      - tagKeys
    AccountSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an account is still in the setup in progress state.
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4. Sign each request with IAM credentials for service name "lightsail"; the Authorization header carries the AWS4-HMAC-SHA256 credential scope, signed headers and signature. Temporary STS credentials additionally require X-Amz-Security-Token. See https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/CommonParameters.html
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
