openapi: 3.1.0
info:
  title: Amazon Lightsail API
  description: 'Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers
    who need to build websites or web applications. The API manages instances (virtual private servers), container
    services, storage buckets, managed databases, block storage disks, static IP addresses, load balancers, CDN
    distributions, DNS zones and resource snapshots. Derived mechanically from the AWS-published Smithy 2.0 service
    model (aws/api-models-aws, models/lightsail/service/2016-11-28). The wire protocol is AWS JSON 1.1: every operation
    is a POST signed with AWS Signature Version 4 (service name "lightsail") carrying the X-Amz-Target header shown
    as x-amz-target on each operation. Paths and response codes are the smithy.api#http traits the model itself
    declares.'
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform,
    no hand-authored operations
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region,
    lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Account
- name: Alarms
- name: Block Storage
- name: Blueprints
- name: Buckets
- name: Bundles
- name: Certificates
- name: Contact Methods
- name: Container Services
- name: Cost Estimate
- name: Distributions
- name: Domains
- name: Instances
- name: Key Pairs
- name: Load Balancers
- name: Operations
- name: Regions
- name: Relational Databases
- name: Setup
- name: Snapshots
- name: Static IPs
- name: Tags
paths:
  /budgettracker/getCostEstimate:
    post:
      operationId: GetCostEstimate
      summary: Retrieves information about the cost estimate for a specified resource
      description: Retrieves information about the cost estimate for a specified resource. A cost estimate will
        not generate for a resource that has been deleted.
      tags:
      - Cost Estimate
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetCostEstimateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetCostEstimateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetCostEstimate
  /ls/api/2016-11-28/AllocateStaticIp:
    post:
      operationId: AllocateStaticIp
      summary: Allocates a static IP address
      description: Allocates a static IP address.
      tags:
      - Static IPs
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AllocateStaticIpRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AllocateStaticIpResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AllocateStaticIp
  /ls/api/2016-11-28/AttachCertificateToDistribution:
    post:
      operationId: AttachCertificateToDistribution
      summary: Attaches an SSL/TLS certificate to your Amazon Lightsail content delivery network (CDN) distribution
      description: Attaches an SSL/TLS certificate to your Amazon Lightsail content delivery network (CDN) distribution.
        After the certificate is attached, your distribution accepts HTTPS traffic for all of the domains that are
        associated with the certificate. Use the CreateCertificate action to create a certificate that you can attach
        to your distribution. Only certificates created in the us-east-1 Amazon Web Services Region can be attached
        to Lightsail distributions. Lightsail distributions are global resources that can reference an origin in
        any Amazon Web Services Region, and distribute its content globally. However, all distributions are located
        in the us-east-1 Region.
      tags:
      - Distributions
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachCertificateToDistributionRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachCertificateToDistributionResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachCertificateToDistribution
  /ls/api/2016-11-28/AttachDisk:
    post:
      operationId: AttachDisk
      summary: Attaches a block storage disk to a running or stopped Lightsail instance and exposes it to the instance
        with the specified disk name
      description: Attaches a block storage disk to a running or stopped Lightsail instance and exposes it to the
        instance with the specified disk name. The attach disk operation supports tag-based access control via resource
        tags applied to the resource identified by disk name . For more information, see the Amazon Lightsail Developer
        Guide .
      tags:
      - Block Storage
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachDiskRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachDiskResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachDisk
  /ls/api/2016-11-28/AttachInstancesToLoadBalancer:
    post:
      operationId: AttachInstancesToLoadBalancer
      summary: Attaches one or more Lightsail instances to a load balancer
      description: Attaches one or more Lightsail instances to a load balancer. After some time, the instances are
        attached to the load balancer and the health check status is available. The attach instances to load balancer
        operation supports tag-based access control via resource tags applied to the resource identified by load
        balancer name . For more information, see the Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachInstancesToLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachInstancesToLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachInstancesToLoadBalancer
  /ls/api/2016-11-28/AttachLoadBalancerTlsCertificate:
    post:
      operationId: AttachLoadBalancerTlsCertificate
      summary: Attaches a Transport Layer Security (TLS) certificate to your load balancer
      description: Attaches a Transport Layer Security (TLS) certificate to your load balancer. TLS is just an updated,
        more secure version of Secure Socket Layer (SSL). Once you create and validate your certificate, you can
        attach it to your load balancer. You can also use this API to rotate the certificates on your account. Use
        the AttachLoadBalancerTlsCertificate action with the non-attached certificate, and it will replace the existing
        one and become the attached certificate. The AttachLoadBalancerTlsCertificate operation supports tag-based
        access control via resource tags applied to the resource identified by load balancer name . For more information,
        see the Amazon Lightsail Developer Guide .
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachLoadBalancerTlsCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachLoadBalancerTlsCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachLoadBalancerTlsCertificate
  /ls/api/2016-11-28/AttachStaticIp:
    post:
      operationId: AttachStaticIp
      summary: Attaches a static IP address to a specific Amazon Lightsail instance
      description: Attaches a static IP address to a specific Amazon Lightsail instance.
      tags:
      - Static IPs
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachStaticIpRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachStaticIpResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachStaticIp
  /ls/api/2016-11-28/CloseInstancePublicPorts:
    post:
      operationId: CloseInstancePublicPorts
      summary: Closes ports for a specific Amazon Lightsail instance
      description: Closes ports for a specific Amazon Lightsail instance. The CloseInstancePublicPorts action supports
        tag-based access control via resource tags applied to the resource identified by instanceName . For more
        information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CloseInstancePublicPortsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CloseInstancePublicPortsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CloseInstancePublicPorts
  /ls/api/2016-11-28/CopySnapshot:
    post:
      operationId: CopySnapshot
      summary: Copies a manual snapshot of an instance or disk as another manual snapshot, or copies an automatic
        snapshot of an instance or disk as a manual snapshot
      description: Copies a manual snapshot of an instance or disk as another manual snapshot, or copies an automatic
        snapshot of an instance or disk as a manual snapshot. This operation can also be used to copy a manual or
        automatic snapshot of an instance or a disk from one Amazon Web Services Region to another in Amazon Lightsail.
        When copying a manual snapshot , be sure to define the source region , source snapshot name , and target
        snapshot name parameters. When copying an automatic snapshot , be sure to define the source region , source
        resource name , target snapshot name , and either the restore date or the use latest restorable auto snapshot
        parameters.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CopySnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CopySnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CopySnapshot
  /ls/api/2016-11-28/CreateBucket:
    post:
      operationId: CreateBucket
      summary: Creates an Amazon Lightsail bucket
      description: Creates an Amazon Lightsail bucket. A bucket is a cloud storage resource available in the Lightsail
        object storage service. Use buckets to store objects such as data and its descriptive metadata. For more
        information about buckets, see Buckets in Amazon Lightsail in the Amazon Lightsail Developer Guide .
      tags:
      - Buckets
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateBucketRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateBucketResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateBucket
  /ls/api/2016-11-28/CreateBucketAccessKey:
    post:
      operationId: CreateBucketAccessKey
      summary: Creates a new access key for the specified Amazon Lightsail bucket
      description: Creates a new access key for the specified Amazon Lightsail bucket. Access keys consist of an
        access key ID and corresponding secret access key. Access keys grant full programmatic access to the specified
        bucket and its objects. You can have a maximum of two access keys per bucket. Use the GetBucketAccessKeys
        action to get a list of current access keys for a specific bucket. For more information about access keys,
        see Creating access keys for a bucket in Amazon Lightsail in the Amazon Lightsail Developer Guide . The
        secretAccessKey value is returned only in response to the CreateBucketAccessKey action. You can get a secret
        access key only when you first create an access key; you cannot get the secret access key later. If you
        lose the secret access key, you must create a new access key.
      tags:
      - Buckets
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateBucketAccessKeyRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateBucketAccessKeyResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateBucketAccessKey
  /ls/api/2016-11-28/CreateCertificate:
    post:
      operationId: CreateCertificate
      summary: Creates an SSL/TLS certificate for an Amazon Lightsail content delivery network (CDN) distribution
        and a container service
      description: Creates an SSL/TLS certificate for an Amazon Lightsail content delivery network (CDN) distribution
        and a container service. After the certificate is valid, use the AttachCertificateToDistribution action
        to use the certificate and its domains with your distribution. Or use the UpdateContainerService action
        to use the certificate and its domains with your container service. Only certificates created in the us-east-1
        Amazon Web Services Region can be attached to Lightsail distributions. Lightsail distributions are global
        resources that can reference an origin in any Amazon Web Services Region, and distribute its content globally.
        However, all distributions are located in the us-east-1 Region.
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateCertificate
  /ls/api/2016-11-28/CreateCloudFormationStack:
    post:
      operationId: CreateCloudFormationStack
      summary: Creates an AWS CloudFormation stack, which creates a new Amazon EC2 instance from an exported Amazon
        Lightsail snapshot
      description: Creates an AWS CloudFormation stack, which creates a new Amazon EC2 instance from an exported
        Amazon Lightsail snapshot. This operation results in a CloudFormation stack record that can be used to track
        the AWS CloudFormation stack created. Use the get cloud formation stack records operation to get a list
        of the CloudFormation stacks created. Wait until after your new Amazon EC2 instance is created before running
        the create cloud formation stack operation again with the same export snapshot record.
      tags:
      - Account
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateCloudFormationStackRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateCloudFormationStackResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateCloudFormationStack
  /ls/api/2016-11-28/CreateContactMethod:
    post:
      operationId: CreateContactMethod
      summary: Creates an email or SMS text message contact method
      description: Creates an email or SMS text message contact method. A contact method is used to send you notifications
        about your Amazon Lightsail resources. You can add one email address and one mobile phone number contact
        method in each Amazon Web Services Region. However, SMS text messaging is not supported in some Amazon Web
        Services Regions, and SMS text messages cannot be sent to some countries/regions. For more information,
        see Notifications in Amazon Lightsail . The create contact method operation supports tag-based access control
        via request tags. For more information, see the Lightsail Developer Guide .
      tags:
      - Contact Methods
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateContactMethodRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateContactMethodResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateContactMethod
  /ls/api/2016-11-28/CreateDisk:
    post:
      operationId: CreateDisk
      summary: Creates a block storage disk that can be attached to an Amazon Lightsail instance in the same Availability
        Zone ( us-east-2a )
      description: Creates a block storage disk that can be attached to an Amazon Lightsail instance in the same
        Availability Zone ( us-east-2a ). The create disk operation supports tag-based access control via request
        tags. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Block Storage
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDiskRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDiskResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDisk
  /ls/api/2016-11-28/CreateDiskFromSnapshot:
    post:
      operationId: CreateDiskFromSnapshot
      summary: Creates a block storage disk from a manual or automatic snapshot of a disk
      description: Creates a block storage disk from a manual or automatic snapshot of a disk. The resulting disk
        can be attached to an Amazon Lightsail instance in the same Availability Zone ( us-east-2a ). The create
        disk from snapshot operation supports tag-based access control via request tags and resource tags applied
        to the resource identified by disk snapshot name . For more information, see the Amazon Lightsail Developer
        Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDiskFromSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDiskFromSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDiskFromSnapshot
  /ls/api/2016-11-28/CreateDiskSnapshot:
    post:
      operationId: CreateDiskSnapshot
      summary: Creates a snapshot of a block storage disk
      description: Creates a snapshot of a block storage disk. You can use snapshots for backups, to make copies
        of disks, and to save data before shutting down a Lightsail instance. You can take a snapshot of an attached
        disk that is in use; however, snapshots only capture data that has been written to your disk at the time
        the snapshot command is issued. This may exclude any data that has been cached by any applications or the
        operating system. If you can pause any file systems on the disk long enough to take a snapshot, your snapshot
        should be complete. Nevertheless, if you cannot pause all file writes to the disk, you should unmount the
        disk from within the Lightsail instance, issue the create disk snapshot command, and then remount the disk
        to ensure a consistent and complete snapshot. You may remount and use your disk while the snapshot status
        is pending. You can also use this operation to create a snapshot of an instance's system volume. You might
        want to do this, for example, to recover data from the system volume of a botched instance or to create
        a backup of the system volume like you would for a block storage disk. To create a snapshot of a system
        volume, just define the instance name parameter when issuing the snapshot command, and a snapshot of the
        defined instance's system volume will be created. After the snapshot is available, you can create a block
        storage disk from the snapshot and attach it to a running instance to access the data on the disk. The create
        disk snapshot operation supports tag-based access control via request tags. For more information, see the
        Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDiskSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDiskSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDiskSnapshot
  /ls/api/2016-11-28/CreateDistribution:
    post:
      operationId: CreateDistribution
      summary: Creates an Amazon Lightsail content delivery network (CDN) distribution
      description: Creates an Amazon Lightsail content delivery network (CDN) distribution. A distribution is a
        globally distributed network of caching servers that improve the performance of your website or web application
        hosted on a Lightsail instance. For more information, see Content delivery networks in Amazon Lightsail
        .
      tags:
      - Distributions
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDistributionRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDistributionResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDistribution
  /ls/api/2016-11-28/CreateDomain:
    post:
      operationId: CreateDomain
      summary: Creates a domain resource for the specified domain (example.com)
      description: Creates a domain resource for the specified domain (example.com). The create domain operation
        supports tag-based access control via request tags. For more information, see the Amazon Lightsail Developer
        Guide .
      tags:
      - Domains
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDomainResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDomain
  /ls/api/2016-11-28/CreateDomainEntry:
    post:
      operationId: CreateDomainEntry
      summary: 'Creates one of the following domain name system (DNS) records in a domain DNS zone: Address (A),
        canonical name (CNAME), mail exchanger (MX), name server...'
      description: 'Creates one of the following domain name system (DNS) records in a domain DNS zone: Address
        (A), canonical name (CNAME), mail exchanger (MX), name server (NS), start of authority (SOA), service locator
        (SRV), or text (TXT). The create domain entry operation supports tag-based access control via resource tags
        applied to the resource identified by domain name . For more information, see the Amazon Lightsail Developer
        Guide .'
      tags:
      - Domains
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDomainEntryRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDomainEntryResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDomainEntry
  /ls/api/2016-11-28/CreateInstanceSnapshot:
    post:
      operationId: CreateInstanceSnapshot
      summary: 'Creates a snapshot of a specific virtual private server, or instance '
      description: Creates a snapshot of a specific virtual private server, or instance . You can use a snapshot
        to create a new instance that is based on that snapshot. The create instance snapshot operation supports
        tag-based access control via request tags. For more information, see the Amazon Lightsail Developer Guide
        .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateInstanceSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateInstanceSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateInstanceSnapshot
  /ls/api/2016-11-28/CreateInstances:
    post:
      operationId: CreateInstances
      summary: Creates one or more Amazon Lightsail instances
      description: Creates one or more Amazon Lightsail instances. The create instances operation supports tag-based
        access control via request tags. For more information, see the Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateInstancesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateInstancesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateInstances
  /ls/api/2016-11-28/CreateInstancesFromSnapshot:
    post:
      operationId: CreateInstancesFromSnapshot
      summary: Creates one or more new instances from a manual or automatic snapshot of an instance
      description: Creates one or more new instances from a manual or automatic snapshot of an instance. The create
        instances from snapshot operation supports tag-based access control via request tags and resource tags applied
        to the resource identified by instance snapshot name . For more information, see the Amazon Lightsail Developer
        Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateInstancesFromSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateInstancesFromSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateInstancesFromSnapshot
  /ls/api/2016-11-28/CreateKeyPair:
    post:
      operationId: CreateKeyPair
      summary: Creates a custom SSH key pair that you can use with an Amazon Lightsail instance
      description: Creates a custom SSH key pair that you can use with an Amazon Lightsail instance. Use the DownloadDefaultKeyPair
        action to create a Lightsail default key pair in an Amazon Web Services Region where a default key pair
        does not currently exist. The create key pair operation supports tag-based access control via request tags.
        For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Key Pairs
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateKeyPairRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateKeyPairResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateKeyPair
  /ls/api/2016-11-28/CreateLoadBalancer:
    post:
      operationId: CreateLoadBalancer
      summary: Creates a Lightsail load balancer
      description: Creates a Lightsail load balancer. To learn more about deciding whether to load balance your
        application, see Configure your Lightsail instances for load balancing . You can create up to 10 load balancers
        per AWS Region in your account. When you create a load balancer, you can specify a unique name and port
        settings. To change additional load balancer settings, use the UpdateLoadBalancerAttribute operation. The
        create load balancer operation supports tag-based access control via request tags. For more information,
        see the Amazon Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateLoadBalancer
  /ls/api/2016-11-28/CreateLoadBalancerTlsCertificate:
    post:
      operationId: CreateLoadBalancerTlsCertificate
      summary: Creates an SSL/TLS certificate for an Amazon Lightsail load balancer
      description: Creates an SSL/TLS certificate for an Amazon Lightsail load balancer. TLS is just an updated,
        more secure version of Secure Socket Layer (SSL). The CreateLoadBalancerTlsCertificate operation supports
        tag-based access control via resource tags applied to the resource identified by load balancer name . For
        more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateLoadBalancerTlsCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateLoadBalancerTlsCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateLoadBalancerTlsCertificate
  /ls/api/2016-11-28/CreateRelationalDatabase:
    post:
      operationId: CreateRelationalDatabase
      summary: Creates a new database in Amazon Lightsail
      description: Creates a new database in Amazon Lightsail. The create relational database operation supports
        tag-based access control via request tags. For more information, see the Amazon Lightsail Developer Guide
        .
      tags:
      - Relational Databases
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateRelationalDatabaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateRelationalDatabaseResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateRelationalDatabase
  /ls/api/2016-11-28/CreateRelationalDatabaseFromSnapshot:
    post:
      operationId: CreateRelationalDatabaseFromSnapshot
      summary: Creates a new database from an existing database snapshot in Amazon Lightsail
      description: Creates a new database from an existing database snapshot in Amazon Lightsail. You can create
        a new database from a snapshot in if something goes wrong with your original database, or to change it to
        a different plan, such as a high availability or standard plan. The create relational database from snapshot
        operation supports tag-based access control via request tags and resource tags applied to the resource identified
        by relationalDatabaseSnapshotName. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Relational Databases
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateRelationalDatabaseFromSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateRelationalDatabaseFromSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateRelationalDatabaseFromSnapshot
  /ls/api/2016-11-28/CreateRelationalDatabaseSnapshot:
    post:
      operationId: CreateRelationalDatabaseSnapshot
      summary: Creates a snapshot of your database in Amazon Lightsail
      description: Creates a snapshot of your database in Amazon Lightsail. You can use snapshots for backups, to
        make copies of a database, and to save data before deleting a database. The create relational database snapshot
        operation supports tag-based access control via request tags. For more information, see the Amazon Lightsail
        Developer Guide .
      tags:
      - Relational Databases
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateRelationalDatabaseSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateRelationalDatabaseSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateRelationalDatabaseSnapshot
  /ls/api/2016-11-28/DeleteAlarm/{alarmName}:
    delete:
      operationId: DeleteAlarm
      summary: Deletes an alarm
      description: Deletes an alarm. An alarm is used to monitor a single metric for one of your resources. When
        a metric condition is met, the alarm can notify you by email, SMS text message, and a banner displayed on
        the Amazon Lightsail console. For more information, see Alarms in Amazon Lightsail .
      tags:
      - Alarms
      parameters:
      - name: alarmName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ResourceName'
        description: The name of the alarm to delete.
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteAlarmResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteAlarm
  /ls/api/2016-11-28/DeleteAutoSnapshot:
    post:
      operationId: DeleteAutoSnapshot
      summary: Deletes an automatic snapshot of an instance or disk
      description: Deletes an automatic snapshot of an instance or disk. For more information, see the Amazon Lightsail
        Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteAutoSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteAutoSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteAutoSnapshot
  /ls/api/2016-11-28/DeleteBucket:
    post:
      operationId: DeleteBucket
      summary: Deletes a Amazon Lightsail bucket
      description: Deletes a Amazon Lightsail bucket. When you delete your bucket, the bucket name is released and
        can be reused for a new bucket in your account or another Amazon Web Services account.
      tags:
      - Buckets
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteBucketRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteBucketResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteBucket
  /ls/api/2016-11-28/DeleteBucketAccessKey:
    post:
      operationId: DeleteBucketAccessKey
      summary: Deletes an access key for the specified Amazon Lightsail bucket
      description: Deletes an access key for the specified Amazon Lightsail bucket. We recommend that you delete
        an access key if the secret access key is compromised. For more information about access keys, see Creating
        access keys for a bucket in Amazon Lightsail in the Amazon Lightsail Developer Guide .
      tags:
      - Buckets
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteBucketAccessKeyRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteBucketAccessKeyResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteBucketAccessKey
  /ls/api/2016-11-28/DeleteCertificate:
    post:
      operationId: DeleteCertificate
      summary: Deletes an SSL/TLS certificate for your Amazon Lightsail content delivery network (CDN) distribution
      description: Deletes an SSL/TLS certificate for your Amazon Lightsail content delivery network (CDN) distribution.
        Certificates that are currently attached to a distribution cannot be deleted. Use the DetachCertificateFromDistribution
        action to detach a certificate from a distribution.
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteCertificateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteCertificateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteCertificate
  /ls/api/2016-11-28/DeleteContactMethod:
    post:
      operationId: DeleteContactMethod
      summary: Deletes a contact method
      description: Deletes a contact method. A contact method is used to send you notifications about your Amazon
        Lightsail resources. You can add one email address and one mobile phone number contact method in each Amazon
        Web Services Region. However, SMS text messaging is not supported in some Amazon Web Services Regions, and
        SMS text messages cannot be sent to some countries/regions. For more information, see Notifications in Amazon
        Lightsail .
      tags:
      - Contact Methods
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteContactMethodRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteContactMethodResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteContactMethod
  /ls/api/2016-11-28/DeleteDisk:
    post:
      operationId: DeleteDisk
      summary: Deletes the specified block storage disk
      description: Deletes the specified block storage disk. The disk must be in the available state (not attached
        to a Lightsail instance). The disk may remain in the deleting state for several minutes. The delete disk
        operation supports tag-based access control via resource tags applied to the resource identified by disk
        name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Block Storage
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteDiskRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteDiskResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteDisk
  /ls/api/2016-11-28/DeleteDiskSnapshot:
    post:
      operationId: DeleteDiskSnapshot
      summary: Deletes the specified disk snapshot
      description: Deletes the specified disk snapshot. When you make periodic snapshots of a disk, the snapshots
        are incremental, and only the blocks on the device that have changed since your last snapshot are saved
        in the new snapshot. When you delete a snapshot, only the data not needed for any other snapshot is removed.
        So regardless of which prior snapshots have been deleted, all active snapshots will have access to all the
        information needed to restore the disk. The delete disk snapshot operation supports tag-based access control
        via resource tags applied to the resource identified by disk snapshot name . For more information, see the
        Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteDiskSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteDiskSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteDiskSnapshot
  /ls/api/2016-11-28/DeleteDistribution:
    post:
      operationId: DeleteDistribution
      summary: Deletes your Amazon Lightsail content delivery network (CDN) distribution
      description: Deletes your Amazon Lightsail content delivery network (CDN) distribution.
      tags:
      - Distributions
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteDistributionRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteDistributionResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteDistribution
  /ls/api/2016-11-28/DeleteDomain:
    post:
      operationId: DeleteDomain
      summary: Deletes the specified domain recordset and all of its domain records
      description: Deletes the specified domain recordset and all of its domain records. The delete domain operation
        supports tag-based access control via resource tags applied to the resource identified by domain name .
        For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Domains
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteDomainRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteDomainResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
[...]
