openapi: 3.2.0
info:
  title: Amazon Lightsail Operations API
  description: Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers who need to build websites or web applications.
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Operations
paths:
  /ls/api/2016-11-28/GetOperation:
    post:
      operationId: GetOperation
      summary: Returns information about a specific operation
      description: Returns information about a specific operation. Operations include events such as when you create an instance, allocate a static IP, attach a static IP, and so on.
      tags:
      - Operations
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetOperationRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetOperationResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetOperation
  /ls/api/2016-11-28/GetOperations:
    post:
      operationId: GetOperations
      summary: Returns information about all operations
      description: Returns information about all operations. Results are returned from oldest to newest, up to a maximum of 200. Results can be paged by making each subsequent call to GetOperations use the maximum (last) statusChangedAt value from the previous request.
      tags:
      - Operations
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetOperationsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetOperationsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetOperations
  /ls/api/2016-11-28/GetOperationsForResource:
    post:
      operationId: GetOperationsForResource
      summary: Gets operations for a specific resource (an instance or a static IP)
      description: Gets operations for a specific resource (an instance or a static IP).
      tags:
      - Operations
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetOperationsForResourceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetOperationsForResourceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetOperationsForResource
components:
  schemas:
    RegionSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Regions and Availability Zones for Lightsail
        message:
          $ref: '#/components/schemas/string'
        tip:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Opt-in Regions typically take a few minutes to finish setting up before you can work with them. Wait a few minutes and try again.
      description: Lightsail throws this exception when an operation is performed on resources in an opt-in Region that is currently being set up.
    ServiceException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: A general service exception.
    string:
      type: string
    IsoDate:
      type: string
      format: date-time
    GetOperationRequest:
      type: object
      properties:
        operationId:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: A GUID used to identify the operation.
      required:
      - operationId
    ResourceName:
      type: string
      pattern: ^\w[\w\-]*\w$
    Operation:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the operation.
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resource name.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the operation was initialized ( 1479816991.349 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone.
        isTerminal:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the operation is terminal.
        operationDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Details about the operation ( Debian-1GB-Ohio-1 ).
        operationType:
          allOf:
          - $ref: '#/components/schemas/OperationType'
          description: The type of operation.
        status:
          allOf:
          - $ref: '#/components/schemas/OperationStatus'
          description: The status of the operation.
        statusChangedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the status was changed ( 1479816991.349 ).
        errorCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error code.
        errorDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error details.
      description: Describes the API operation.
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    OperationList:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    OperationFailureException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an operation fails to execute.
    GetOperationsResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetOperations request and specify the next page token using the pageToken parameter.
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    boolean:
      type: boolean
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    OperationType:
      type: string
      enum:
      - DeleteKnownHostKeys
      - DeleteInstance
      - CreateInstance
      - StopInstance
      - StartInstance
      - RebootInstance
      - OpenInstancePublicPorts
      - PutInstancePublicPorts
      - CloseInstancePublicPorts
      - AllocateStaticIp
      - ReleaseStaticIp
      - AttachStaticIp
      - DetachStaticIp
      - UpdateDomainEntry
      - DeleteDomainEntry
      - CreateDomain
      - DeleteDomain
      - CreateInstanceSnapshot
      - DeleteInstanceSnapshot
      - CreateInstancesFromSnapshot
      - CreateLoadBalancer
      - DeleteLoadBalancer
      - AttachInstancesToLoadBalancer
      - DetachInstancesFromLoadBalancer
      - UpdateLoadBalancerAttribute
      - CreateLoadBalancerTlsCertificate
      - DeleteLoadBalancerTlsCertificate
      - AttachLoadBalancerTlsCertificate
      - CreateDisk
      - DeleteDisk
      - AttachDisk
      - DetachDisk
      - CreateDiskSnapshot
      - DeleteDiskSnapshot
      - CreateDiskFromSnapshot
      - CreateRelationalDatabase
      - UpdateRelationalDatabase
      - DeleteRelationalDatabase
      - CreateRelationalDatabaseFromSnapshot
      - CreateRelationalDatabaseSnapshot
      - DeleteRelationalDatabaseSnapshot
      - UpdateRelationalDatabaseParameters
      - StartRelationalDatabase
      - RebootRelationalDatabase
      - StopRelationalDatabase
      - EnableAddOn
      - DisableAddOn
      - PutAlarm
      - GetAlarms
      - DeleteAlarm
      - TestAlarm
      - CreateContactMethod
      - GetContactMethods
      - SendContactMethodVerification
      - DeleteContactMethod
      - CreateDistribution
      - UpdateDistribution
      - DeleteDistribution
      - ResetDistributionCache
      - AttachCertificateToDistribution
      - DetachCertificateFromDistribution
      - UpdateDistributionBundle
      - SetIpAddressType
      - CreateCertificate
      - DeleteCertificate
      - CreateContainerService
      - UpdateContainerService
      - DeleteContainerService
      - CreateContainerServiceDeployment
      - CreateContainerServiceRegistryLogin
      - RegisterContainerImage
      - DeleteContainerImage
      - CreateBucket
      - DeleteBucket
      - CreateBucketAccessKey
      - DeleteBucketAccessKey
      - UpdateBucketBundle
      - UpdateBucket
      - SetResourceAccessForBucket
      - UpdateInstanceMetadataOptions
      - StartGUISession
      - StopGUISession
      - SetupInstanceHttps
      - GetProfile
    GetOperationsForResourceRequest:
      type: object
      properties:
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the resource for which you are requesting information.
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetOperationsForResource request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
      required:
      - resourceName
    GetOperationsRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetOperations request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    OperationStatus:
      type: string
      enum:
      - NotStarted
      - Started
      - Failed
      - Completed
      - Succeeded
    GetOperationResult:
      type: object
      properties:
        operation:
          allOf:
          - $ref: '#/components/schemas/Operation'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    ResourceType:
      type: string
      enum:
      - ContainerService
      - Instance
      - StaticIp
      - KeyPair
      - InstanceSnapshot
      - Domain
      - PeeredVpc
      - LoadBalancer
      - LoadBalancerTlsCertificate
      - Disk
      - DiskSnapshot
      - RelationalDatabase
      - RelationalDatabaseSnapshot
      - ExportSnapshotRecord
      - CloudFormationStackRecord
      - Alarm
      - ContactMethod
      - Distribution
      - Certificate
      - Bucket
    NonEmptyString:
      type: string
      pattern: \S
    GetOperationsForResourceResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
        nextPageCount:
          allOf:
          - $ref: '#/components/schemas/string'
          description: (Discontinued) Returns the number of pages of results that remain. In releases prior to June 12, 2017, this parameter returned null by the API. It is now discontinued, and the API returns the next page token parameter instead.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetOperationsForResource request and specify the next page token using the pageToken parameter.
    AccountSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an account is still in the setup in progress state.
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
    RegionName:
      type: string
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-north-1
      - eu-south-2
      - ca-central-1
      - ap-east-1
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-3
      - ap-southeast-5
      - sa-east-1
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4. Sign each request with IAM credentials for service name "lightsail"; the Authorization header carries the AWS4-HMAC-SHA256 credential scope, signed headers and signature. Temporary STS credentials additionally require X-Amz-Security-Token. See https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/CommonParameters.html
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
