openapi: 3.2.0
info:
  title: Amazon Lightsail Snapshots API
  description: Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers who need to build websites or web applications.
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Snapshots
paths:
  /ls/api/2016-11-28/CopySnapshot:
    post:
      operationId: CopySnapshot
      summary: Copies a manual snapshot of an instance or disk as another manual snapshot, or…
      description: Copies a manual snapshot of an instance or disk as another manual snapshot, or copies an automatic snapshot of an instance or disk as a manual snapshot. This operation can also be used to copy a manual or automatic snapshot of an instance or a disk from one Amazon Web Services Region to another in Amazon Lightsail. When copying a manual snapshot , be sure to define the source region , source snapshot name , and target snapshot name parameters. When copying an automatic snapshot , be sure to define the source region , source resource name , target snapshot name , and either the restore date or the use latest restorable auto snapshot parameters.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CopySnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CopySnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CopySnapshot
  /ls/api/2016-11-28/CreateDiskFromSnapshot:
    post:
      operationId: CreateDiskFromSnapshot
      summary: Creates a block storage disk from a manual or automatic snapshot of a disk
      description: Creates a block storage disk from a manual or automatic snapshot of a disk. The resulting disk can be attached to an Amazon Lightsail instance in the same Availability Zone ( us-east-2a ). The create disk from snapshot operation supports tag-based access control via request tags and resource tags applied to the resource identified by disk snapshot name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDiskFromSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDiskFromSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDiskFromSnapshot
  /ls/api/2016-11-28/CreateDiskSnapshot:
    post:
      operationId: CreateDiskSnapshot
      summary: Creates a snapshot of a block storage disk
      description: Creates a snapshot of a block storage disk. You can use snapshots for backups, to make copies of disks, and to save data before shutting down a Lightsail instance. You can take a snapshot of an attached disk that is in use; however, snapshots only capture data that has been written to your disk at the time the snapshot command is issued. This may exclude any data that has been cached by any applications or the operating system. If you can pause any file systems on the disk long enough to take a snapshot, your snapshot should be complete. Nevertheless, if you cannot pause all file writes to the disk, you should unmount the disk from within the Lightsail instance, issue the create disk snapshot command, and then remount the disk to ensure a consistent and complete snapshot. You may remount and use your disk while the snapshot status is pending. You can also use this operation to create a snapshot of an instance's system volume. You might want to do this, for example, to recover data from the system volume of a botched instance or to create a backup of the system volume like you would for a block storage disk. To create a snapshot of a system volume, just define the instance name parameter when issuing the snapshot command, and a snapshot of the defined instance's system volume will be created. After the snapshot is available, you can create a block storage disk from the snapshot and attach it to a running instance to access the data on the disk. The create disk snapshot operation supports tag-based access control via request tags. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateDiskSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateDiskSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateDiskSnapshot
  /ls/api/2016-11-28/CreateInstanceSnapshot:
    post:
      operationId: CreateInstanceSnapshot
      summary: Creates a snapshot of a specific virtual private server, or instance
      description: Creates a snapshot of a specific virtual private server, or instance . You can use a snapshot to create a new instance that is based on that snapshot. The create instance snapshot operation supports tag-based access control via request tags. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateInstanceSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateInstanceSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateInstanceSnapshot
  /ls/api/2016-11-28/CreateInstancesFromSnapshot:
    post:
      operationId: CreateInstancesFromSnapshot
      summary: Creates one or more new instances from a manual or automatic snapshot of an…
      description: Creates one or more new instances from a manual or automatic snapshot of an instance. The create instances from snapshot operation supports tag-based access control via request tags and resource tags applied to the resource identified by instance snapshot name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateInstancesFromSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateInstancesFromSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateInstancesFromSnapshot
  /ls/api/2016-11-28/DeleteAutoSnapshot:
    post:
      operationId: DeleteAutoSnapshot
      summary: Deletes an automatic snapshot of an instance or disk
      description: Deletes an automatic snapshot of an instance or disk. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteAutoSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteAutoSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteAutoSnapshot
  /ls/api/2016-11-28/DeleteDiskSnapshot:
    post:
      operationId: DeleteDiskSnapshot
      summary: Deletes the specified disk snapshot
      description: Deletes the specified disk snapshot. When you make periodic snapshots of a disk, the snapshots are incremental, and only the blocks on the device that have changed since your last snapshot are saved in the new snapshot. When you delete a snapshot, only the data not needed for any other snapshot is removed. So regardless of which prior snapshots have been deleted, all active snapshots will have access to all the information needed to restore the disk. The delete disk snapshot operation supports tag-based access control via resource tags applied to the resource identified by disk snapshot name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteDiskSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteDiskSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteDiskSnapshot
  /ls/api/2016-11-28/DeleteInstanceSnapshot:
    post:
      operationId: DeleteInstanceSnapshot
      summary: Deletes a specific snapshot of a virtual private server (or instance )
      description: Deletes a specific snapshot of a virtual private server (or instance ). The delete instance snapshot operation supports tag-based access control via resource tags applied to the resource identified by instance snapshot name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteInstanceSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteInstanceSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteInstanceSnapshot
  /ls/api/2016-11-28/ExportSnapshot:
    post:
      operationId: ExportSnapshot
      summary: Exports an Amazon Lightsail instance or block storage disk snapshot to Amazon…
      description: Exports an Amazon Lightsail instance or block storage disk snapshot to Amazon Elastic Compute Cloud (Amazon EC2). This operation results in an export snapshot record that can be used with the create cloud formation stack operation to create new Amazon EC2 instances. Exported instance snapshots appear in Amazon EC2 as Amazon Machine Images (AMIs), and the instance system disk appears as an Amazon Elastic Block Store (Amazon EBS) volume. Exported disk snapshots appear in Amazon EC2 as Amazon EBS volumes. Snapshots are exported to the same Amazon Web Services Region in Amazon EC2 as the source Lightsail snapshot. The export snapshot operation supports tag-based access control via resource tags applied to the resource identified by source snapshot name . For more information, see the Amazon Lightsail Developer Guide . Use the get instance snapshots or get disk snapshots operations to get a list of snapshots that you can export to Amazon EC2.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/ExportSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ExportSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.ExportSnapshot
  /ls/api/2016-11-28/GetAutoSnapshots:
    post:
      operationId: GetAutoSnapshots
      summary: Returns the available automatic snapshots for an instance or disk
      description: Returns the available automatic snapshots for an instance or disk. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetAutoSnapshotsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetAutoSnapshotsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetAutoSnapshots
  /ls/api/2016-11-28/GetDiskSnapshot:
    post:
      operationId: GetDiskSnapshot
      summary: Returns information about a specific block storage disk snapshot
      description: Returns information about a specific block storage disk snapshot.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetDiskSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetDiskSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetDiskSnapshot
  /ls/api/2016-11-28/GetDiskSnapshots:
    post:
      operationId: GetDiskSnapshots
      summary: Returns information about all block storage disk snapshots in your AWS account…
      description: Returns information about all block storage disk snapshots in your AWS account and region.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetDiskSnapshotsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetDiskSnapshotsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetDiskSnapshots
  /ls/api/2016-11-28/GetExportSnapshotRecords:
    post:
      operationId: GetExportSnapshotRecords
      summary: Returns all export snapshot records created as a result of the export snapshot…
      description: Returns all export snapshot records created as a result of the export snapshot operation. An export snapshot record can be used to create a new Amazon EC2 instance and its related resources with the CreateCloudFormationStack action.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetExportSnapshotRecordsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetExportSnapshotRecordsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetExportSnapshotRecords
  /ls/api/2016-11-28/GetInstanceSnapshot:
    post:
      operationId: GetInstanceSnapshot
      summary: Returns information about a specific instance snapshot
      description: Returns information about a specific instance snapshot.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstanceSnapshotRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstanceSnapshotResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstanceSnapshot
  /ls/api/2016-11-28/GetInstanceSnapshots:
    post:
      operationId: GetInstanceSnapshots
      summary: Returns all instance snapshots for the user's account
      description: Returns all instance snapshots for the user's account.
      tags:
      - Snapshots
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstanceSnapshotsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstanceSnapshotsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstanceSnapshots
components:
  schemas:
    DeleteAutoSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    AttachedDiskMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/DiskMapList'
    GetInstanceSnapshotsResult:
      type: object
      properties:
        instanceSnapshots:
          allOf:
          - $ref: '#/components/schemas/InstanceSnapshotList'
          description: An array of key-value pairs containing information about the results of your get instance snapshots request.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetInstanceSnapshots request and specify the next page token using the pageToken parameter.
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    StopInstanceOnIdleRequest:
      type: object
      properties:
        threshold:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The value to compare with the duration.
        duration:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The amount of idle time in minutes after which your virtual computer will automatically stop.
      description: Describes a request to create or edit the StopInstanceOnIdle add-on. This add-on only applies to Lightsail for Research resources.
    AutoSnapshotDate:
      type: string
      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    AutoSnapshotDetails:
      type: object
      properties:
        date:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The date of the automatic snapshot in YYYY-MM-DD format.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the automatic snapshot was created.
        status:
          allOf:
          - $ref: '#/components/schemas/AutoSnapshotStatus'
          description: The status of the automatic snapshot.
        fromAttachedDisks:
          allOf:
          - $ref: '#/components/schemas/AttachedDiskList'
          description: An array of objects that describe the block storage disks attached to the instance when the automatic snapshot was created.
      description: Describes an automatic snapshot.
    DiskSnapshotState:
      type: string
      enum:
      - pending
      - completed
      - error
      - unknown
    GetInstanceSnapshotsRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetInstanceSnapshots request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    DeleteDiskSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    OperationType:
      type: string
      enum:
      - DeleteKnownHostKeys
      - DeleteInstance
      - CreateInstance
      - StopInstance
      - StartInstance
      - RebootInstance
      - OpenInstancePublicPorts
      - PutInstancePublicPorts
      - CloseInstancePublicPorts
      - AllocateStaticIp
      - ReleaseStaticIp
      - AttachStaticIp
      - DetachStaticIp
      - UpdateDomainEntry
      - DeleteDomainEntry
      - CreateDomain
      - DeleteDomain
      - CreateInstanceSnapshot
      - DeleteInstanceSnapshot
      - CreateInstancesFromSnapshot
      - CreateLoadBalancer
      - DeleteLoadBalancer
      - AttachInstancesToLoadBalancer
      - DetachInstancesFromLoadBalancer
      - UpdateLoadBalancerAttribute
      - CreateLoadBalancerTlsCertificate
      - DeleteLoadBalancerTlsCertificate
      - AttachLoadBalancerTlsCertificate
      - CreateDisk
      - DeleteDisk
      - AttachDisk
      - DetachDisk
      - CreateDiskSnapshot
      - DeleteDiskSnapshot
      - CreateDiskFromSnapshot
      - CreateRelationalDatabase
      - UpdateRelationalDatabase
      - DeleteRelationalDatabase
      - CreateRelationalDatabaseFromSnapshot
      - CreateRelationalDatabaseSnapshot
      - DeleteRelationalDatabaseSnapshot
      - UpdateRelationalDatabaseParameters
      - StartRelationalDatabase
      - RebootRelationalDatabase
      - StopRelationalDatabase
      - EnableAddOn
      - DisableAddOn
      - PutAlarm
      - GetAlarms
      - DeleteAlarm
      - TestAlarm
      - CreateContactMethod
      - GetContactMethods
      - SendContactMethodVerification
      - DeleteContactMethod
      - CreateDistribution
      - UpdateDistribution
      - DeleteDistribution
      - ResetDistributionCache
      - AttachCertificateToDistribution
      - DetachCertificateFromDistribution
      - UpdateDistributionBundle
      - SetIpAddressType
      - CreateCertificate
      - DeleteCertificate
      - CreateContainerService
      - UpdateContainerService
      - DeleteContainerService
      - CreateContainerServiceDeployment
      - CreateContainerServiceRegistryLogin
      - RegisterContainerImage
      - DeleteContainerImage
      - CreateBucket
      - DeleteBucket
      - CreateBucketAccessKey
      - DeleteBucketAccessKey
      - UpdateBucketBundle
      - UpdateBucket
      - SetResourceAccessForBucket
      - UpdateInstanceMetadataOptions
      - StartGUISession
      - StopGUISession
      - SetupInstanceHttps
      - GetProfile
    InstanceSnapshot:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the snapshot.
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the snapshot ( arn:aws:lightsail:us-east-2:123456789101:InstanceSnapshot/d23b5706-3322-4d83-81e5-12345EXAMPLE ).
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about an instance or another resource in Lightsail. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the snapshot was created ( 1479907467.024 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The region name and Availability Zone where you created the snapshot.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The type of resource (usually InstanceSnapshot ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        state:
          allOf:
          - $ref: '#/components/schemas/InstanceSnapshotState'
          description: The state the snapshot is in.
        progress:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The progress of the snapshot. This is populated only for disk snapshots, and is null for instance snapshots.
        fromAttachedDisks:
          allOf:
          - $ref: '#/components/schemas/DiskList'
          description: An array of disk objects containing information about all block storage disks.
        fromInstanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The instance from which the snapshot was created.
        fromInstanceArn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the instance from which the snapshot was created ( arn:aws:lightsail:us-east-2:123456789101:Instance/64b8404c-ccb1-430b-8daf-12345EXAMPLE ).
        fromBlueprintId:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The blueprint ID from which you created the snapshot ( amazon_linux_2023 ). A blueprint is a virtual private server (or instance ) image used to create instances quickly.
        fromBundleId:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The bundle ID from which you created the snapshot ( micro_x_x ).
        isFromAutoSnapshot:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the snapshot was created from an automatic snapshot.
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size in GB of the SSD.
      description: Describes an instance snapshot.
    TagKey:
      type: string
    GetDiskSnapshotResult:
      type: object
      properties:
        diskSnapshot:
          allOf:
          - $ref: '#/components/schemas/DiskSnapshot'
          description: An object containing information about the disk snapshot.
    ServiceException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: A general service exception.
    AttachedDisk:
      type: object
      properties:
        path:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The path of the disk ( /dev/xvdf ).
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB.
      description: Describes a block storage disk that is attached to an instance, and is included in an automatic snapshot.
    CreateInstancesFromSnapshotRequest:
      type: object
      properties:
        instanceNames:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The names for your new instances.
        attachedDiskMapping:
          allOf:
          - $ref: '#/components/schemas/AttachedDiskMap'
          description: An object containing information about one or more disk mappings.
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The Availability Zone where you want to create your instances. Use the following formatting: us-east-2a (case sensitive). You can get a list of Availability Zones by using the get regions operation. Be sure to add the include Availability Zones parameter to your request.'
        instanceSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: 'The name of the instance snapshot on which you are basing your new instances. Use the get instance snapshots operation to return information about your existing snapshots. Constraint: This parameter cannot be defined together with the source instance name parameter. The instance snapshot name and source instance name parameters are mutually exclusive.'
        bundleId:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The bundle of specification information for your virtual private server (or instance ), including the pricing plan ( micro_x_x ).
        userData:
          allOf:
          - $ref: '#/components/schemas/string'
          description: You can create a launch script that configures a server with additional user data. For example, apt-get -y update . Depending on the machine image you choose, the command to get software on your instance varies. Amazon Linux and CentOS use yum , Debian and Ubuntu use apt-get , and FreeBSD uses pkg . For a complete list, see the Amazon Lightsail Developer Guide .
        keyPairName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name for your key pair.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the resource during create. Use the TagResource action to tag a resource after it's created.
        addOns:
          allOf:
          - $ref: '#/components/schemas/AddOnRequestList'
          description: An array of objects representing the add-ons to enable for the new instance.
        ipAddressType:
          allOf:
          - $ref: '#/components/schemas/IpAddressType'
          description: The IP address type for the instance. The possible values are ipv4 for IPv4 only, ipv6 for IPv6 only, and dualstack for IPv4 and IPv6. The default value is dualstack .
        sourceInstanceName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The name of the source instance from which the source automatic snapshot was created. Constraints: This parameter cannot be defined together with the instance snapshot name parameter. The source instance name and instance snapshot name parameters are mutually exclusive. Define this parameter only when creating a new instance from an automatic snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        restoreDate:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The date of the automatic snapshot to use for the new instance. Use the get auto snapshots operation to identify the dates of the available automatic snapshots. Constraints: Must be specified in YYYY-MM-DD format. This parameter cannot be defined together with the use latest restorable auto snapshot parameter. The restore date and use latest restorable auto snapshot parameters are mutually exclusive. Define this parameter only when creating a new instance from an automatic snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        useLatestRestorableAutoSnapshot:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: 'A Boolean value to indicate whether to use the latest available automatic snapshot. Constraints: This parameter cannot be defined together with the restore date parameter. The use latest restorable auto snapshot and restore date parameters are mutually exclusive. Define this parameter only when creating a new instance from an automatic snapshot. For more information, see the Amazon Lightsail Developer Guide .'
      required:
      - instanceNames
      - availabilityZone
      - bundleId
    DiskInfo:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The disk name.
        path:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The disk path.
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB ( 32 ).
        isSystemDisk:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether this disk is a system disk (has an operating system loaded on it).
      description: Describes a disk.
    Operation:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the operation.
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resource name.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the operation was initialized ( 1479816991.349 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone.
        isTerminal:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the operation is terminal.
        operationDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Details about the operation ( Debian-1GB-Ohio-1 ).
        operationType:
          allOf:
          - $ref: '#/components/schemas/OperationType'
          description: The type of operation.
        status:
          allOf:
          - $ref: '#/components/schemas/OperationStatus'
          description: The status of the operation.
        statusChangedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the status was changed ( 1479816991.349 ).
        errorCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error code.
        errorDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error details.
      description: Describes the API operation.
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    InstanceSnapshotState:
      type: string
      enum:
      - pending
      - error
      - available
    AutoMountStatus:
      type: string
      enum:
      - Failed
      - Pending
      - Mounted
      - NotMounted
    RegionSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Regions and Availability Zones for Lightsail
        message:
          $ref: '#/components/schemas/string'
        tip:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Opt-in Regions typically take a few minutes to finish setting up before you can work with them. Wait a few minutes and try again.
      description: Lightsail throws this exception when an operation is performed on resources in an opt-in Region that is currently being set up.
    DiskMap:
      type: object
      properties:
        originalDiskPath:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The original disk path exposed to the instance (for example, /dev/sdh ).
        newDiskName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The new disk name ( my-new-disk ).
      description: Describes a block storage disk mapping.
    ResourceType:
      type: string
      enum:
      - ContainerService
      - Instance
      - StaticIp
      - KeyPair
      - InstanceSnapshot
      - Domain
      - PeeredVpc
      - LoadBalancer
      - LoadBalancerTlsCertificate
      - Disk
      - DiskSnapshot
      - RelationalDatabase
      - RelationalDatabaseSnapshot
      - ExportSnapshotRecord
      - CloudFormationStackRecord
      - Alarm
      - ContactMethod
      - Distribution
      - Certificate
      - Bucket
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    DeleteInstanceSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    CreateInstanceSnapshotRequest:
      type: object
      properties:
        instanceSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name for your new snapshot.
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The Lightsail instance on which to base your snapshot.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the resource during create. Use the TagResource action to tag a resource after it's created.
      required:
      - instanceSnapshotName
      - instanceName
    ExportSnapshotRecordSourceInfo:
      type: object
      properties:
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ExportSnapshotRecordSourceType'
          description: The Lightsail resource type ( InstanceSnapshot or DiskSnapshot ).
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The date when the source instance or disk snapshot was created.
        name:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The name of the source instance or disk snapshot.
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the source instance or disk snapshot.
        fromResourceName:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The name of the snapshot's source instance or disk.
        fromResourceArn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the snapshot's source instance or disk.
        instanceSnapshotInfo:
          allOf:
          - $ref: '#/components/schemas/InstanceSnapshotInfo'
          description: A list of objects describing an instance snapshot.
        diskSnapshotInfo:
          allOf:
          - $ref: '#/components/schemas/DiskSnapshotInfo'
          description: A list of objects describing a disk snapshot.
      description: Describes the source of an export snapshot record.
    DiskSnapshotInfo:
      type: object
      properties:
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB ( 32 ).
      description: Describes a disk snapshot.
    ExportSnapshotRecordSourceType:
      type: string
      enum:
      - InstanceSnapshot
      - DiskSnapshot
    AddOnRequest:
      type: object
      properties:
        addOnType:
          allOf:
          - $ref: '#/components/schemas/AddOnType'
          description: The add-on type.
        autoSnapshotAddOnRequest:
          allOf:
          - $ref: '#/components/schemas/AutoSnapshotAddOnRequest'
          description: An object that represents additional parameters when enabling or modifying the automatic snapshot add-on.
        stopInstanceOnIdleRequest:
          allOf:
          - $ref: '#/components/schemas/StopInstanceOnIdleRequest'
          description: An object that represents additional parameters when enabling or modifying the StopInstanceOnIdle add-on. This object only applies to Lightsail for Research resources.
      required:
      - addOnType
      description: Describes a request to enable, modify, or disable an add-on for an Amazon Lightsail resource. An additional cost may be associated with enabling add-ons. For more information, see the Lightsail pricing page .
    GetInstanceSnapshotRequest:
      type: object
      properties:
        instanceSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the snapshot for which you are requesting information.
      required:
      - instanceSnapshotName
    OperationStatus:
      type: string
      enum:
      - NotStarted
      - Started
      - Failed
      - Completed
      - Succeeded
    integer:
      type: integer
    AutoSnapshotDetailsList:
      type: array
      items:
        $ref: '#/components/schemas/AutoSnapshotDetails'
    Disk:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique name of the disk.
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the disk.
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about an instance or another resource in Lightsail. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The date when the disk was created.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The AWS Region and Availability Zone where the disk is located.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The Lightsail resource type ( Disk ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        addOns:
          allOf:
          - $ref: '#/components/schemas/AddOnList'
          description: An array of objects representing the add-ons enabled on the disk.
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB.
        isSystemDisk:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether this disk is a system disk (has an operating system loaded on it).
        iops:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The input/output operations per second (IOPS) of the disk.
        path:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The disk path.
        state:
          allOf:
          - $ref: '#/components/schemas/DiskState'
          description: Describes the status of the disk.
        attachedTo:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resources to which the disk is attached.
        isAttached:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the disk is attached.
        attachmentState:
          allOf:
          - $ref: '#/components/schemas/string'
          description: (Discontinued) The attachment state of the disk. In releases prior to November 14, 2017, this parameter returned attached for system disks in the API response. It is now discontinued, but still included in the response. Use isAttached instead.
        gbInUse:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: (Discontinued) The number of GB in use by the disk. In releases prior to November 14, 2017, this parameter was not included in the API response. It is now discontinued.
        autoMountStatus:
          allOf:
          - $ref: '#/components/schemas/AutoMountStatus'
          description: The status of automatically mounting a storage disk to a virtual computer. This parameter only applies to Lightsail for Research resources.
      description: Describes a block storage disk.
    DeleteAutoSnapshotRequest:
      type: object
      properties:
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the source instance or disk from which to delete the automatic snapshot.
        date:
          allOf:
          - $ref: '#/components/schemas/AutoSnapshotDate'
          description: The date of the automatic snapshot to delete in YYYY-MM-DD format. Use the get auto snapshots operation to get the available automatic snapshots for a resource.
      required:
      - resourceName
      - date
    CreateDiskSnapshotRequest:
      type: object
      properties:
        diskName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique name of the source disk ( Disk-Virginia-1 ). This parameter cannot be defined together with the instance name parameter. The disk name and instance name parameters are mutually exclusive.
        diskSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the destination disk snapshot ( my-disk-snapshot ) based on the source disk.
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique name of the source instance ( Amazon_Linux-512MB-Virginia-1 ). When this is defined, a snapshot of the instance's system volume is created. This parameter cannot be defined together with the disk name parameter. The instance name and disk name parameters are mutually exclusive.
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the resource during create. Use the TagResource action to tag a resource after it's created.
      required:
      - diskSnapshotName
    ExportSnapshotRequest:
      type: object
      properties:
        sourceSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance or disk snapshot to be exported to Amazon EC2.
      required:
      - sourceSnapshotName
    GetAutoSnapshotsRequest:
      type: object
      properties:
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the source instance or disk from which to get automatic snapshot information.
      required:
      - resourceName
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    CreateInstanceSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
    Tag:
      type: object
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/TagKey'
          description: 'The key of the tag. Constraints: Tag keys accept a maximum of 128 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
        value:
          allOf:
          - $ref: '#/components/schemas/TagValue'
          description: 'The value of the tag. Constraints: Tag values accept a maximum of 256 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
      description: Describes a tag key and optional value assigned to an Amazon Lightsail resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
    AttachedDiskList:
      type: array
      items:
        $ref: '#/components/schemas/AttachedDisk'
    string:
      type: string
    NonEmptyString:
      type: string
      pattern: \S
    AddOnType:
      type: string
      enum:
      - AutoSnapshot
      - StopInstanceOnIdle
    DestinationInfo:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the resource created at the destination.
        service:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The destination service of the record.
      description: Describes the destination of a record.
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
    DiskSnapshotList:
      type: array
      items:
        $ref: '#/components/schemas/DiskSnapshot'
    InstanceSnapshotInfo:
      type: object
      properties:
        fromBundleId:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The bundle ID from which the source instance was created ( micro_x_x ).
        fromBlueprintId:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The blueprint ID from which the source instance ( amazon_linux_2023 ).
        fromDiskInfo:
          allOf:
          - $ref: '#/components/schemas/DiskInfoList'
          description: A list of objects describing the disks that were attached to the source instance.
      description: Describes an instance snapshot.
    CopySnapshotRequest:
      type: object
      properties:
        sourceSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: 'The name of the source manual snapshot to copy. Constraint: Define this parameter only when copying a manual snapshot as another manual snapshot.'
        sourceResourceName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The name of the source instance or disk from which the source automatic snapshot was created. Constraint: Define this parameter only when copying an automatic snapshot as a manual snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        restoreDate:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The date of the source automatic snapshot to copy. Use the get auto snapshots operation to identify the dates of the available automatic snapshots. Constraints: Must be specified in YYYY-MM-DD format. This parameter cannot be defined together with the use latest restorable auto snapshot parameter. The restore date and use latest restorable auto snapshot parameters are mutually exclusive. Define this parameter only when copying an automatic snapshot as a manual snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        useLatestRestorableAutoSnapshot:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: 'A Boolean value to indicate whether to use the latest available automatic snapshot of the specified source instance or disk. Constraints: This parameter cannot be defined together with the restore date parameter. The use latest restorable auto snapshot and restore date parameters are mutually exclusive. Define this parameter only when copying an automatic snapshot as a manual snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        targetSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the new manual snapshot to be created as a copy.
        sourceRegion:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region where the source manual or automatic snapshot is located.
      required:
      - targetSnapshotName
      - sourceRegion
    GetInstanceSnapshotResult:
      type: object
      properties:
        instanceSnapshot:
          allOf:
          - $ref: '#/components/schemas/InstanceSnapshot'
          description: An array of key-value pairs containing information about the results of your get instance snapshot request.
    CreateDiskSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    IpAddressType:
      type: string
      enum:
      - dualstack
      - ipv4
      - ipv6
    RegionName:
      type: string
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-north-1
      - eu-south-2
      - ca-central-1
      - ap-east-1
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-3
      - ap-southeast-5
      - sa-east-1
    ExportSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    OperationFailureException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an operation fails to execute.
    CopySnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    GetDiskSnapshotsResult:
      type: object
      properties:
        diskSnapshots:
          allOf:
          - $ref: '#/components/schemas/DiskSnapshotList'
          description: An array of objects containing information about all block storage disk snapshots.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetDiskSnapshots request and specify the next page token using the pageToken parameter.
    DiskMapList:
      type: array
      items:
        $ref: '#/components/schemas/DiskMap'
    ExportSnapshotRecord:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The export snapshot record name.
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the export snapshot record.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The date when the export snapshot record was created.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The AWS Region and Availability Zone where the export snapshot record is located.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The Lightsail resource type ( ExportSnapshotRecord ).
        state:
          allOf:
          - $ref: '#/components/schemas/RecordState'
          description: The state of the export snapshot record.
        sourceInfo:
          allOf:
          - $ref: '#/components/schemas/ExportSnapshotRecordSourceInfo'
          description: A list of objects describing the source of the export snapshot record.
        destinationInfo:
          allOf:
          - $ref: '#/components/schemas/DestinationInfo'
          description: A list of objects describing the destination of the export snapshot record.
      description: Describes an export snapshot record.
    ExportSnapshotRecordList:
      type: array
      items:
        $ref: '#/components/schemas/ExportSnapshotRecord'
    CreateDiskFromSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    TimeOfDay:
      type: string
      pattern: ^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
    IsoDate:
      type: string
      format: date-time
    InstanceSnapshotList:
      type: array
      items:
        $ref: '#/components/schemas/InstanceSnapshot'
    DiskSnapshot:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the disk snapshot ( my-disk-snapshot ).
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the disk snapshot.
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about an instance or another resource in Lightsail. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The date when the disk snapshot was created.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The AWS Region and Availability Zone where the disk snapshot was created.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The Lightsail resource type ( DiskSnapshot ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB.
        state:
          allOf:
          - $ref: '#/components/schemas/DiskSnapshotState'
          description: The status of the disk snapshot operation.
        progress:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The progress of the snapshot.
        fromDiskName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique name of the source disk from which the disk snapshot was created.
        fromDiskArn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the source disk from which the disk snapshot was created.
        fromInstanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique name of the source instance from which the disk (system volume) snapshot was created.
        fromInstanceArn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the source instance from which the disk (system volume) snapshot was created.
        isFromAutoSnapshot:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the snapshot was created from an automatic snapshot.
      description: Describes a block storage disk snapshot.
    AutoSnapshotAddOnRequest:
      type: object
      properties:
        snapshotTimeOfDay:
          allOf:
          - $ref: '#/components/schemas/TimeOfDay'
          description: 'The daily time when an automatic snapshot will be created. Constraints: Must be in HH:00 format, and in an hourly increment. Specified in Coordinated Universal Time (UTC). The snapshot will be automatically created between the time specified and up to 45 minutes after.'
      description: 'Describes a request to enable or modify the automatic snapshot add-on for an Amazon Lightsail instance or disk. When you modify the automatic snapshot time for a resource, it is typically effective immediately except under the following conditions: If an automatic snapshot has been created for the current day, and you change the snapshot time to a later time of day, then the new snapshot time will be effective the following day. This ensures that two snapshots are not created for the current day. If an automatic snapshot has not yet been created for the current day, and you change the snapshot time to an earlier time of day, then the new snapshot time will be effective the following day and a snapshot is automatically created at the previously set time for the current day. This ensures that a snapshot is created for the current day. If an automatic snapshot has not yet been created for the current day, and you change the snapshot time to a time that is within 30 minutes from your current time, then the new snapshot time will be effective the following day and a snapshot is automatically created at the previously set time for the current day. This ensures that a snapshot is created for the current day, because 30 minutes is required between your current time and the new snapshot time that you specify. If an automatic snapshot is scheduled to be created within 30 minutes from your current time and you change the snapshot time, then the new snapshot time will be effective the following day and a snapshot is automatically created at the previously set time for the current day. This ensures that a snapshot is created for the current day, because 30 minutes is required between your current time and the new snapshot time that you specify.'
    GetExportSnapshotRecordsResult:
      type: object
      properties:
        exportSnapshotRecords:
          allOf:
          - $ref: '#/components/schemas/ExportSnapshotRecordList'
          description: A list of objects describing the export snapshot records.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetExportSnapshotRecords request and specify the next page token using the pageToken parameter.
    CreateInstancesFromSnapshotResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    TagValue:
      type: string
    CreateDiskFromSnapshotRequest:
      type: object
      properties:
        diskName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique Lightsail disk name ( my-disk ).
        diskSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: 'The name of the disk snapshot ( my-snapshot ) from which to create the new storage disk. Constraint: This parameter cannot be defined together with the source disk name parameter. The disk snapshot name and source disk name parameters are mutually exclusive.'
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Availability Zone where you want to create the disk ( us-east-2a ). Choose the same Availability Zone as the Lightsail instance where you want to create the disk. Use the GetRegions operation to list the Availability Zones where Lightsail is currently available.
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB ( 32 ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the resource during create. Use the TagResource action to tag a resource after it's created.
        addOns:
          allOf:
          - $ref: '#/components/schemas/AddOnRequestList'
          description: An array of objects that represent the add-ons to enable for the new disk.
        sourceDiskName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The name of the source disk from which the source automatic snapshot was created. Constraints: This parameter cannot be defined together with the disk snapshot name parameter. The source disk name and disk snapshot name parameters are mutually exclusive. Define this parameter only when creating a new disk from an automatic snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        restoreDate:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The date of the automatic snapshot to use for the new disk. Use the get auto snapshots operation to identify the dates of the available automatic snapshots. Constraints: Must be specified in YYYY-MM-DD format. This parameter cannot be defined together with the use latest restorable auto snapshot parameter. The restore date and use latest restorable auto snapshot parameters are mutually exclusive. Define this parameter only when creating a new disk from an automatic snapshot. For more information, see the Amazon Lightsail Developer Guide .'
        useLatestRestorableAutoSnapshot:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: 'A Boolean value to indicate whether to use the latest available automatic snapshot. Constraints: This parameter cannot be defined together with the restore date parameter. The use latest restorable auto snapshot and restore date parameters are mutually exclusive. Define this parameter only when creating a new disk from an automatic snapshot. For more information, see the Amazon Lightsail Developer Guide .'
      required:
      - diskName
      - availabilityZone
      - sizeInGb
    GetAutoSnapshotsResult:
      type: object
      properties:
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the source instance or disk for the automatic snapshots.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type of the automatic snapshot. The possible values are Instance , and Disk .
        autoSnapshots:
          allOf:
          - $ref: '#/components/schemas/AutoSnapshotDetailsList'
          description: An array of objects that describe the automatic snapshots that are available for the specified source instance or disk.
    ResourceName:
      type: string
      pattern: ^\w[\w\-]*\w$
    boolean:
      type: boolean
    GetExportSnapshotRecordsRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetExportSnapshotRecords request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    GetDiskSnapshotRequest:
      type: object
      properties:
        diskSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the disk snapshot ( my-disk-snapshot ).
      required:
      - diskSnapshotName
    AutoSnapshotStatus:
      type: string
      enum:
      - Success
      - Failed
      - InProgress
      - NotFound
    RecordState:
      type: string
      enum:
      - Started
      - Succeeded
      - Failed
    StringList:
      type: array
      items:
        $ref: '#/components/schemas/string'
    AddOnRequestList:
      type: array
      items:
        $ref: '#/components/schemas/AddOnRequest'
    DeleteInstanceSnapshotRequest:
      type: object
      properties:
        instanceSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the snapshot to delete.
      required:
      - instanceSnapshotName
    DiskList:
      type: array
      items:
        $ref: '#/components/schemas/Disk'
    DeleteDiskSnapshotRequest:
      type: object
      properties:
        diskSnapshotName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the disk snapshot you want to delete ( my-disk-snapshot ).
      required:
      - diskSnapshotName
    DiskInfoList:
      type: array
      items:
        $ref: '#/components/schemas/DiskInfo'
    OperationList:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    AddOnList:
      type: array
      items:
        $ref: '#/components/schemas/AddOn'
    AccountSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an account is still in the setup in progress state.
    DiskState:
      type: string
      enum:
      - pending
      - error
      - available
      - in-use
      - unknown
    GetDiskSnapshotsRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetDiskSnapshots request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    AddOn:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the add-on.
        status:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The status of the add-on.
        snapshotTimeOfDay:
          allOf:
          - $ref: '#/components/schemas/TimeOfDay'
          description: The daily time when an automatic snapshot is created. The time shown is in HH:00 format, and in Coordinated Universal Time (UTC). The snapshot is automatically created between the time shown and up to 45 minutes after.
        nextSnapshotTimeOfDay:
          allOf:
          - $ref: '#/components/schemas/TimeOfDay'
          description: The next daily time an automatic snapshot will be created. The time shown is in HH:00 format, and in Coordinated Universal Time (UTC). The snapshot is automatically created between the time shown and up to 45 minutes after.
        threshold:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The trigger threshold of the action. This add-on only applies to Lightsail for Research resources.
        duration:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The amount of idle time in minutes after which your virtual computer will automatically stop. This add-on only applies to Lightsail for Research resources.
      description: Describes an add-on that is enabled for an Amazon Lightsail resource.
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4. Sign each request with IAM credentials for service name "lightsail"; the Authorization header carries the AWS4-HMAC-SHA256 credential scope, signed headers and signature. Temporary STS credentials additionally require X-Amz-Security-Token. See https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/CommonParameters.html
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
