openapi: 3.2.0
info:
  title: Amazon Lightsail Instances API
  description: The Amazon Lightsail API provides programmatic access to manage Lightsail resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail endpoint
security:
- sigv4: []
tags:
- name: Instances
  description: Lightsail virtual server instance management
paths:
  /instances:
    post:
      operationId: CreateInstances
      summary: Amazon Lightsail Create Instances
      description: Creates one or more Amazon Lightsail instances.
      tags:
      - Instances
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: GetInstances
      summary: Amazon Lightsail Get Instances
      description: Returns information about all Amazon Lightsail virtual private servers.
      tags:
      - Instances
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instances/{instanceName}:
    get:
      operationId: GetInstance
      summary: Amazon Lightsail Get Instance
      description: Returns information about a specific Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteInstance
      summary: Amazon Lightsail Delete Instance
      description: Deletes an Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instances/{instanceName}/start:
    post:
      operationId: StartInstance
      summary: Amazon Lightsail Start Instance
      description: Starts a specific Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instances/{instanceName}/stop:
    post:
      operationId: StopInstance
      summary: Amazon Lightsail Stop Instance
      description: Stops a specific Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
