openapi: 3.2.0
info:
  title: Amazon Lightsail Load Balancers API
  description: Amazon Lightsail is the easiest way to get started with Amazon Web Services (AWS) for developers who need to build websites or web applications.
  version: '2016-11-28'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
security:
- sigv4: []
tags:
- name: Load Balancers
paths:
  /ls/api/2016-11-28/AttachInstancesToLoadBalancer:
    post:
      operationId: AttachInstancesToLoadBalancer
      summary: Attaches one or more Lightsail instances to a load balancer
      description: Attaches one or more Lightsail instances to a load balancer. After some time, the instances are attached to the load balancer and the health check status is available. The attach instances to load balancer operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/AttachInstancesToLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AttachInstancesToLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.AttachInstancesToLoadBalancer
  /ls/api/2016-11-28/CreateLoadBalancer:
    post:
      operationId: CreateLoadBalancer
      summary: Creates a Lightsail load balancer
      description: Creates a Lightsail load balancer. To learn more about deciding whether to load balance your application, see Configure your Lightsail instances for load balancing . You can create up to 10 load balancers per AWS Region in your account. When you create a load balancer, you can specify a unique name and port settings. To change additional load balancer settings, use the UpdateLoadBalancerAttribute operation. The create load balancer operation supports tag-based access control via request tags. For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateLoadBalancer
  /ls/api/2016-11-28/DeleteLoadBalancer:
    post:
      operationId: DeleteLoadBalancer
      summary: Deletes a Lightsail load balancer and all its associated SSL/TLS certificates
      description: Deletes a Lightsail load balancer and all its associated SSL/TLS certificates. Once the load balancer is deleted, you will need to create a new load balancer, create a new certificate, and verify domain ownership again. The delete load balancer operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteLoadBalancer
  /ls/api/2016-11-28/DetachInstancesFromLoadBalancer:
    post:
      operationId: DetachInstancesFromLoadBalancer
      summary: Detaches the specified instances from a Lightsail load balancer
      description: Detaches the specified instances from a Lightsail load balancer. This operation waits until the instances are no longer needed before they are detached from the load balancer. The detach instances from load balancer operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DetachInstancesFromLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DetachInstancesFromLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DetachInstancesFromLoadBalancer
  /ls/api/2016-11-28/GetLoadBalancer:
    post:
      operationId: GetLoadBalancer
      summary: Returns information about the specified Lightsail load balancer
      description: Returns information about the specified Lightsail load balancer.
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetLoadBalancerRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetLoadBalancerResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetLoadBalancer
  /ls/api/2016-11-28/GetLoadBalancerMetricData:
    post:
      operationId: GetLoadBalancerMetricData
      summary: Returns information about health metrics for your Lightsail load balancer
      description: Returns information about health metrics for your Lightsail load balancer. Metrics report the utilization of your resources, and the error counts generated by them. Monitor and collect metric data regularly to maintain the reliability, availability, and performance of your resources.
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetLoadBalancerMetricDataRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetLoadBalancerMetricDataResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetLoadBalancerMetricData
  /ls/api/2016-11-28/GetLoadBalancerTlsPolicies:
    post:
      operationId: GetLoadBalancerTlsPolicies
      summary: Returns a list of TLS security policies that you can apply to Lightsail load…
      description: Returns a list of TLS security policies that you can apply to Lightsail load balancers. For more information about load balancer TLS security policies, see Configuring TLS security policies on your Amazon Lightsail load balancers in the Amazon Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetLoadBalancerTlsPoliciesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetLoadBalancerTlsPoliciesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetLoadBalancerTlsPolicies
  /ls/api/2016-11-28/GetLoadBalancers:
    post:
      operationId: GetLoadBalancers
      summary: Returns information about all load balancers in an account
      description: Returns information about all load balancers in an account.
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetLoadBalancersRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetLoadBalancersResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetLoadBalancers
  /ls/api/2016-11-28/UpdateLoadBalancerAttribute:
    post:
      operationId: UpdateLoadBalancerAttribute
      summary: Updates the specified attribute for a load balancer
      description: Updates the specified attribute for a load balancer. You can only update one attribute at a time. The update load balancer attribute operation supports tag-based access control via resource tags applied to the resource identified by load balancer name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/UpdateLoadBalancerAttributeRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UpdateLoadBalancerAttributeResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.UpdateLoadBalancerAttribute
components:
  schemas:
    MetricDatapoint:
      type: object
      properties:
        average:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The average.
        maximum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The maximum.
        minimum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The minimum.
        sampleCount:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The sample count.
        sum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The sum.
        timestamp:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          description: The timestamp ( 1479816991.349 ).
        unit:
          allOf:
          - $ref: '#/components/schemas/MetricUnit'
          description: The unit.
      description: Describes the metric data point.
    TagValue:
      type: string
    TagKey:
      type: string
    PortList:
      type: array
      items:
        $ref: '#/components/schemas/Port'
    MetricUnit:
      type: string
      enum:
      - Seconds
      - Microseconds
      - Milliseconds
      - Bytes
      - Kilobytes
      - Megabytes
      - Gigabytes
      - Terabytes
      - Bits
      - Kilobits
      - Megabits
      - Gigabits
      - Terabits
      - Percent
      - Count
      - Bytes/Second
      - Kilobytes/Second
      - Megabytes/Second
      - Gigabytes/Second
      - Terabytes/Second
      - Bits/Second
      - Kilobits/Second
      - Megabits/Second
      - Gigabits/Second
      - Terabits/Second
      - Count/Second
      - None
    ServiceException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: A general service exception.
    RegionSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Regions and Availability Zones for Lightsail
        message:
          $ref: '#/components/schemas/string'
        tip:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Opt-in Regions typically take a few minutes to finish setting up before you can work with them. Wait a few minutes and try again.
      description: Lightsail throws this exception when an operation is performed on resources in an opt-in Region that is currently being set up.
    DetachInstancesFromLoadBalancerRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the Lightsail load balancer.
        instanceNames:
          allOf:
          - $ref: '#/components/schemas/ResourceNameList'
          description: An array of strings containing the names of the instances you want to detach from the load balancer.
      required:
      - loadBalancerName
      - instanceNames
    string:
      type: string
    double:
      type: number
    DomainNameList:
      type: array
      items:
        $ref: '#/components/schemas/DomainName'
    GetLoadBalancerTlsPoliciesResult:
      type: object
      properties:
        tlsPolicies:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsPolicyList'
          description: An array of objects that describe the TLS security policies that are available.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetLoadBalancerTlsPolicies request and specify the next page token using the pageToken parameter.
    LoadBalancerConfigurationOptions:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/string'
    IsoDate:
      type: string
      format: date-time
    LoadBalancerAttributeName:
      type: string
      enum:
      - HealthCheckPath
      - SessionStickinessEnabled
      - SessionStickiness_LB_CookieDurationSeconds
      - HttpsRedirectionEnabled
      - TlsPolicyName
    GetLoadBalancerMetricDataRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer.
        metricName:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerMetricName'
          description: 'The metric for which you want to return information. Valid load balancer metric names are listed below, along with the most useful statistics to include in your request, and the published unit value. ClientTLSNegotiationErrorCount - The number of TLS connections initiated by the client that did not establish a session with the load balancer due to a TLS error generated by the load balancer. Possible causes include a mismatch of ciphers or protocols. Statistics : The most useful statistic is Sum . Unit : The published unit is Count . HealthyHostCount - The number of target instances that are considered healthy. Statistics : The most useful statistic are Average , Minimum , and Maximum . Unit : The published unit is Count . HTTPCode_Instance_2XX_Count - The number of HTTP 2XX response codes generated by the target instances. This does not include any response codes generated by the load balancer. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . HTTPCode_Instance_3XX_Count - The number of HTTP 3XX response codes generated by the target instances. This does not include any response codes generated by the load balancer. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . HTTPCode_Instance_4XX_Count - The number of HTTP 4XX response codes generated by the target instances. This does not include any response codes generated by the load balancer. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . HTTPCode_Instance_5XX_Count - The number of HTTP 5XX response codes generated by the target instances. This does not include any response codes generated by the load balancer. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . HTTPCode_LB_4XX_Count - The number of HTTP 4XX client error codes that originated from the load balancer. Client errors are generated when requests are malformed or incomplete. These requests were not received by the target instance. This count does not include response codes generated by the target instances. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . HTTPCode_LB_5XX_Count - The number of HTTP 5XX server error codes that originated from the load balancer. This does not include any response codes generated by the target instance. This metric is reported if there are no healthy instances attached to the load balancer, or if the request rate exceeds the capacity of the instances (spillover) or the load balancer. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . InstanceResponseTime - The time elapsed, in seconds, after the request leaves the load balancer until a response from the target instance is received. Statistics : The most useful statistic is Average . Unit : The published unit is Seconds . RejectedConnectionCount - The number of connections that were rejected because the load balancer had reached its maximum number of connections. Statistics : The most useful statistic is Sum . Unit : The published unit is Count . RequestCount - The number of requests processed over IPv4. This count includes only the requests with a response generated by a target instance of the load balancer. Statistics : The most useful statistic is Sum . Note that Minimum , Maximum , and Average all return 1 . Unit : The published unit is Count . UnhealthyHostCount - The number of target instances that are considered unhealthy. Statistics : The most useful statistic are Average , Minimum , and Maximum . Unit : The published unit is Count .'
        period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
          description: The granularity, in seconds, of the returned data points.
        startTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          description: The start time of the period.
        endTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          description: The end time of the period.
        unit:
          allOf:
          - $ref: '#/components/schemas/MetricUnit'
          description: The unit for the metric data request. Valid units depend on the metric data being requested. For the valid units with each available metric, see the metricName parameter.
        statistics:
          allOf:
          - $ref: '#/components/schemas/MetricStatisticList'
          description: 'The statistic for the metric. The following statistics are available: Minimum - The lowest value observed during the specified period. Use this value to determine low volumes of activity for your application. Maximum - The highest value observed during the specified period. Use this value to determine high volumes of activity for your application. Sum - All values submitted for the matching metric added together. You can use this statistic to determine the total volume of a metric. Average - The value of Sum / SampleCount during the specified period. By comparing this statistic with the Minimum and Maximum values, you can determine the full scope of a metric and how close the average use is to the Minimum and Maximum values. This comparison helps you to know when to increase or decrease your resources. SampleCount - The count, or number, of data points used for the statistical calculation.'
      required:
      - loadBalancerName
      - metricName
      - period
      - startTime
      - endTime
      - unit
      - statistics
    ResourceName:
      type: string
      pattern: ^\w[\w\-]*\w$
    IpAddressType:
      type: string
      enum:
      - dualstack
      - ipv4
      - ipv6
    InstanceHealthSummaryList:
      type: array
      items:
        $ref: '#/components/schemas/InstanceHealthSummary'
    Operation:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the operation.
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resource name.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the operation was initialized ( 1479816991.349 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone.
        isTerminal:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the operation is terminal.
        operationDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Details about the operation ( Debian-1GB-Ohio-1 ).
        operationType:
          allOf:
          - $ref: '#/components/schemas/OperationType'
          description: The type of operation.
        status:
          allOf:
          - $ref: '#/components/schemas/OperationStatus'
          description: The status of the operation.
        statusChangedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the status was changed ( 1479816991.349 ).
        errorCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error code.
        errorDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error details.
      description: Describes the API operation.
    DeleteLoadBalancerResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    MetricStatisticList:
      type: array
      items:
        $ref: '#/components/schemas/MetricStatistic'
    UpdateLoadBalancerAttributeResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    OperationList:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    CreateLoadBalancerResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    timestamp:
      type: string
      format: date-time
    UpdateLoadBalancerAttributeRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer that you want to modify ( my-load-balancer .
        attributeName:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerAttributeName'
          description: The name of the attribute you want to update.
        attributeValue:
          allOf:
          - $ref: '#/components/schemas/StringMax256'
          description: 'The value that you want to specify for the attribute name. The following values are supported depending on what you specify for the attributeName request parameter: If you specify HealthCheckPath for the attributeName request parameter, then the attributeValue request parameter must be the path to ping on the target (for example, /weather/us/wa/seattle ). If you specify SessionStickinessEnabled for the attributeName request parameter, then the attributeValue request parameter must be true to activate session stickiness or false to deactivate session stickiness. If you specify SessionStickiness_LB_CookieDurationSeconds for the attributeName request parameter, then the attributeValue request parameter must be an interger that represents the cookie duration in seconds. If you specify HttpsRedirectionEnabled for the attributeName request parameter, then the attributeValue request parameter must be true to activate HTTP to HTTPS redirection or false to deactivate HTTP to HTTPS redirection. If you specify TlsPolicyName for the attributeName request parameter, then the attributeValue request parameter must be the name of the TLS policy. Use the GetLoadBalancerTlsPolicies action to get a list of TLS policy names that you can specify.'
      required:
      - loadBalancerName
      - attributeName
      - attributeValue
    OperationFailureException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an operation fails to execute.
    LoadBalancerTlsPolicy:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the TLS security policy.
        isDefault:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value that indicates whether the TLS security policy is the default.
        description:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The description of the TLS security policy.
        protocols:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The protocols used in a given TLS security policy.
        ciphers:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The ciphers used by the TLS security policy. The ciphers are listed in order of preference.
      description: Describes the TLS security policies that are available for Lightsail load balancers. For more information about load balancer TLS security policies, see Configuring TLS security policies on your Amazon Lightsail load balancers in the Amazon Lightsail Developer Guide .
    StringList:
      type: array
      items:
        $ref: '#/components/schemas/string'
    LoadBalancerState:
      type: string
      enum:
      - active
      - provisioning
      - active_impaired
      - failed
      - unknown
    GetLoadBalancerResult:
      type: object
      properties:
        loadBalancer:
          allOf:
          - $ref: '#/components/schemas/LoadBalancer'
          description: An object containing information about your load balancer.
    InstanceHealthState:
      type: string
      enum:
      - initial
      - healthy
      - unhealthy
      - unused
      - draining
      - unavailable
    InstanceHealthReason:
      type: string
      enum:
      - Lb.RegistrationInProgress
      - Lb.InitialHealthChecking
      - Lb.InternalError
      - Instance.ResponseCodeMismatch
      - Instance.Timeout
      - Instance.FailedHealthChecks
      - Instance.NotRegistered
      - Instance.NotInUse
      - Instance.DeregistrationInProgress
      - Instance.InvalidState
      - Instance.IpUnusable
    integer:
      type: integer
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    CreateLoadBalancerRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of your load balancer.
        instancePort:
          allOf:
          - $ref: '#/components/schemas/Port'
          description: The instance port where you're creating your load balancer.
        healthCheckPath:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The path you provided to perform the load balancer health check. If you didn't specify a health check path, Lightsail uses the root path of your website ( "/" ). You may want to specify a custom health check path other than the root of your application if your home page loads slowly or has a lot of media or scripting on it.
        certificateName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the SSL/TLS certificate. If you specify certificateName , then certificateDomainName is required (and vice-versa).
        certificateDomainName:
          allOf:
          - $ref: '#/components/schemas/DomainName'
          description: The domain name with which your certificate is associated ( example.com ). If you specify certificateDomainName , then certificateName is required (and vice-versa).
        certificateAlternativeNames:
          allOf:
          - $ref: '#/components/schemas/DomainNameList'
          description: The optional alternative domains and subdomains to use with your SSL/TLS certificate ( www.example.com , example.com , m.example.com , blog.example.com ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values to add to the resource during create. Use the TagResource action to tag a resource after it's created.
        ipAddressType:
          allOf:
          - $ref: '#/components/schemas/IpAddressType'
          description: The IP address type for the load balancer. The possible values are ipv4 for IPv4 only, ipv6 for IPv6 only, and dualstack for IPv4 and IPv6. The default value is dualstack .
        tlsPolicyName:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the TLS policy to apply to the load balancer. Use the GetLoadBalancerTlsPolicies action to get a list of TLS policy names that you can specify. For more information about load balancer TLS policies, see Configuring TLS security policies on your Amazon Lightsail load balancers in the Amazon Lightsail Developer Guide .
      required:
      - loadBalancerName
      - instancePort
    LoadBalancerTlsCertificateSummaryList:
      type: array
      items:
        $ref: '#/components/schemas/LoadBalancerTlsCertificateSummary'
    LoadBalancerTlsPolicyList:
      type: array
      items:
        $ref: '#/components/schemas/LoadBalancerTlsPolicy'
    GetLoadBalancerMetricDataResult:
      type: object
      properties:
        metricName:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerMetricName'
          description: The name of the metric returned.
        metricData:
          allOf:
          - $ref: '#/components/schemas/MetricDatapointList'
          description: An array of objects that describe the metric data returned.
    boolean:
      type: boolean
    ResourceNameList:
      type: array
      items:
        $ref: '#/components/schemas/ResourceName'
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    MetricPeriod:
      type: integer
      minimum: 60
      maximum: 86400
    OperationType:
      type: string
      enum:
      - DeleteKnownHostKeys
      - DeleteInstance
      - CreateInstance
      - StopInstance
      - StartInstance
      - RebootInstance
      - OpenInstancePublicPorts
      - PutInstancePublicPorts
      - CloseInstancePublicPorts
      - AllocateStaticIp
      - ReleaseStaticIp
      - AttachStaticIp
      - DetachStaticIp
      - UpdateDomainEntry
      - DeleteDomainEntry
      - CreateDomain
      - DeleteDomain
      - CreateInstanceSnapshot
      - DeleteInstanceSnapshot
      - CreateInstancesFromSnapshot
      - CreateLoadBalancer
      - DeleteLoadBalancer
      - AttachInstancesToLoadBalancer
      - DetachInstancesFromLoadBalancer
      - UpdateLoadBalancerAttribute
      - CreateLoadBalancerTlsCertificate
      - DeleteLoadBalancerTlsCertificate
      - AttachLoadBalancerTlsCertificate
      - CreateDisk
      - DeleteDisk
      - AttachDisk
      - DetachDisk
      - CreateDiskSnapshot
      - DeleteDiskSnapshot
      - CreateDiskFromSnapshot
      - CreateRelationalDatabase
      - UpdateRelationalDatabase
      - DeleteRelationalDatabase
      - CreateRelationalDatabaseFromSnapshot
      - CreateRelationalDatabaseSnapshot
      - DeleteRelationalDatabaseSnapshot
      - UpdateRelationalDatabaseParameters
      - StartRelationalDatabase
      - RebootRelationalDatabase
      - StopRelationalDatabase
      - EnableAddOn
      - DisableAddOn
      - PutAlarm
      - GetAlarms
      - DeleteAlarm
      - TestAlarm
      - CreateContactMethod
      - GetContactMethods
      - SendContactMethodVerification
      - DeleteContactMethod
      - CreateDistribution
      - UpdateDistribution
      - DeleteDistribution
      - ResetDistributionCache
      - AttachCertificateToDistribution
      - DetachCertificateFromDistribution
      - UpdateDistributionBundle
      - SetIpAddressType
      - CreateCertificate
      - DeleteCertificate
      - CreateContainerService
      - UpdateContainerService
      - DeleteContainerService
      - CreateContainerServiceDeployment
      - CreateContainerServiceRegistryLogin
      - RegisterContainerImage
      - DeleteContainerImage
      - CreateBucket
      - DeleteBucket
      - CreateBucketAccessKey
      - DeleteBucketAccessKey
      - UpdateBucketBundle
      - UpdateBucket
      - SetResourceAccessForBucket
      - UpdateInstanceMetadataOptions
      - StartGUISession
      - StopGUISession
      - SetupInstanceHttps
      - GetProfile
    DetachInstancesFromLoadBalancerResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    AttachInstancesToLoadBalancerResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    LoadBalancerList:
      type: array
      items:
        $ref: '#/components/schemas/LoadBalancer'
    OperationStatus:
      type: string
      enum:
      - NotStarted
      - Started
      - Failed
      - Completed
      - Succeeded
    DomainName:
      type: string
    GetLoadBalancersResult:
      type: object
      properties:
        loadBalancers:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerList'
          description: An array of LoadBalancer objects describing your load balancers.
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. A next page token is not returned if there are no more results to display. To get the next page of results, perform another GetLoadBalancers request and specify the next page token using the pageToken parameter.
    LoadBalancerMetricName:
      type: string
      enum:
      - ClientTLSNegotiationErrorCount
      - HealthyHostCount
      - UnhealthyHostCount
      - HTTPCode_LB_4XX_Count
      - HTTPCode_LB_5XX_Count
      - HTTPCode_Instance_2XX_Count
      - HTTPCode_Instance_3XX_Count
      - HTTPCode_Instance_4XX_Count
      - HTTPCode_Instance_5XX_Count
      - InstanceResponseTime
      - RejectedConnectionCount
      - RequestCount
    DeleteLoadBalancerRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer you want to delete.
      required:
      - loadBalancerName
    LoadBalancerTlsCertificateSummary:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the SSL/TLS certificate.
        isAttached:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: When true , the SSL/TLS certificate is attached to the Lightsail load balancer.
      description: Provides a summary of SSL/TLS certificate metadata.
    AttachInstancesToLoadBalancerRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer.
        instanceNames:
          allOf:
          - $ref: '#/components/schemas/ResourceNameList'
          description: An array of strings representing the instance name(s) you want to attach to your load balancer. An instance must be running before you can attach it to your load balancer. There are no additional limits on the number of instances you can attach to your load balancer, aside from the limit of Lightsail instances you can create in your account (20).
      required:
      - loadBalancerName
      - instanceNames
    NonEmptyString:
      type: string
      pattern: \S
    ResourceType:
      type: string
      enum:
      - ContainerService
      - Instance
      - StaticIp
      - KeyPair
      - InstanceSnapshot
      - Domain
      - PeeredVpc
      - LoadBalancer
      - LoadBalancerTlsCertificate
      - Disk
      - DiskSnapshot
      - RelationalDatabase
      - RelationalDatabaseSnapshot
      - ExportSnapshotRecord
      - CloudFormationStackRecord
      - Alarm
      - ContactMethod
      - Distribution
      - Certificate
      - Bucket
    AccountSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an account is still in the setup in progress state.
    Port:
      type: integer
      minimum: -1
      maximum: 65535
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
    GetLoadBalancerTlsPoliciesRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetLoadBalancerTlsPolicies request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    GetLoadBalancersRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetLoadBalancers request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    RegionName:
      type: string
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-north-1
      - eu-south-2
      - ca-central-1
      - ap-east-1
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-3
      - ap-southeast-5
      - sa-east-1
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
    StringMax256:
      type: string
      minLength: 1
      maxLength: 256
    MetricDatapointList:
      type: array
      items:
        $ref: '#/components/schemas/MetricDatapoint'
    MetricStatistic:
      type: string
      enum:
      - Minimum
      - Maximum
      - Sum
      - Average
      - SampleCount
    LoadBalancer:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer ( my-load-balancer ).
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the load balancer.
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about your Lightsail load balancer. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The date when your load balancer was created.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The AWS Region where your load balancer was created ( us-east-2a ). Lightsail automatically creates your load balancer across Availability Zones.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type ( LoadBalancer .
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        dnsName:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The DNS name of your Lightsail load balancer.
        state:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerState'
          description: The status of your load balancer. Valid values are below.
        protocol:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerProtocol'
          description: The protocol you have enabled for your load balancer. Valid values are below. You can't just have HTTP_HTTPS , but you can have just HTTP .
        publicPorts:
          allOf:
          - $ref: '#/components/schemas/PortList'
          description: An array of public port settings for your load balancer. For HTTP, use port 80. For HTTPS, use port 443.
        healthCheckPath:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The path you specified to perform your health checks. If no path is specified, the load balancer tries to make a request to the default (root) page.
        instancePort:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The port where the load balancer will direct traffic to your Lightsail instances. For HTTP traffic, it's port 80. For HTTPS traffic, it's port 443.
        instanceHealthSummary:
          allOf:
          - $ref: '#/components/schemas/InstanceHealthSummaryList'
          description: An array of InstanceHealthSummary objects describing the health of the load balancer.
        tlsCertificateSummaries:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerTlsCertificateSummaryList'
          description: An array of LoadBalancerTlsCertificateSummary objects that provide additional information about the SSL/TLS certificates. For example, if true , the certificate is attached to the load balancer.
        configurationOptions:
          allOf:
          - $ref: '#/components/schemas/LoadBalancerConfigurationOptions'
          description: A string to string map of the configuration options for your load balancer. Valid values are listed below.
        ipAddressType:
          allOf:
          - $ref: '#/components/schemas/IpAddressType'
          description: The IP address type of the load balancer. The possible values are ipv4 for IPv4 only, ipv6 for IPv6 only, and dualstack for IPv4 and IPv6.
        httpsRedirectionEnabled:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value that indicates whether HTTPS redirection is enabled for the load balancer.
        tlsPolicyName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the TLS security policy for the load balancer.
      description: Describes a load balancer.
    LoadBalancerProtocol:
      type: string
      enum:
      - HTTP_HTTPS
      - HTTP
    GetLoadBalancerRequest:
      type: object
      properties:
        loadBalancerName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the load balancer.
      required:
      - loadBalancerName
    Tag:
      type: object
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/TagKey'
          description: 'The key of the tag. Constraints: Tag keys accept a maximum of 128 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
        value:
          allOf:
          - $ref: '#/components/schemas/TagValue'
          description: 'The value of the tag. Constraints: Tag values accept a maximum of 256 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
      description: Describes a tag key and optional value assigned to an Amazon Lightsail resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
    InstanceHealthSummary:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the Lightsail instance for which you are requesting health check data.
        instanceHealth:
          allOf:
          - $ref: '#/components/schemas/InstanceHealthState'
          description: Describes the overall instance health. Valid values are below.
        instanceHealthReason:
          allOf:
          - $ref: '#/components/schemas/InstanceHealthReason'
          description: 'More information about the instance health. If the instanceHealth is healthy , then an instanceHealthReason value is not provided. If instanceHealth is initial , the instanceHealthReason value can be one of the following: Lb.RegistrationInProgress - The target instance is in the process of being registered with the load balancer. Lb.InitialHealthChecking - The Lightsail load balancer is still sending the target instance the minimum number of health checks required to determine its health status. If instanceHealth is unhealthy , the instanceHealthReason value can be one of the following: Instance.ResponseCodeMismatch - The health checks did not return an expected HTTP code. Instance.Timeout - The health check requests timed out. Instance.FailedHealthChecks - The health checks failed because the connection to the target instance timed out, the target instance response was malformed, or the target instance failed the health check for an unknown reason. Lb.InternalError - The health checks failed due to an internal error. If instanceHealth is unused , the instanceHealthReason value can be one of the following: Instance.NotRegistered - The target instance is not registered with the target group. Instance.NotInUse - The target group is not used by any load balancer, or the target instance is in an Availability Zone that is not enabled for its load balancer. Instance.IpUnusable - The target IP address is reserved for use by a Lightsail load balancer. Instance.InvalidState - The target is in the stopped or terminated state. If instanceHealth is draining , the instanceHealthReason value can be one of the following: Instance.DeregistrationInProgress - The target instance is in the process of being deregistered and the deregistration delay period has not expired.'
      description: Describes information about the health of the instance.
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4. Sign each request with IAM credentials for service name "lightsail"; the Authorization header carries the AWS4-HMAC-SHA256 credential scope, signed headers and signature. Temporary STS credentials additionally require X-Amz-Security-Token. See https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/CommonParameters.html
externalDocs:
  description: Amazon Lightsail API Reference
  url: https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/Welcome.html
