openapi: 3.2.0
info:
  title: Amazon Lightsail Instances API
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
  version: '1.0'
  description: 'Operations tagged Instances across 2 of this provider''s published API definitions: amazon-lightsail-openapi.yml, amazon-lightsail-openapi_2.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://lightsail.us-east-1.amazonaws.com
  description: Amazon Lightsail endpoint
security:
- sigv4: []
tags:
- name: Instances
  description: Lightsail virtual server instance management
paths:
  /instances:
    post:
      operationId: CreateInstances
      summary: Amazon Lightsail Create Instances
      description: Creates one or more Amazon Lightsail instances.
      tags:
      - Instances
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: GetInstances
      summary: Amazon Lightsail Get Instances
      description: Returns information about all Amazon Lightsail virtual private servers.
      tags:
      - Instances
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail endpoint
  /instances/{instanceName}:
    get:
      operationId: GetInstance
      summary: Amazon Lightsail Get Instance
      description: Returns information about a specific Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteInstance
      summary: Amazon Lightsail Delete Instance
      description: Deletes an Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail endpoint
  /instances/{instanceName}/start:
    post:
      operationId: StartInstance
      summary: Amazon Lightsail Start Instance
      description: Starts a specific Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail endpoint
  /instances/{instanceName}/stop:
    post:
      operationId: StopInstance
      summary: Amazon Lightsail Stop Instance
      description: Stops a specific Amazon Lightsail instance.
      tags:
      - Instances
      parameters:
      - name: instanceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the instance.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail endpoint
  /ls/api/2016-11-28/CloseInstancePublicPorts:
    post:
      operationId: CloseInstancePublicPorts
      summary: Closes ports for a specific Amazon Lightsail instance
      description: Closes ports for a specific Amazon Lightsail instance. The CloseInstancePublicPorts action supports tag-based access control via resource tags applied to the resource identified by instanceName . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CloseInstancePublicPortsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CloseInstancePublicPortsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CloseInstancePublicPorts
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/CreateInstances:
    post:
      operationId: postLsApi20161128CreateInstances
      summary: Creates one or more Amazon Lightsail instances
      description: Creates one or more Amazon Lightsail instances. The create instances operation supports tag-based access control via request tags. For more information, see the Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateInstancesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/CreateInstancesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.CreateInstances
      x-operation-id-source: normalized
      x-operation-id-original: CreateInstances
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/DeleteInstance:
    post:
      operationId: postLsApi20161128DeleteInstance
      summary: Deletes an Amazon Lightsail instance
      description: Deletes an Amazon Lightsail instance. The delete instance operation supports tag-based access control via resource tags applied to the resource identified by instance name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DeleteInstanceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DeleteInstanceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.DeleteInstance
      x-operation-id-source: normalized
      x-operation-id-original: DeleteInstance
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/GetInstance:
    post:
      operationId: postLsApi20161128GetInstance
      summary: Returns information about a specific Amazon Lightsail instance, which is a…
      description: Returns information about a specific Amazon Lightsail instance, which is a virtual private server.
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstanceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstanceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstance
      x-operation-id-source: normalized
      x-operation-id-original: GetInstance
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/GetInstanceAccessDetails:
    post:
      operationId: GetInstanceAccessDetails
      summary: Returns temporary SSH keys you can use to connect to a specific virtual private…
      description: Returns temporary SSH keys you can use to connect to a specific virtual private server, or instance . The get instance access details operation supports tag-based access control via resource tags applied to the resource identified by instance name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstanceAccessDetailsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstanceAccessDetailsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstanceAccessDetails
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/GetInstanceMetricData:
    post:
      operationId: GetInstanceMetricData
      summary: Returns the data points for the specified Amazon Lightsail instance metric…
      description: Returns the data points for the specified Amazon Lightsail instance metric, given an instance name. Metrics report the utilization of your resources, and the error counts generated by them. Monitor and collect metric data regularly to maintain the reliability, availability, and performance of your resources.
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstanceMetricDataRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstanceMetricDataResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstanceMetricData
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/GetInstancePortStates:
    post:
      operationId: GetInstancePortStates
      summary: Returns the firewall port states for a specific Amazon Lightsail instance, the…
      description: Returns the firewall port states for a specific Amazon Lightsail instance, the IP addresses allowed to connect to the instance through the ports, and the protocol.
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstancePortStatesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstancePortStatesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstancePortStates
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/GetInstanceState:
    post:
      operationId: GetInstanceState
      summary: Returns the state of a specific instance
      description: Returns the state of a specific instance. Works on one instance at a time.
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstanceStateRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstanceStateResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstanceState
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/GetInstances:
    post:
      operationId: postLsApi20161128GetInstances
      summary: Returns information about all Amazon Lightsail virtual private servers, or…
      description: Returns information about all Amazon Lightsail virtual private servers, or instances .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetInstancesRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/GetInstancesResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.GetInstances
      x-operation-id-source: normalized
      x-operation-id-original: GetInstances
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/OpenInstancePublicPorts:
    post:
      operationId: OpenInstancePublicPorts
      summary: Opens ports for a specific Amazon Lightsail instance, and specifies the IP…
      description: Opens ports for a specific Amazon Lightsail instance, and specifies the IP addresses allowed to connect to the instance through the ports, and the protocol. The OpenInstancePublicPorts action supports tag-based access control via resource tags applied to the resource identified by instanceName . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/OpenInstancePublicPortsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/OpenInstancePublicPortsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.OpenInstancePublicPorts
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/PutInstancePublicPorts:
    post:
      operationId: PutInstancePublicPorts
      summary: Opens ports for a specific Amazon Lightsail instance, and specifies the IP…
      description: Opens ports for a specific Amazon Lightsail instance, and specifies the IP addresses allowed to connect to the instance through the ports, and the protocol. This action also closes all currently open ports that are not included in the request. Include all of the ports and the protocols you want to open in your PutInstancePublicPorts request. Or use the OpenInstancePublicPorts action to open ports without closing currently open ports. The PutInstancePublicPorts action supports tag-based access control via resource tags applied to the resource identified by instanceName . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/PutInstancePublicPortsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/PutInstancePublicPortsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.PutInstancePublicPorts
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/RebootInstance:
    post:
      operationId: RebootInstance
      summary: Restarts a specific instance
      description: Restarts a specific instance. The reboot instance operation supports tag-based access control via resource tags applied to the resource identified by instance name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/RebootInstanceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RebootInstanceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.RebootInstance
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/StartInstance:
    post:
      operationId: postLsApi20161128StartInstance
      summary: Starts a specific Amazon Lightsail instance from a stopped state
      description: Starts a specific Amazon Lightsail instance from a stopped state. To restart an instance, use the reboot instance operation. When you start a stopped instance, Lightsail assigns a new public IP address to the instance. To use the same IP address after stopping and starting an instance, create a static IP address and attach it to the instance. For more information, see the Amazon Lightsail Developer Guide . The start instance operation supports tag-based access control via resource tags applied to the resource identified by instance name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/StartInstanceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/StartInstanceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.StartInstance
      x-operation-id-source: normalized
      x-operation-id-original: StartInstance
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/StopInstance:
    post:
      operationId: postLsApi20161128StopInstance
      summary: Stops a specific Amazon Lightsail instance that is currently running
      description: Stops a specific Amazon Lightsail instance that is currently running. When you start a stopped instance, Lightsail assigns a new public IP address to the instance. To use the same IP address after stopping and starting an instance, create a static IP address and attach it to the instance. For more information, see the Amazon Lightsail Developer Guide . The stop instance operation supports tag-based access control via resource tags applied to the resource identified by instance name . For more information, see the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/StopInstanceRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/StopInstanceResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.StopInstance
      x-operation-id-source: normalized
      x-operation-id-original: StopInstance
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/UpdateInstanceMetadataOptions:
    post:
      operationId: UpdateInstanceMetadataOptions
      summary: Modifies the Amazon Lightsail instance metadata parameters on a running or…
      description: Modifies the Amazon Lightsail instance metadata parameters on a running or stopped instance. When you modify the parameters on a running instance, the GetInstance or GetInstances API operation initially responds with a state of pending . After the parameter modifications are successfully applied, the state changes to applied in subsequent GetInstance or GetInstances API calls. For more information, see Use IMDSv2 with an Amazon Lightsail instance in the Amazon Lightsail Developer Guide .
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/UpdateInstanceMetadataOptionsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UpdateInstanceMetadataOptionsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '428':
          description: AccountSetupInProgressException, RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AccountSetupInProgressException'
                - $ref: '#/components/schemas/RegionSetupInProgressException'
        '400':
          description: InvalidInputException, OperationFailureException
          content:
            application/x-amz-json-1.1:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InvalidInputException'
                - $ref: '#/components/schemas/OperationFailureException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.UpdateInstanceMetadataOptions
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
  /ls/api/2016-11-28/setup-instance-https:
    post:
      operationId: SetupInstanceHttps
      summary: Creates an SSL/TLS certificate that secures traffic for your website
      description: Creates an SSL/TLS certificate that secures traffic for your website. After the certificate is created, it is installed on the specified Lightsail instance. If you provide more than one domain name in the request, at least one name must be less than or equal to 63 characters in length.
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/SetupInstanceHttpsRequest'
      responses:
        '200':
          description: Success
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/SetupInstanceHttpsResult'
        '403':
          description: AccessDeniedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '400':
          description: InvalidInputException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '404':
          description: NotFoundException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '428':
          description: RegionSetupInProgressException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RegionSetupInProgressException'
        '500':
          description: ServiceException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ServiceException'
        '401':
          description: UnauthenticatedException
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/UnauthenticatedException'
      x-amz-target: Lightsail_20161128.SetupInstanceHttps
    servers:
    - url: https://lightsail.us-east-1.amazonaws.com
      description: Amazon Lightsail regional endpoint (us-east-1). Lightsail is regional — one endpoint per AWS Region, lightsail.{region}.amazonaws.com (IPv4) or lightsail.{region}.api.aws (dual-stack). See https://docs.aws.amazon.com/general/latest/gr/lightsail.html
components:
  schemas:
    AccessDeniedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
    GetInstanceResult:
      type: object
      properties:
        instance:
          allOf:
          - $ref: '#/components/schemas/Instance'
          description: An array of key-value pairs containing information about the specified instance.
    AddOnRequest:
      type: object
      properties:
        addOnType:
          allOf:
          - $ref: '#/components/schemas/AddOnType'
          description: The add-on type.
        autoSnapshotAddOnRequest:
          allOf:
          - $ref: '#/components/schemas/AutoSnapshotAddOnRequest'
          description: An object that represents additional parameters when enabling or modifying the automatic snapshot add-on.
        stopInstanceOnIdleRequest:
          allOf:
          - $ref: '#/components/schemas/StopInstanceOnIdleRequest'
          description: An object that represents additional parameters when enabling or modifying the StopInstanceOnIdle add-on. This object only applies to Lightsail for Research resources.
      required:
      - addOnType
      description: Describes a request to enable, modify, or disable an add-on for an Amazon Lightsail resource. An additional cost may be associated with enabling add-ons. For more information, see the Lightsail pricing page .
    HttpProtocolIpv6:
      type: string
      enum:
      - disabled
      - enabled
    MetricStatisticList:
      type: array
      items:
        $ref: '#/components/schemas/MetricStatistic'
    InstanceHardware:
      type: object
      properties:
        cpuCount:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The number of vCPUs the instance has.
        disks:
          allOf:
          - $ref: '#/components/schemas/DiskList'
          description: The disks attached to the instance.
        ramSizeInGb:
          allOf:
          - $ref: '#/components/schemas/float'
          description: The amount of RAM in GB on the instance ( 1.0 ).
      description: Describes the hardware for the instance.
    InstancePortInfoList:
      type: array
      items:
        $ref: '#/components/schemas/InstancePortInfo'
    GetInstancesRequest:
      type: object
      properties:
        pageToken:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The token to advance to the next page of results from your request. To get a page token, perform an initial GetInstances request. If your results are paginated, the response will return a next page token that you can specify as the page token in a subsequent request.
    OperationFailureException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an operation fails to execute.
    GetInstanceAccessDetailsResult:
      type: object
      properties:
        accessDetails:
          allOf:
          - $ref: '#/components/schemas/InstanceAccessDetails'
          description: An array of key-value pairs containing information about a get instance access request.
    MetricDatapoint:
      type: object
      properties:
        average:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The average.
        maximum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The maximum.
        minimum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The minimum.
        sampleCount:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The sample count.
        sum:
          allOf:
          - $ref: '#/components/schemas/double'
          description: The sum.
        timestamp:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          description: The timestamp ( 1479816991.349 ).
        unit:
          allOf:
          - $ref: '#/components/schemas/MetricUnit'
          description: The unit.
      description: Describes the metric data point.
    StopInstanceOnIdleRequest:
      type: object
      properties:
        threshold:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The value to compare with the duration.
        duration:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The amount of idle time in minutes after which your virtual computer will automatically stop.
      description: Describes a request to create or edit the StopInstanceOnIdle add-on. This add-on only applies to Lightsail for Research resources.
    AddOn:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The name of the add-on.
        status:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The status of the add-on.
        snapshotTimeOfDay:
          allOf:
          - $ref: '#/components/schemas/TimeOfDay'
          description: The daily time when an automatic snapshot is created. The time shown is in HH:00 format, and in Coordinated Universal Time (UTC). The snapshot is automatically created between the time shown and up to 45 minutes after.
        nextSnapshotTimeOfDay:
          allOf:
          - $ref: '#/components/schemas/TimeOfDay'
          description: The next daily time an automatic snapshot will be created. The time shown is in HH:00 format, and in Coordinated Universal Time (UTC). The snapshot is automatically created between the time shown and up to 45 minutes after.
        threshold:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The trigger threshold of the action. This add-on only applies to Lightsail for Research resources.
        duration:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The amount of idle time in minutes after which your virtual computer will automatically stop. This add-on only applies to Lightsail for Research resources.
      description: Describes an add-on that is enabled for an Amazon Lightsail resource.
    OpenInstancePublicPortsResult:
      type: object
      properties:
        operation:
          allOf:
          - $ref: '#/components/schemas/Operation'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    SetupDomainNameList:
      type: array
      items:
        $ref: '#/components/schemas/SetupDomainName'
    EmailAddress:
      type: string
      pattern: ^[\w!#$%&.'*+\/=?^_\x60{|}~\-]{1,64}@[a-zA-Z0-9\-]{1,63}(\.[a-zA-Z0-9\-]{1,63}){0,8}(\.[a-zA-Z]{2,63})$
      minLength: 6
      maxLength: 254
    UnauthenticatedException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when the user has not been authenticated.
    DiskState:
      type: string
      enum:
      - pending
      - error
      - available
      - in-use
      - unknown
    PortAccessType:
      type: string
      enum:
      - Public
      - Private
    HostKeysList:
      type: array
      items:
        $ref: '#/components/schemas/HostKeyAttributes'
    float:
      type: number
    AddOnList:
      type: array
      items:
        $ref: '#/components/schemas/AddOn'
    InstanceList:
      type: array
      items:
        $ref: '#/components/schemas/Instance'
    PutInstancePublicPortsRequest:
      type: object
      properties:
        portInfos:
          allOf:
          - $ref: '#/components/schemas/PortInfoList'
          description: An array of objects to describe the ports to open for the specified instance.
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance for which to open ports.
      required:
      - portInfos
      - instanceName
    PasswordData:
      type: object
      properties:
        ciphertext:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The encrypted password. Ciphertext will be an empty string if access to your new instance is not ready yet. When you create an instance, it can take up to 15 minutes for the instance to be ready. If you use the default key pair ( LightsailDefaultKeyPair ), the decrypted password will be available in the password field. If you are using a custom key pair, you need to use your own means of decryption. If you change the Administrator password on the instance, Lightsail will continue to return the original ciphertext value. When accessing the instance using RDP, you need to manually enter the Administrator password after changing it from the default.
        keyPairName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the key pair that you used when creating your instance. If no key pair name was specified when creating the instance, Lightsail uses the default key pair ( LightsailDefaultKeyPair ). If you are using a custom key pair, you need to use your own means of decrypting your password using the ciphertext . Lightsail creates the ciphertext by encrypting your password with the public key part of this key pair.
      description: The password data for the Windows Server-based instance, including the ciphertext and the key pair name.
    OperationType:
      type: string
      enum:
      - DeleteKnownHostKeys
      - DeleteInstance
      - CreateInstance
      - StopInstance
      - StartInstance
      - RebootInstance
      - OpenInstancePublicPorts
      - PutInstancePublicPorts
      - CloseInstancePublicPorts
      - AllocateStaticIp
      - ReleaseStaticIp
      - AttachStaticIp
      - DetachStaticIp
      - UpdateDomainEntry
      - DeleteDomainEntry
      - CreateDomain
      - DeleteDomain
      - CreateInstanceSnapshot
      - DeleteInstanceSnapshot
      - CreateInstancesFromSnapshot
      - CreateLoadBalancer
      - DeleteLoadBalancer
      - AttachInstancesToLoadBalancer
      - DetachInstancesFromLoadBalancer
      - UpdateLoadBalancerAttribute
      - CreateLoadBalancerTlsCertificate
      - DeleteLoadBalancerTlsCertificate
      - AttachLoadBalancerTlsCertificate
      - CreateDisk
      - DeleteDisk
      - AttachDisk
      - DetachDisk
      - CreateDiskSnapshot
      - DeleteDiskSnapshot
      - CreateDiskFromSnapshot
      - CreateRelationalDatabase
      - UpdateRelationalDatabase
      - DeleteRelationalDatabase
      - CreateRelationalDatabaseFromSnapshot
      - CreateRelationalDatabaseSnapshot
      - DeleteRelationalDatabaseSnapshot
      - UpdateRelationalDatabaseParameters
      - StartRelationalDatabase
      - RebootRelationalDatabase
      - StopRelationalDatabase
      - EnableAddOn
      - DisableAddOn
      - PutAlarm
      - GetAlarms
      - DeleteAlarm
      - TestAlarm
      - CreateContactMethod
      - GetContactMethods
      - SendContactMethodVerification
      - DeleteContactMethod
      - CreateDistribution
      - UpdateDistribution
      - DeleteDistribution
      - ResetDistributionCache
      - AttachCertificateToDistribution
      - DetachCertificateFromDistribution
      - UpdateDistributionBundle
      - SetIpAddressType
      - CreateCertificate
      - DeleteCertificate
      - CreateContainerService
      - UpdateContainerService
      - DeleteContainerService
      - CreateContainerServiceDeployment
      - CreateContainerServiceRegistryLogin
      - RegisterContainerImage
      - DeleteContainerImage
      - CreateBucket
      - DeleteBucket
      - CreateBucketAccessKey
      - DeleteBucketAccessKey
      - UpdateBucketBundle
      - UpdateBucket
      - SetResourceAccessForBucket
      - UpdateInstanceMetadataOptions
      - StartGUISession
      - StopGUISession
      - SetupInstanceHttps
      - GetProfile
    CertificateProvider:
      type: string
      enum:
      - LetsEncrypt
    InstancePortState:
      type: object
      properties:
        fromPort:
          allOf:
          - $ref: '#/components/schemas/Port'
          description: 'The first port in a range of open ports on an instance. Allowed ports: TCP and UDP - 0 to 65535 ICMP - The ICMP type for IPv4 addresses. For example, specify 8 as the fromPort (ICMP type), and -1 as the toPort (ICMP code), to enable ICMP Ping. For more information, see Control Messages on Wikipedia . ICMPv6 - The ICMP type for IPv6 addresses. For example, specify 128 as the fromPort (ICMPv6 type), and 0 as toPort (ICMPv6 code). For more information, see Internet Control Message Protocol for IPv6 .'
        toPort:
          allOf:
          - $ref: '#/components/schemas/Port'
          description: 'The last port in a range of open ports on an instance. Allowed ports: TCP and UDP - 0 to 65535 ICMP - The ICMP code for IPv4 addresses. For example, specify 8 as the fromPort (ICMP type), and -1 as the toPort (ICMP code), to enable ICMP Ping. For more information, see Control Messages on Wikipedia . ICMPv6 - The ICMP code for IPv6 addresses. For example, specify 128 as the fromPort (ICMPv6 type), and 0 as toPort (ICMPv6 code). For more information, see Internet Control Message Protocol for IPv6 .'
        protocol:
          allOf:
          - $ref: '#/components/schemas/NetworkProtocol'
          description: 'The IP protocol name. The name can be one of the following: tcp - Transmission Control Protocol (TCP) provides reliable, ordered, and error-checked delivery of streamed data between applications running on hosts communicating by an IP network. If you have an application that doesn''t require reliable data stream service, use UDP instead. all - All transport layer protocol types. For more general information, see Transport layer on Wikipedia . udp - With User Datagram Protocol (UDP), computer applications can send messages (or datagrams) to other hosts on an Internet Protocol (IP) network. Prior communications are not required to set up transmission channels or data paths. Applications that don''t require reliable data stream service can use UDP, which provides a connectionless datagram service that emphasizes reduced latency over reliability. If you do require reliable data stream service, use TCP instead. icmp - Internet Control Message Protocol (ICMP) is used to send error messages and operational information indicating success or failure when communicating with an instance. For example, an error is indicated when an instance could not be reached. When you specify icmp as the protocol , you must specify the ICMP type using the fromPort parameter, and ICMP code using the toPort parameter. icmp6 - Internet Control Message Protocol (ICMP) for IPv6. When you specify icmp6 as the protocol , you must specify the ICMP type using the fromPort parameter, and ICMP code using the toPort parameter.'
        state:
          allOf:
          - $ref: '#/components/schemas/PortState'
          description: Specifies whether the instance port is open or closed . The port state for Lightsail instances is always open .
        cidrs:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The IPv4 address, or range of IPv4 addresses (in CIDR notation) that are allowed to connect to an instance through the ports, and the protocol. The ipv6Cidrs parameter lists the IPv6 addresses that are allowed to connect to an instance. For more information about CIDR block notation, see Classless Inter-Domain Routing on Wikipedia .
        ipv6Cidrs:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The IPv6 address, or range of IPv6 addresses (in CIDR notation) that are allowed to connect to an instance through the ports, and the protocol. Only devices with an IPv6 address can connect to an instance through IPv6; otherwise, IPv4 should be used. The cidrs parameter lists the IPv4 addresses that are allowed to connect to an instance. For more information about CIDR block notation, see Classless Inter-Domain Routing on Wikipedia .
        cidrListAliases:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: An alias that defines access for a preconfigured range of IP addresses. The only alias currently supported is lightsail-connect , which allows IP addresses of the browser-based RDP/SSH client in the Lightsail console to connect to your instance.
      description: Describes open ports on an instance, the IP addresses allowed to connect to the instance through the ports, and the protocol.
    GetInstanceMetricDataResult:
      type: object
      properties:
        metricName:
          allOf:
          - $ref: '#/components/schemas/InstanceMetricName'
          description: The name of the metric returned.
        metricData:
          allOf:
          - $ref: '#/components/schemas/MetricDatapointList'
          description: An array of objects that describe the metric data returned.
    GetInstanceRequest:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance.
      required:
      - instanceName
    MonthlyTransfer:
      type: object
      properties:
        gbPerMonthAllocated:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The amount allocated per month (in GB).
      description: Describes the monthly data transfer in and out of your virtual private server (or instance ).
    NotFoundException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when it cannot find a resource.
    StopInstanceResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    OperationList:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    StringList:
      type: array
      items:
        $ref: '#/components/schemas/string'
    Disk:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The unique name of the disk.
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the disk.
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about an instance or another resource in Lightsail. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The date when the disk was created.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The AWS Region and Availability Zone where the disk is located.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The Lightsail resource type ( Disk ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        addOns:
          allOf:
          - $ref: '#/components/schemas/AddOnList'
          description: An array of objects representing the add-ons enabled on the disk.
        sizeInGb:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The size of the disk in GB.
        isSystemDisk:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether this disk is a system disk (has an operating system loaded on it).
        iops:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The input/output operations per second (IOPS) of the disk.
        path:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The disk path.
        state:
          allOf:
          - $ref: '#/components/schemas/DiskState'
          description: Describes the status of the disk.
        attachedTo:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resources to which the disk is attached.
        isAttached:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the disk is attached.
        attachmentState:
          allOf:
          - $ref: '#/components/schemas/string'
          description: (Discontinued) The attachment state of the disk. In releases prior to November 14, 2017, this parameter returned attached for system disks in the API response. It is now discontinued, but still included in the response. Use isAttached instead.
        gbInUse:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: (Discontinued) The number of GB in use by the disk. In releases prior to November 14, 2017, this parameter was not included in the API response. It is now discontinued.
        autoMountStatus:
          allOf:
          - $ref: '#/components/schemas/AutoMountStatus'
          description: The status of automatically mounting a storage disk to a virtual computer. This parameter only applies to Lightsail for Research resources.
      description: Describes a block storage disk.
    TagKey:
      type: string
    InstanceMetricName:
      type: string
      enum:
      - CPUUtilization
      - NetworkIn
      - NetworkOut
      - StatusCheckFailed
      - StatusCheckFailed_Instance
      - StatusCheckFailed_System
      - BurstCapacityTime
      - BurstCapacityPercentage
      - MetadataNoToken
    GetInstanceAccessDetailsRequest:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance to access.
        protocol:
          allOf:
          - $ref: '#/components/schemas/InstanceAccessProtocol'
          description: The protocol to use to connect to your instance. Defaults to ssh .
      required:
      - instanceName
    PortInfo:
      type: object
      properties:
        fromPort:
          allOf:
          - $ref: '#/components/schemas/Port'
          description: 'The first port in a range of open ports on an instance. Allowed ports: TCP and UDP - 0 to 65535 ICMP - The ICMP type for IPv4 addresses. For example, specify 8 as the fromPort (ICMP type), and -1 as the toPort (ICMP code), to enable ICMP Ping. For more information, see Control Messages on Wikipedia . ICMPv6 - The ICMP type for IPv6 addresses. For example, specify 128 as the fromPort (ICMPv6 type), and 0 as toPort (ICMPv6 code). For more information, see Internet Control Message Protocol for IPv6 .'
        toPort:
          allOf:
          - $ref: '#/components/schemas/Port'
          description: 'The last port in a range of open ports on an instance. Allowed ports: TCP and UDP - 0 to 65535 ICMP - The ICMP code for IPv4 addresses. For example, specify 8 as the fromPort (ICMP type), and -1 as the toPort (ICMP code), to enable ICMP Ping. For more information, see Control Messages on Wikipedia . ICMPv6 - The ICMP code for IPv6 addresses. For example, specify 128 as the fromPort (ICMPv6 type), and 0 as toPort (ICMPv6 code). For more information, see Internet Control Message Protocol for IPv6 .'
        protocol:
          allOf:
          - $ref: '#/components/schemas/NetworkProtocol'
          description: 'The IP protocol name. The name can be one of the following: tcp - Transmission Control Protocol (TCP) provides reliable, ordered, and error-checked delivery of streamed data between applications running on hosts communicating by an IP network. If you have an application that doesn''t require reliable data stream service, use UDP instead. all - All transport layer protocol types. For more general information, see Transport layer on Wikipedia . udp - With User Datagram Protocol (UDP), computer applications can send messages (or datagrams) to other hosts on an Internet Protocol (IP) network. Prior communications are not required to set up transmission channels or data paths. Applications that don''t require reliable data stream service can use UDP, which provides a connectionless datagram service that emphasizes reduced latency over reliability. If you do require reliable data stream service, use TCP instead. icmp - Internet Control Message Protocol (ICMP) is used to send error messages and operational information indicating success or failure when communicating with an instance. For example, an error is indicated when an instance could not be reached. When you specify icmp as the protocol , you must specify the ICMP type using the fromPort parameter, and ICMP code using the toPort parameter. icmp6 - Internet Control Message Protocol (ICMP) for IPv6. When you specify icmp6 as the protocol , you must specify the ICMP type using the fromPort parameter, and ICMP code using the toPort parameter.'
        cidrs:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: 'The IPv4 address, or range of IPv4 addresses (in CIDR notation) that are allowed to connect to an instance through the ports, and the protocol. The ipv6Cidrs parameter lists the IPv6 addresses that are allowed to connect to an instance. Examples: To allow the IP address 192.0.2.44 , specify 192.0.2.44 or 192.0.2.44/32 . To allow the IP addresses 192.0.2.0 to 192.0.2.255 , specify 192.0.2.0/24 . For more information about CIDR block notation, see Classless Inter-Domain Routing on Wikipedia .'
        ipv6Cidrs:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: The IPv6 address, or range of IPv6 addresses (in CIDR notation) that are allowed to connect to an instance through the ports, and the protocol. Only devices with an IPv6 address can connect to an instance through IPv6; otherwise, IPv4 should be used. The cidrs parameter lists the IPv4 addresses that are allowed to connect to an instance. For more information about CIDR block notation, see Classless Inter-Domain Routing on Wikipedia .
        cidrListAliases:
          allOf:
          - $ref: '#/components/schemas/StringList'
          description: An alias that defines access for a preconfigured range of IP addresses. The only alias currently supported is lightsail-connect , which allows IP addresses of the browser-based RDP/SSH client in the Lightsail console to connect to your instance.
      description: Describes ports to open on an instance, the IP addresses allowed to connect to the instance through the ports, and the protocol.
    Ipv6Address:
      type: string
      pattern: ^([A-F0-9]{1,4}:){7}[A-F0-9]{1,4}$
    AccessDirection:
      type: string
      enum:
      - inbound
      - outbound
    InstanceMetadataOptions:
      type: object
      properties:
        state:
          allOf:
          - $ref: '#/components/schemas/InstanceMetadataState'
          description: 'The state of the metadata option changes. The following states are possible: pending - The metadata options are being updated. The instance is not yet ready to process metadata traffic with the new selection. applied - The metadata options have been successfully applied to the instance.'
        httpTokens:
          allOf:
          - $ref: '#/components/schemas/HttpTokens'
          description: The state of token usage for your instance metadata requests. If the state is optional , you can choose whether to retrieve instance metadata with a signed token header on your request. If you retrieve the IAM role credentials without a token, the version 1.0 role credentials are returned. If you retrieve the IAM role credentials by using a valid signed token, the version 2.0 role credentials are returned. If the state is required , you must send a signed token header with all instance metadata retrieval requests. In this state, retrieving the IAM role credential always returns the version 2.0 credentials. The version 1.0 credentials are not available. Not all instance blueprints in Lightsail support version 2.0 credentials. Use the MetadataNoToken instance metric to track the number of calls to the instance metadata service that are using version 1.0 credentials. For more information, see Viewing instance metrics in Amazon Lightsail in the Amazon Lightsail Developer Guide .
        httpEndpoint:
          allOf:
          - $ref: '#/components/schemas/HttpEndpoint'
          description: Indicates whether the HTTP metadata endpoint on your instances is enabled or disabled. If the value is disabled , you cannot access your instance metadata.
        httpPutResponseHopLimit:
          allOf:
          - $ref: '#/components/schemas/integer'
          description: The desired HTTP PUT response hop limit for instance metadata requests. A larger number means that the instance metadata requests can travel farther.
        httpProtocolIpv6:
          allOf:
          - $ref: '#/components/schemas/HttpProtocolIpv6'
          description: Indicates whether the IPv6 endpoint for the instance metadata service is enabled or disabled.
      description: The metadata options for the instance.
    AccountSetupInProgressException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when an account is still in the setup in progress state.
    Instance:
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name the user gave the instance ( Amazon_Linux_2023-1 ).
        arn:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The Amazon Resource Name (ARN) of the instance ( arn:aws:lightsail:us-east-2:123456789101:Instance/244ad76f-8aad-4741-809f-12345EXAMPLE ).
        supportCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The support code. Include this code in your email to support when you have questions about an instance or another resource in Lightsail. This code enables our support team to look up your Lightsail information more easily.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the instance was created ( 1479734909.17 ) in Unix time format.
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The region name and Availability Zone where the instance is located.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The type of resource (usually Instance ).
        tags:
          allOf:
          - $ref: '#/components/schemas/TagList'
          description: The tag keys and optional values for the resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
        blueprintId:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The blueprint ID ( amazon_linux_2023 ).
        blueprintName:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The friendly name of the blueprint ( Amazon Linux 2023 ).
        bundleId:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The bundle for the instance ( micro_x_x ).
        addOns:
          allOf:
          - $ref: '#/components/schemas/AddOnList'
          description: An array of objects representing the add-ons enabled on the instance.
        isStaticIp:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether this instance has a static IP assigned to it.
        privateIpAddress:
          allOf:
          - $ref: '#/components/schemas/IpAddress'
          description: The private IP address of the instance.
        publicIpAddress:
          allOf:
          - $ref: '#/components/schemas/IpAddress'
          description: The public IP address of the instance.
        ipv6Addresses:
          allOf:
          - $ref: '#/components/schemas/Ipv6AddressList'
          description: The IPv6 addresses of the instance.
        ipAddressType:
          allOf:
          - $ref: '#/components/schemas/IpAddressType'
          description: The IP address type of the instance. The possible values are ipv4 for IPv4 only, ipv6 for IPv6 only, and dualstack for IPv4 and IPv6.
        hardware:
          allOf:
          - $ref: '#/components/schemas/InstanceHardware'
          description: The size of the vCPU and the amount of RAM for the instance.
        networking:
          allOf:
          - $ref: '#/components/schemas/InstanceNetworking'
          description: Information about the public ports and monthly data transfer rates for the instance.
        state:
          allOf:
          - $ref: '#/components/schemas/InstanceState'
          description: The status code and the state ( running ) for the instance.
        username:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The user name for connecting to the instance ( ec2-user ).
        sshKeyName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the SSH key being used to connect to the instance ( LightsailDefaultKeyPair ).
        metadataOptions:
          allOf:
          - $ref: '#/components/schemas/InstanceMetadataOptions'
          description: The metadata options for the Amazon Lightsail instance.
      description: Describes an instance (a virtual private server).
    DiskList:
      type: array
      items:
        $ref: '#/components/schemas/Disk'
    DeleteInstanceResult:
      type: object
      properties:
        operations:
          allOf:
          - $ref: '#/components/schemas/OperationList'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    Tag:
      type: object
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/TagKey'
          description: 'The key of the tag. Constraints: Tag keys accept a maximum of 128 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
        value:
          allOf:
          - $ref: '#/components/schemas/TagValue'
          description: 'The value of the tag. Constraints: Tag values accept a maximum of 256 letters, numbers, spaces in UTF-8, or the following characters: + - = . _ : / @'
      description: Describes a tag key and optional value assigned to an Amazon Lightsail resource. For more information about tags in Lightsail, see the Amazon Lightsail Developer Guide .
    OperationStatus:
      type: string
      enum:
      - NotStarted
      - Started
      - Failed
      - Completed
      - Succeeded
    SetupInstanceHttpsRequest:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the Lightsail instance.
        emailAddress:
          allOf:
          - $ref: '#/components/schemas/EmailAddress'
          description: The contact method for SSL/TLS certificate renewal alerts. You can enter one email address.
        domainNames:
          allOf:
          - $ref: '#/components/schemas/SetupDomainNameList'
          description: The name of the domain and subdomains that were specified for the SSL/TLS certificate.
        certificateProvider:
          allOf:
          - $ref: '#/components/schemas/CertificateProvider'
          description: The certificate authority that issues the SSL/TLS certificate.
      required:
      - instanceName
      - emailAddress
      - domainNames
      - certificateProvider
    AutoSnapshotAddOnRequest:
      type: object
      properties:
        snapshotTimeOfDay:
          allOf:
          - $ref: '#/components/schemas/TimeOfDay'
          description: 'The daily time when an automatic snapshot will be created. Constraints: Must be in HH:00 format, and in an hourly increment. Specified in Coordinated Universal Time (UTC). The snapshot will be automatically created between the time specified and up to 45 minutes after.'
      description: 'Describes a request to enable or modify the automatic snapshot add-on for an Amazon Lightsail instance or disk. When you modify the automatic snapshot time for a resource, it is typically effective immediately except under the following conditions: If an automatic snapshot has been created for the current day, and you change the snapshot time to a later time of day, then the new snapshot time will be effective the following day. This ensures that two snapshots are not created for the current day. If an automatic snapshot has not yet been created for the current day, and you change the snapshot time to an earlier time of day, then the new snapshot time will be effective the following day and a snapshot is automatically created at the previously set time for the current day. This ensures that a snapshot is created for the current day. If an automatic snapshot has not yet been created for the current day, and you change the snapshot time to a time that is within 30 minutes from your current time, then the new snapshot time will be effective the following day and a snapshot is automatically created at the previously set time for the current day. This ensures that a snapshot is created for the current day, because 30 minutes is required between your current time and the new snapshot time that you specify. If an automatic snapshot is scheduled to be created within 30 minutes from your current time and you change the snapshot time, then the new snapshot time will be effective the following day and a snapshot is automatically created at the previously set time for the current day. This ensures that a snapshot is created for the current day, because 30 minutes is required between your current time and the new snapshot time that you specify.'
    NetworkProtocol:
      type: string
      enum:
      - tcp
      - all
      - udp
      - icmp
      - icmpv6
    CloseInstancePublicPortsRequest:
      type: object
      properties:
        portInfo:
          allOf:
          - $ref: '#/components/schemas/PortInfo'
          description: An object to describe the ports to close for the specified instance.
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance for which to close ports.
      required:
      - portInfo
      - instanceName
    HttpTokens:
      type: string
      enum:
      - optional
      - required
    GetInstancePortStatesRequest:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance for which to return firewall port states.
      required:
      - instanceName
    MetricPeriod:
      type: integer
      minimum: 60
      maximum: 86400
    InstanceNetworking:
      type: object
      properties:
        monthlyTransfer:
          allOf:
          - $ref: '#/components/schemas/MonthlyTransfer'
          description: The amount of data in GB allocated for monthly data transfers.
        ports:
          allOf:
          - $ref: '#/components/schemas/InstancePortInfoList'
          description: An array of key-value pairs containing information about the ports on the instance.
      description: Describes monthly data transfer rates and port information for an instance.
    Port:
      type: integer
      minimum: -1
      maximum: 65535
    InvalidInputException:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/string'
        docs:
          $ref: '#/components/schemas/string'
        message:
          $ref: '#/components/schemas/string'
        tip:
          $ref: '#/components/schemas/string'
      description: Lightsail throws this exception when user input does not conform to the validation rules of an input field. Domain and distribution APIs are only available in the N. Virginia ( us-east-1 ) Amazon Web Services Region. Please set your Amazon Web Services Region configuration to us-east-1 to create, view, or edit these resources.
    InstanceMetadataState:
      type: string
      enum:
      - pending
      - applied
    MetricStatistic:
      type: string
      enum:
      - Minimum
      - Maximum
      - Sum
      - Average
      - SampleCount
    SetupDomainName:
      type: string
      pattern: ^[a-zA-Z0-9\-]{1,63}(\.[a-zA-Z0-9\-]{1,63}){0,8}(\.[a-zA-Z]{2,63})$
      minLength: 4
      maxLength: 253
    GetInstanceStateRequest:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance to get state information about.
      required:
      - instanceName
    Operation:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/NonEmptyString'
          description: The ID of the operation.
        resourceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The resource name.
        resourceType:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The resource type.
        createdAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the operation was initialized ( 1479816991.349 ).
        location:
          allOf:
          - $ref: '#/components/schemas/ResourceLocation'
          description: The Amazon Web Services Region and Availability Zone.
        isTerminal:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value indicating whether the operation is terminal.
        operationDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: Details about the operation ( Debian-1GB-Ohio-1 ).
        operationType:
          allOf:
          - $ref: '#/components/schemas/OperationType'
          description: The type of operation.
        status:
          allOf:
          - $ref: '#/components/schemas/OperationStatus'
          description: The status of the operation.
        statusChangedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The timestamp when the status was changed ( 1479816991.349 ).
        errorCode:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error code.
        errorDetails:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The error details.
      description: Describes the API operation.
    HostKeyAttributes:
      type: object
      properties:
        algorithm:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The SSH host key algorithm or the RDP certificate format. For SSH host keys, the algorithm may be ssh-rsa , ecdsa-sha2-nistp256 , ssh-ed25519 , etc. For RDP certificates, the algorithm is always x509-cert .
        publicKey:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The public SSH host key or the RDP certificate.
        witnessedAt:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The time that the SSH host key or RDP certificate was recorded by Lightsail.
        fingerprintSHA1:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The SHA-1 fingerprint of the returned SSH host key or RDP certificate. Example of an SHA-1 SSH fingerprint: SHA1:1CHH6FaAaXjtFOsR/t83vf91SR0 Example of an SHA-1 RDP fingerprint: af:34:51:fe:09:f0:e0:da:b8:4e:56:ca:60:c2:10:ff:38:06:db:45'
        fingerprintSHA256:
          allOf:
          - $ref: '#/components/schemas/string'
          description: 'The SHA-256 fingerprint of the returned SSH host key or RDP certificate. Example of an SHA-256 SSH fingerprint: SHA256:KTsMnRBh1IhD17HpdfsbzeGA4jOijm5tyXsMjKVbB8o Example of an SHA-256 RDP fingerprint: 03:9b:36:9f:4b:de:4e:61:70:fc:7c:c9:78:e7:d2:1a:1c:25:a8:0c:91:f6:7c:e4:d6:a0:85:c8:b4:53:99:68'
        notValidBefore:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The returned RDP certificate is valid after this point in time. This value is listed only for RDP certificates.
        notValidAfter:
          allOf:
          - $ref: '#/components/schemas/IsoDate'
          description: The returned RDP certificate is not valid after this point in time. This value is listed only for RDP certificates.
      description: Describes the public SSH host keys or the RDP certificate.
    MetricDatapointList:
      type: array
      items:
        $ref: '#/components/schemas/MetricDatapoint'
    DeleteInstanceRequest:
      type: object
      properties:
        instanceName:
          allOf:
          - $ref: '#/components/schemas/ResourceName'
          description: The name of the instance to delete.
        forceDeleteAddOns:
          allOf:
          - $ref: '#/components/schemas/boolean'
          description: A Boolean value to indicate whether to delete all add-ons for the instance.
      required:
      - instanceName
    ResourceLocation:
      type: object
      properties:
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/string'
          description: The Availability Zone. Follows the format us-east-2a (case-sensitive).
        regionName:
          allOf:
          - $ref: '#/components/schemas/RegionName'
          description: The Amazon Web Services Region name.
      description: Describes the resource location.
    MetricUnit:
      type: string
      enum:
      - Seconds
      - Microseconds
      - Milliseconds
      - Bytes
      - Kilobytes
      - Megabytes
      - Gigabytes
      - Terabytes
      - Bits
      - Kilobits
      - Megabits
      - Gigabits
      - Terabits
      - Percent
      - Count
      - Bytes/Second
      - Kilobytes/Second
      - Megabytes/Second
      - Gigabytes/Second
      - Terabytes/Second
      - Bits/Second
      - Kilobits/Second
      - Megabits/Second
      - Gigabits/Second
      - Terabits/Second
      - Count/Second
      - None
    timestamp:
      type: string
      format: date-time
    TagValue:
      type: string
    PutInstancePublicPortsResult:
      type: object
      properties:
        operation:
          allOf:
          - $ref: '#/components/schemas/Operation'
          description: An array of objects that describe the result of the action, such as the status of the request, the timestamp of the request, and the resources affected by the request.
    SetupInstanceHttpsResult:
      type: object
      properties:
        operations:
          allOf:
[...]
